@import "../../../assets/scss/mixins/mixins";

.monitor-stat__header-row,
.monitor-stat__row {
  display: grid;
  grid-template-columns: 30px 200px 85px 170px 180px 210px 95px 130px 115px;
  grid-template-areas: "count manager reward order sales revenue left prediction deviation";

  &.control {
    grid-template-columns: auto 150px 200px 200px 200px 260px 175px;
    grid-template-areas: "count manager deal-count rate-count debate-count debate-count-estimation score";
  }
}

.monitor-stat {
  margin-top: 30px;
  box-shadow: 0 10px 20px rgba(22, 23, 24, 0.04);
  border-radius: 10px;
  background-color: $white;

  &__header {
    display: grid;
    grid-template-columns: 210px 24px;
    justify-content: space-between;
    padding: 20px 20px 0 30px;

    &-row {
      font-size: 14px;
      font-weight: 600;
      line-height: 17px;
      letter-spacing: 0;
      text-align: left;
      height: 50px;
      display: grid;
      align-items: center;
    }
  }

  &__row {
    height: 55px;
    display: grid;
    align-items: center;
    border-top: 1px solid $manager-row-border;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
  }

  &__reward {
    &.reward {
      padding: 0 15px;
      display: grid;
      grid-template-columns: max-content max-content;
      align-items: center;
      height: 55px;
      border-right: 1px solid $manager-row-border;
    }
  }

  &__order {
    padding: 0 15px;

    &.order {
      padding: 0 15px;
      display: grid;
      grid-template-columns: max-content max-content;
      align-items: center;
      height: 55px;
      border-right: 1px solid $manager-row-border;
    }
  }

  &__payment {
    padding: 0 15px;

    &.payment {
      padding: 0 15px;
      display: grid;
      grid-template-columns: max-content max-content;
      align-items: center;
      border-right: 1px solid $manager-row-border;
      height: 55px;
    }
  }

  &__revenue {
    padding: 0 15px;

    &.revenue {
      padding: 0 15px;
      display: grid;
      grid-template-columns: max-content max-content;
      align-items: center;
      border-right: 1px solid $manager-row-border;
      height: 55px;
    }
  }

  &__left {
    padding: 0 15px;

    &.left {
      height: 55px;
      padding: 0 15px;
      display: grid;
      align-items: center;
    }
  }

  &__count {
    justify-self: center;

    &.count {
      color: $menu-icon;
    }
  }

  &__prediction,
  &__deviation {
    justify-self: center;
  }

  &__manager {
    &.manager {
      justify-self: start;
      display: grid;
      grid-template-columns: 30px 1fr;
      align-items: center;
    }
  }

  &__deal-count,
  &__rate-count,
  &__debate-count,
  &__debate-count-estimation,
  &__score {
    text-align: center;
  }
}

.stat-header {
  &__icon {
    width: 100%;

    &::before {
      content: "";
      display: inline-block;
      width: 30px;
      height: 30px;
      background-image: url("../../../assets/img/i-cup.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      margin-right: 10px;
    }
  }

  &__left {
    display: grid;
    grid-template-columns: 115px 102px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 9px;
      right: -9px;
      width: 8px;
      height: 13px;
      mask-image: url("../../../assets/img/a-down.svg");
      background-color: $black;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: 100% 100%;
      transform: rotate(90deg);
      pointer-events: none;
    }
  }

  &__sort {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
  }

  &__tooltip {
    @include tooltp-monitor;
  }
}

.monitor-select {
  &__stat {
    border: 0;
    background-color: transparent;
    color: $black;
    font-size: inherit;
    appearance: none;
    cursor: pointer;
  }
}

.stat-tooltip {
  &__wrapper {
    width: 190px;
    height: auto;
  }
}

.manager {
  &__info {
    margin-left: 10px;
  }
}

.manager__avatar {
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 1px solid $black;
  padding: 2px;
  border-radius: 100%;

  img {
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 100%;
  }
}

.manager-avatar {
  &__default {
    background-image: url("../../../assets/img/default-avatar.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }

  &__wrapper {
    display: inline-block;
    width: 29px;
    height: 29px;
    overflow: hidden;
    border-radius: 100%;
  }
}

.manager-info {
  &__name {
    font-weight: 400;
  }

  &__rating {
    font-weight: 500;
    display: grid;
    grid-template-columns: 11px 1fr;
    align-items: center;
    margin-top: 2px;
  }
}

.manager-rating {
  &__icon {
    &::before {
      content: "";
      width: 11px;
      height: 11px;
      display: inline-block;
      background-color: $yellow;
      mask-image: url("../../../assets/img/rating-star.svg");
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: 100% 100%;
    }
  }

  &__text {
    margin-left: 3px;
  }
}

.manager-avatar__tooltip {
  padding: 0;
  border-radius: 100%;
  width: 224px;
  height: 224px;
  max-height: 224px;
  max-width: 224px;
  overflow: hidden;
  left: 0;

  img {
    padding: 0;
    width: 224px;
    height: 224px;
    border-radius: 100%;
  }
}

.order-wrapper,
.payment-wrapper,
.revenue-wrapper,
.deviation-wrapper {
  position: relative;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 5px;
  font-weight: 400;
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: start;
  width: max-content;

  &__value {
    font-weight: 600;
    display: inline-block;
    width: max-content;
    max-width: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__plan {
    display: inline-block;
    width: max-content;
    max-width: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.active {
      &::before {
        content: " /";
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        color: rgba($login-name, 0.3);
      }
    }
  }

  &.default {
    background-color: #f4f4f6;
    color: $login-name;
  }

  &.11 {
    background: rgba(255, 206, 215, 0.06);
    color: $red;
  }

  &.12 {
    background: #f8da78;
    color: #a66c0f;
  }

  &.13 {
    background: #88d3a7;
    box-shadow: 0 2px 5px rgba(36, 200, 105, 0.01);
    color: #3f614d;
  }

  &.14 {
    background: $green;
    box-shadow: 0 2px 5px rgba(36, 200, 105, 0.01);
    color: #fff;
  }

  &.15 {
    background: #07020e;
    box-shadow: 0 2px 5px rgba(191, 192, 196, 0.01);
    color: #30e37c;
  }
}

.revenue-wrapper {
  &__value {
    max-width: none;
  }
}
