@import "../../../assets/scss/mixins/mixins";

.monitor-stat__header-row,
.monitor-stat__row {
  display: grid;
  grid-template-columns: 30px 200px 85px 170px 180px 210px 95px 130px 115px;
  grid-template-areas: "count manager reward order sales revenue left prediction deviation";
}

.monitor-stat {
  margin-top: 30px;
  box-shadow: 0 10px 20px rgba(22, 23, 24, 0.04);
  border-radius: 10px;
  background-color: $white;

  &__header {
    display: grid;
    grid-template-columns: 1fr 24px;
    justify-content: space-between;
    padding: 20px 20px 0 30px;

    &-row {
      font-size: 14px;
      font-weight: 600;
      line-height: 17px;
      letter-spacing: 0;
      text-align: left;
      height: 50px;
      display: grid;
      align-items: center;
    }
  }

  &__row {
    height: 55px;
    display: grid;
    align-items: center;
    border-top: 1px solid $manager-row-border;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
  }

  &__count {
    justify-self: center;

    &.count {
      color: $menu-icon;
    }
  }

  &__prediction,
  &__deviation {
    justify-self: center;
  }

  &__manager {
    &.manager {
      justify-self: start;
      display: grid;
      grid-template-columns: 30px 1fr;
      align-items: center;
    }
  }
}

.stat-header {
  &__icon {
    width: 100%;

    &::before {
      content: "";
      display: inline-block;
      width: 30px;
      height: 30px;
      background-image: url("../../../assets/img/i-cup.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      margin-right: 10px;
    }
  }

  &__left {
    display: grid;
    grid-template-columns: 115px 102px;
  }

  &__sort {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
  }

  &__tooltip {
    @include tooltp-monitor;
  }
}

.monitor-select {
  &__stat {
    border: 0;
    background-color: transparent;
    color: $black;
    font-size: inherit;
    margin-left: -5px;
  }
}

.stat-tooltip {
  &__wrapper {
    width: 190px;
    height: auto;
  }
}

.manager {
  &__info {
    margin-left: 10px;
  }
}

.manager__avatar {
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 1px solid $black;
  padding: 2px;
  border-radius: 100%;

  img {
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 100%;
  }
}

.manager-avatar {
  &__default {
    background-image: url("../../../assets/img/default-avatar.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }
}

.manager-info {
  &__name {
    font-weight: 400;
  }

  &__rating {
    font-weight: 500;
    display: grid;
    grid-template-columns: 11px 1fr;
    align-items: center;
    margin-top: 2px;
  }
}

.manager-rating {
  &__icon {
    &::before {
      content: "";
      width: 11px;
      height: 11px;
      display: inline-block;
      background-color: $yellow;
      mask-image: url("../../../assets/img/rating-star.svg");
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: 100% 100%;
    }
  }

  &__text {
    margin-left: 3px;
  }
}

.manager-avatar__tooltip {
  padding: 0;
  border-radius: 100%;
  max-height: 190px;

  img {
    padding: 0;
    width: 190px;
    height: 190px;
    border-radius: 100%;
  }
}
