.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10001;
  background: rgba(4, 7, 36, 0.4);
  display: none;
  transition: display 0.4s;

  &.show {
    display: block;
  }

  &__inner {
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    width: 100%;
    color: black;
    padding: 0 100px;
    text-align: center;
    user-select: none;
    pointer-events: none;
  }

  &__label {
    font-size: 1em;
    padding: 1%;
    opacity: 0;
    display: inline-block;
    user-select: none;

    &::after {
      font-family: FontAwesome, sans-serif;
      content: "\f111";
    }

    &:nth-child(1) {
      animation: loader 3s 600ms infinite ease-in-out;
    }

    &:nth-child(2) {
      animation: loader 3s 500ms infinite ease-in-out;
    }

    &:nth-child(3) {
      animation: loader 3s 400ms infinite ease-in-out;
    }

    &:nth-child(4) {
      animation: loader 3s 300ms infinite ease-in-out;
    }

    &:nth-child(5) {
      animation: loader 3s 200ms infinite ease-in-out;
    }
  }
}

@keyframes loader {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }

  33% {
    opacity: 1;
    transform: translateX(0);
  }

  66% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}
