<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Мои курсы">

	<title>Мои курсы</title>
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
		(function (m, e, t, r, i, k, a) {
			m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
			m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
		})
			(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

		ym(74362000, "init", {
			clickmap: true,
			trackLinks: true,
			accurateTrackBounce: true,
			webvisor: true
		});
	</script>
	<noscript>
		<div><img src="https://mc.yandex.ru/watch/74362000" style="position:absolute; left:-9999px;" alt="" /></div>
	</noscript>
	<!--/Yandex.Metrika counter -->
</head>

<body class="body" onload="getCountdownOnUserCoursesPage()">
	<div class="container">
		<div th:replace="base :: user-nav"></div>
		<div th:replace="base :: user-mobile-nav"></div>

		<div class="body__wrapper">
			<div class="body__header header-block">
				<header class="header">
					<div class="header__box block">
						<div class="header__wrapper block-wrapper">
							<div class="header__main">
								<div class="header__items">
									<div class="header__items-wrapper">
										<div class="header__item header__item_title">
											<h3>Мои курсы</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</header>
			</div>
			<div class="body__content">
				<div class="available-courses block -gap-inner-bottom_5 -gap-inner-top_5">
					<div class="available-courses__wrapper block-wrapper">
						<div class="available-courses__main">
							<div class="tabs-animated">
								<th:block th:each="project, stat : ${projectCourses}">
									<th:block th:if="${project.name}">
										<div js-tabby-panel class="tabs-panel is-open" th:attr="data-tabby='c:' + ${stat.index}">
											<div class="tabs-panel-transform">
												<div class="available-courses__list">
													<th:block th:each="course, st : ${project.courses}">
														<div class="available-course" th:classappend="${course.theme}"
															th:style="'background-color:' + ${course.background} + ';'">
															<div class="available-course__inner">
																<div class="available-course__left">
																	<div class="available-course__date course-date clientTimeInfo">
																		<span class="course-date__item">
																			<span class="course-date__icon"></span>
																			<span class="startDate" th:utext="${course.startDate}"></span>
																		</span>
																		<span class="course-date__item startTime" th:utext="${course.startTime}"></span>
																		<span class="course-date__item countdown" th:id="${course.idDeal}"
																			th:data-startDate="${course.fullStartTime}"></span>
																	</div>
																	<div class="available-course__title" th:utext="${course.name}"></div>
																	<div class="available-course__type" th:utext="${course.type}"></div>
																	<div class="available-course__progress">
																		<div class="progress-bar">
																			<div class="progress-bar__wrapper">
																				<div class="progress-bar__progress"
																					th:style="'width:' + ${course.completedModulesPercent} + '%;'"
																					th:classappend="${course.completedModulesClass}">
																				</div>
																				<span class="progress-bar__text"
																					th:utext="${course.completedModulesPercent} + ' %'"></span>
																				<span class="progress-bar__text"
																					th:utext="${course.completedModulesCount} + ' модуля пройдено'"></span>
																			</div>
																		</div>
																	</div>
																	<div class="available-course__about course-content">
																		<div class="course-content__item course-content__modules block-stat">
																			<span class="course-content__icon"></span>
																			<span class="course-modules__text block-stat__text"
																				th:utext="${course.modulesCount} + ' модулей'"></span>
																		</div>
																		<div class="course-content__item course-content__lesson">
																			<span class="course-content__icon"></span>
																			<span class="course-modules__text"
																				th:utext="${course.lessonsCount + course.homeworkCount} + ' уроков'"></span>
																		</div>
																		<div class="course-content__item course-content__homework">
																			<span class="course-content__icon"></span>
																			<span class="course-modules__text lesson-text course-content__text homework-type"
																				th:utext="${course.homeworkCount} + ' домашних заданий'"></span>
																		</div>
																	</div>
																</div>
																<a th:href="${course.idDeal} + '/'" class="available-course__button">
																	Перейти к курсу
																	<span class="available-course__arrow"></span>
																</a>
																<div class="available-course__image course-image">
																	<img class="course-image__img" th:src="'/' + ${course.backgroundImage}"
																		alt="course-background">
																</div>
															</div>
														</div>
													</th:block>
												</div>
											</div>
										</div>
									</th:block>
								</th:block>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<th:block th:insert="base :: jquery" />
<script th:src="@{/js/countdown.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/progress-bar.js}"></script>

<script th:inline='javascript'>
	/*<![CDATA[*/
	var filter = null;
	var role = null;
	var items = null;
	var today = null;
	var manager = null;
	var company = null;
	var managers = null;
	var socials = null;
	var comments = [[${ homework?.comments }]];
	var rate = null;
	var banners = null;
	/*]]>*/
</script>

</html>