.login {
  display: grid;
  grid-template-columns: 1 1fr;
  grid-template-areas: "form";
  height: 100vh;

  &__form {
    grid-area: form;
    align-self: center;
    justify-self: center;
    height: auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 8px 18px rgba(5, 4, 20, 0.08);
    margin: 40px 0;
    width: calc(100% - 40px);
  }

  &__list {
    margin-top: 15px;
    padding: 0 25px;
  }

  &__title {
    font-weight: 400;
    color: $black;
    font-size: 20px;
    line-height: 26px;
    padding: 25px 25px 0;
  }

  &__name {
    font-weight: 400;
    color: #7c7b85;
    font-size: 12px;
    line-height: 14px;
    padding-left: 10px;
  }

  &__input {
    width: 100%;
    font-size: 12px;
    line-height: 14px;
    border-radius: 3px;
    border: 1px solid $border-input;
    margin-top: 10px;
    height: 40px;
    padding: 0 40px 0 15px;

    &::placeholder {
      color: rgba(101, 92, 117, 0.5);
    }
  }

  &__nav {
    border-top: 1px solid rgba(195, 194, 201, 0.4);
    margin-top: 15px;
    padding: 20px 20px 0;
  }

  &__button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black;
    color: $white;
    font-weight: 400;
    border-radius: 5px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: 1px solid $black;
    font-size: 14px;
    line-height: 16px;
    height: 40px;

    &:hover {
      background-color: $white;
      color: $black;
    }
  }

  &__forgot {
    font-size: 12px;
    line-height: 14px;
    color: #7c7b85;
    padding: 20px 25px;

    &--link {
      text-decoration: underline;
      color: $black;
    }
  }

  &__item {
    position: relative;

    &:not(:first-child) {
      margin-top: 15px;
    }
  }

  &__error {
    margin-bottom: 30px;
    font-size: 13px;
    line-height: 15px;
    color: $red;
  }
}

.password {
  position: relative;

  &__icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: absolute;
    top: 36px;
    right: 15px;

    &::after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 100%;
      mask-image: url("../../assets/img/eye-open.svg");
      background-color: $border-input;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: 100% 100%;
      transition: all 0.2s linear;
    }

    &.close {
      &::after {
        mask-image: url("../../assets/img/eye-close.svg");
      }
    }

    &:hover {
      &::after {
        background-color: $black;
      }
    }
  }
}

.username {
  &__input {
    padding: 0 15px;
  }
}

.remember {
  &__text {
    color: #7c7b85;
  }
}

@media (min-width: 440px) {
  .login {
    &__form {
      width: 100%;
      margin: 60px 0;
      max-width: 400px;
    }

    &__title {
      font-size: 26px;
      line-height: 30px;
      padding: 40px 40px 0;
    }

    &__list {
      margin-top: 30px;
      padding: 0 40px;
    }

    &__item {
      &:not(:first-child) {
        margin-top: 20px;
      }
    }

    &__name {
      font-size: 14px;
      line-height: 16px;
      padding-left: 20px;
    }

    &__input {
      height: 50px;
      margin-top: 15px;
      padding: 0 50px 0 20px;
    }

    &__nav {
      margin-top: 20px;
      padding: 30px 40px 0;
    }

    &__button {
      font-size: 18px;
      height: 50px;
    }

    &__forgot {
      padding: 40px 40px 30px;
    }
  }

  .password {
    &__icon {
      top: 47px;
      right: 20px;
    }
  }
}
