.disabled {
  pointer-events: none;
}

.width_100 {
  width: 100% !important;
}

.pl_0 {
  padding-left: 0;
}

.mh_100vh {
  min-height: 100vh;
}

.mt_5 {
  margin-top: 5px;
}

.mt_15 {
  margin-top: 15px;
}

.mt_25 {
  margin-top: 25px;
}

.bt_0 {
  border-top: none !important;
}
