@import "../../assets/scss/variables/variables";

.modal {
  position: fixed;
  top: 0;
  right: -100%;
  display: grid;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.2s linear;
  background-color: rgba($black, 0.6);
  z-index: 3;

  &.open {
    opacity: 1;

    &__wrapper {
      right: 0;
    }
  }

  &__wrapper {
    position: fixed;
    top: 0;
    right: -100%;
    display: inline-block;
    width: 520px;
    height: 100vh;
    background-color: $white;
    transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    transform: translate3d(0, 0, 1200);
    z-index: 4;

    &.open {
      right: 0;
    }
  }

  &__header {
    padding: 20px 40px 18px;
    height: 70px;
  }

  &__content {
    height: calc(100vh - 150px);
  }

  &__footer {
    height: 80px;
    box-shadow: 0 -5px 25px rgb(7 2 14 / 4%);
    padding: 20px 25px;
  }
}

.modal-header {
  box-shadow: 0 5px 25px rgb(7 2 14 / 4%);
  display: grid;
  grid-template-columns: 1fr 32px;
  grid-template-areas: "title close-btn";

  &__title {
    grid-area: title;
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    align-self: center;
  }

  &__close {
    grid-area: close-btn;
    display: inline-block;
    width: 32px;
    height: 32px;
    position: relative;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      display: inline-block;
      width: 100%;
      height: 4px;
      transform: translateY(-50%) rotate(45deg);
      background-color: $close-menu-btn;
      transition: all 0.2s linear;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      display: inline-block;
      width: 100%;
      height: 4px;
      transform: translateY(-50%) rotate(-45deg);
      background-color: $close-menu-btn;
      transition: all 0.2s linear;
    }

    &:hover {
      &::after,
      &::before {
        background-color: $black;
      }
    }
  }
}

.modal-content {
  &__list {
    padding: 30px 25px;
  }

  &__name {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    padding-left: 15px;
    color: $menu-item;
  }

  &__input {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    display: block;

    &--color {
      border: 0;
      background-color: transparent;
      border-radius: 10px;
      cursor: pointer;
    }
  }
}

.modal-footer {
  &__btn {
    display: inline-block;
    width: 160px;
    height: 40px;
    color: $black;
    border: 1px solid $black;
    background-color: $white;
    border-radius: 5px;
    transition: all 0.2s linear;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    cursor: pointer;

    &:hover {
      color: $white;
      background-color: $black;
    }
  }
}
