@import "./variables/variables";

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter-Medium.woff2");
  font-weight: 500;
}

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter-Bold.woff2");
  font-weight: 700;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
  font-family: Inter, sans-serif;
  color: $black;
  cursor: default;
}

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}
