@font-face {
  font-family: Inter;
  src: url("../fonts/Inter-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter-Medium.woff2");
  font-weight: 500;
}

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter-Bold.woff2");
  font-weight: 700;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
  font-family: Inter, sans-serif;
  color: $black;
  cursor: default;
}

a {
  text-decoration: none;
  color: inherit;

  &:visited {
    color: inherit;
  }
}

.no-active {
  pointer-events: none;
}

.page {
  background-color: $body;
}

.page-content {
  width: 100%;
  max-height: calc(100vh - 70px);
  overflow-y: scroll;
  grid-area: "content";

  &__wrapper {
    max-width: 100%;
    grid-area: content;
  }
}

@media (min-width: 1000px) {
  .page {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-areas: "menu content";
  }

  .page-content {
    max-height: 100vh;

    &__wrapper {
      max-width: 1256px;
      padding-bottom: 40px;
      padding-left: 40px;
    }
  }
}
