@import "./variables/variables";

.tooltip {
  position: relative;
  cursor: pointer;

  &__wrapper {
    opacity: 0;
    background-color: $tooltipWrapperBg;
    color: $white;
    transition: all 0.2s linear;
    position: absolute;
    pointer-events: none;
    bottom: calc(100% + 10px);
    left: -100%;
    transform: translateX(-25%);
    padding: 20px 15px;
    border-radius: 5px;
    font-size: 11px;
    font-weight: 400;
    line-height: 26px;
  }

  &:hover {
    .tooltip__wrapper {
      opacity: 1;
    }
  }
}
