// .action-banner {
//   margin-top: 25px;

//   &__slide {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
//     grid-template-areas: "left img right";
//     height: 340px;
//     width: 100%;
//   }

//   &__left {
//     grid-area: left;
//   }

//   &__info {
//     &--icon {
//     }
//   }

//   &__title {
//   }

//   &__type {
//   }

//   &__progress {
//   }

//   &__bar {
//   }

//   &__current {
//   }

//   &__remain {
//   }

//   &__plan {
//   }

//   &__text {
//   }

//   &__center {
//     grid-area: img;
//   }

//   &__right {
//     grid-area: right;
//   }

//   &__tooltip {
//   }

//   &__nav {
//   }
// }

// .action-reward {
//   &__name {

//   }

//   &__value {
//   }
// }

// .action-nav {
//   &__left {
//   }

//   &__right {
//   }

//   &__end {
//   }
// }
