.funnel-colors {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 140px);
    justify-content: space-between;
    margin-top: 15px;
  }

  &__input {
    padding: 0 15px;
    border-radius: 5px;
    border: 1px solid $border-input;
  }

  &__title {
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 18px !important;
    color: $black !important;
  }

  &__name {
    margin-top: 25px;
  }
}
