.products {
  margin-top: 10px;
  margin-bottom: 30px;
}

.products__title {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0px -10px;
  width: 100%;
  max-width: 1260px;
}

.product-block {
  width: 290px;
  height: 240px;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 12px;
  margin: 0px 10px 20px;
  overflow: hidden;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;

  &.archive {
    filter: grayscale(1);
  }
}

.product-block:hover {
  -webkit-box-shadow: 0 2px 24px rgba(26, 61, 107, 0.08), 0 0 2px rgba(38, 54, 75, 0.08);
  box-shadow: 0 2px 24px rgba(26, 61, 107, 0.08), 0 0 2px rgba(38, 54, 75, 0.08);
}

.product-block_create {
  border: 1px dashed #b4b3bb;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.product-block_create:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  -webkit-mask-size: auto 50px;
  mask-size: auto 50px;
  background-color: #b4b3bb;
  -webkit-mask: url(../../img/plus.svg) no-repeat center;
  mask: url(../../img/plus.svg) no-repeat center;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translate(-50%, -70%);
  -ms-transform: translate(-50%, -70%);
  transform: translate(-50%, -70%);
}

.product-block_create:hover {
  border-color: black;
}

.product-block_create:hover:after {
  background-color: black;
}

.product-block__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  position: relative;
  cursor: pointer;
  padding: 23px 20px 20px 20px;
}

.product-block__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}

.product-block__background img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 100%;
  margin-bottom: 15px;
  margin-right: 15px;
}

.product-block__wrapper.dark {
  color: #161718;
  border-color: rgba(255, 255, 255, 0.4);
}

.product-block__wrapper.light {
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.4);
}

.product-block__title {
  font-family: Inter;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 10px;
}

.product-block__type {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  height: auto;
  padding: 6px 10px;
  font-family: Inter;
  font-size: 10px;
  line-height: 12px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: 1px solid;
  margin-bottom: 12px;
}

.product-block__text {
  font-family: Inter;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 12px;
  z-index: 10;
}

.product-block__text_gray {
  color: #9b9b9e;
}

.product-block__text_desc {
  max-width: 120px;
  max-height: 48px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  z-index: 10;
}

.product-block__price {
  font-family: Inter;
  font-size: 20px;
  line-height: 18px;
  margin-top: auto;
}

.product-block__message {
  font-family: Inter;
  font-size: 12px;
  line-height: 12px;
  color: #b4b3bb;
  transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  margin-top: auto;
}

.product-block_create:hover .product-block__message {
  color: black;
}

.menu-block__btn--archive {
  display: inline-block;
  padding: 0 7px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  white-space: nowrap;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 2em;
  border-color: var(--color-border-default);

  &.active {
    margin-left: 5px;
    background-color: black;
    color: white;
    font-weight: 100;
    border-color: black;
  }
}

.archive {
  font-size: 12px;
  line-height: 12px;
}

.platform-modal__file-name {
  max-width: 239px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-figuration__file-name {
  max-width: 201px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.course__start {
  display: inline-block;
  text-align: left;
}
