/* old styles */
@import './modules/main.scss';

/* settings */
@import "./modules/settings.scss";

/* monitor */
@import "./modules/analytic/analytic.scss";

@import './modules/u_main.scss';
@import './modules/u_modules.scss';
@import './modules/available-course.scss';
@import "./modules/modal.scss";
@import "./modules/staff.scss";
@import "./modules/select.scss";
@import "./modules/filter.scss";
@import "./modules/animations.scss";
@import "./modules/bills.scss";
@import "./modules/checkbox.scss";
@import "./modules/client-cleaner.scss";
@import "./modules/content.scss";
@import "./modules/counter.scss";
@import "./modules/header.scss";
@import "./modules/icons.scss";
@import "./modules/input.scss";
@import "./modules/loader.scss";
@import "./modules/menu.scss";
@import "./modules/nav.scss";
@import "./modules/pagination.scss";
@import "./modules/popup.scss";
@import "./modules/search.scss";
@import "./modules/settings.scss";
@import "./modules/table.scss";
@import "./modules/tabs.scss";
@import "./modules/toggle.scss";
@import "./modules/tooltip.scss";
@import "./modules/validation.scss";
@import "./modules/client.scss";
@import "./modules/update-deal.scss";
@import "./modules/sms.scss";
@import "./modules/deals.scss";
@import "./modules/tasks.scss";
@import "./modules/access.scss";
@import "./modules/performance-assessment.scss";
@import "./modules/block.scss";
@import "./modules/monitor/monitor.scss";
@import "./modules/payment.scss";
@import "./modules/bill-templates.scss";
@import "./modules/payment-method.scss";
@import "./modules/clients-list.scss";
@import "./modules/auth.scss";
@import "./modules/payments-form.scss";
@import "./modules/tariff.scss";
@import "./modules/funnels.scss"; 
@import "./modules/deal-card.scss";
@import "./modules/dialog.scss";
@import "./modules/content-top.scss";
@import "./modules/motivation.scss";
@import "./modules/settings/contracts/settings-contracts.scss";
@import "./modules/buttons.scss";
@import "./modules/template.scss";
@import "./modules/payment-report.scss";
@import "./modules/preloader.scss";
@import "./modules/lessons.scss";
@import "./modules/u_lesson.scss";
@import './modules/homework.scss';
@import './modules/banner.scss';
@import './modules/plans.scss';
@import './modules/finances/workers-salary.scss';
@import './modules/products/products.scss';
@import './modules/control/control.scss';
@import './modules/comment-block.scss';
@import './modules/main-nav.scss';
@import './modules/calculate-wage.scss';

@import "./modules/custom-scroll.scss";
@import "./modules/grid.scss";
