/* settings */
@import "./settings";

/* libs */
@import "./libs/datepicker";

/* old styles */
@import "./modules/main";

/* monitor */
@import "./modules/menu";
@import "./modules/analytic/analytic";
@import "./modules/u_main";
@import "./modules/u_modules";
@import "./modules/modal";
@import "./modules/staff";
@import "./modules/select";
@import "./modules/filter";
@import "./modules/animations";
@import "./modules/bills";
@import "./modules/checkbox";
@import "./modules/client-cleaner";
@import "./modules/content";
@import "./modules/counter";
@import "./modules/header";
@import "./modules/icons";
@import "./modules/input";
@import "./modules/loader";
@import "./modules/nav";
@import "./modules/pagination";
@import "./modules/popup";
@import "./modules/search";
@import "./modules/tabs";
@import "./modules/toggle";
@import "./modules/tooltip";
@import "./modules/validation";
@import "./modules/client";
@import "./modules/update-deal";
@import "./modules/sms";
@import "./modules/deals";
@import "./modules/tasks";
@import "./modules/access";
@import "./modules/performance-assessment";
@import "./modules/block";
@import "./modules/monitor/monitor";
@import "./modules/payment";
@import "./modules/bill-templates";
@import "./modules/payment-method";
@import "./modules/clients-list";
@import "./modules/payments-form";
@import "./modules/tariff";
@import "./modules/funnels";
@import "./modules/deal-card";
@import "./modules/dialog";
@import "./modules/content-top";
@import "./modules/motivation";
@import "./modules/settings/contracts/settings-contracts";
@import "./modules/buttons";
@import "./modules/template";
@import "./modules/preloader";
@import "./modules/lessons";
@import "./modules/u_lesson";
@import "./modules/homework";
@import "./modules/banner";
@import "./modules/plans";
@import "./modules/finances/workers-salary";
@import "./modules/products/products";
@import "./modules/table";
@import "./modules/control/control";
@import "./modules/comment-block";
@import "./modules/main-nav";
@import "./modules/client/courses";
@import "./modules/login/login";
@import "./modules/payment-report";
@import "./modules/calculate-wage";

/* Main settings */
@import "./modules/custom-scroll";
@import "./modules/grid";
