.platform__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: white;
  padding: 40px 40px 20px;
}

.platform__header.monitor {
  background-color: transparent;
}

.platform__header .platform__tabs {
  margin-top: 9px;
  transform: translateY(20px);
  width: 100%;
  display: flex;
}

.platform__title {
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0;
  text-align: left;
  color: black;
  margin-bottom: 0;
  display: flex;
}
