.transition-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10001;
  background: rgb(4 7 36 / 40%);
  display: none;
  transition: display 0.4s;
}

.transition-loader.show {
  display: block;
}

.transition-loader-inner {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  width: 100%;
  color: black;
  padding: 0 100px;
  text-align: center;
  user-select: none;
  pointer-events: none;
}

.transition-loader-inner label {
  font-size: 1em;
  padding: 1%;
  opacity: 0;
  display: inline-block;
  user-select: none;
}

.transition-loader-inner label::after {
  font-family: FontAwesome, sans-serif;
  content: "\f111";
}

.transition-loader-inner label:nth-child(1) {
  animation: loader 3s 600ms infinite ease-in-out;
}

.transition-loader-inner label:nth-child(2) {
  animation: loader 3s 500ms infinite ease-in-out;
}

.transition-loader-inner label:nth-child(3) {
  animation: loader 3s 400ms infinite ease-in-out;
}

.transition-loader-inner label:nth-child(4) {
  animation: loader 3s 300ms infinite ease-in-out;
}

.transition-loader-inner label:nth-child(5) {
  animation: loader 3s 200ms infinite ease-in-out;
}

.transition-loader-inner label:nth-child(6) {
  animation: loader 3s 100ms infinite ease-in-out;
}
