.platform__tabs {
  margin-top: 9px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.platform-tabs__link {
  position: relative;
  margin-right: 15px;
  color: rgba(22, 23, 24, 0.5);
  display: flex;
}

.platform-tabs__link.top-nav__item_active::after {
  content: "";
  position: absolute;
  background-color: black;
  width: 100%;
  height: 4px;
  left: 0;
  display: block;
  transition: all 0.2s linear;
  opacity: 1;
  bottom: -10px;
}

.platform-tabs__link::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 4px;
  bottom: -10px;
  left: 0;
  opacity: 0;
  transition: all 0.1s linear;
  background-color: black;
}

.platform-tabs__link:last-child {
  margin-right: 0;
}

.platform-tabs__link:hover {
  color: #161718;
}

.platform-tabs__link:hover::after {
  opacity: 1;
}

.platform-tabs__link.active {
  color: #161718;
}

.platform-tabs__link.active::after {
  opacity: 1;
}