@import "../helpers/variables.scss";

.platform {
  &__nav {
    &--left {
      position: relative;
    }
  }
}

@media (max-width: $mobile) {
  .platform {
    &__wrapper {
      width: calc(100% - 70px);
    }

    &__header {
      width: 100%;
    }

    &__title {
      font-style: 12px;
    }

    &__content {
      width: calc(100% - 40px);
      margin-left: 25px;
    }

    &__nav {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
    }
  }
}
