.tooltip-item {
  width: 24px;
  height: 24px;
  display: flex;
  background-color: #f4f4f6;
  color: #0a1b2c66;
  position: absolute;
  top: 20px;
  right: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
  z-index: 2;
  transition: all 0.2s linear;

  &:hover {
    background-color: black;
    color: white;
  }
}

.tooltip {
  position: fixed;
  background-color: #161718;
  font-size: 11px;
  border-radius: 5px;
  color: white;
  z-index: 10;
  pointer-events: none;
  width: 210px;
  display: inline-block;
  padding: 10px;
  height: max-content;
  opacity: 0;
  transition: opacity 0.1s linear;

  &__copy {
    top: 35px;
    right: -100%;
  }
}

.tooltip-content {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  bottom: 30px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 230px;
  background-color: rgba(0, 0, 0, 0.8);
  height: max-content;
  padding: 10px 15px;
  border-radius: 8px;
  transition: opacity 0.2s linear;
}

.tooltip__table {
  min-width: 100%;
  width: 100%;
}

.tooltip__crm {
  height: auto;
}

.tooltip__card {
  position: absolute;
  top: -31px;
  right: 27px;
}

.tooltip__date {
  display: inline-block;
  width: 30%;
  min-width: 30%;
}

.tooltip__message {
  display: inline-block;
  width: 70%;
  min-width: 70%;
}

.tooltip__row--head {
  color: #ffffffcc;
  font-size: 11px;
  line-height: 11px;
  display: inline-flex;
  width: 100%;
  min-width: 100%;
}

.tooltip__row {
  margin-top: 10px;
  min-width: 100%;
  display: inline-flex;
  font-size: 11px;
  line-height: 11px;
}

.tooltip__bill-date {
  opacity: 0;
  top: 26px;
  height: 43px;
}

.tooltip__task-date {
  opacity: 0;
  top: 66px;
  height: 43px;
}

.tooltip-item:hover .tooltip-content {
  opacity: 1;
}

.tooltip {
  &__copy {
    background-color: #27ae60;
    color: white;
    font-size: 12px;
    line-height: 12px;
    width: max-content;
    height: 30px;
    padding: 15px 50px 15px 30px;
    position: fixed;
    z-index: 1000;
    font-size: 12px;
    line-height: 12px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;

    &--icon {
      position: relative;
      right: -13px;

      &::after {
        content: "";
        width: 10px;
        height: 10px;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        mask-image: url(../../img/bills_check.svg);
        background-color: white;
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: 100% 100%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
