.collapse-icon {
  pointer-events: none;
  position: relative;
  cursor: pointer;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: inline-block;
    width: 8px;
    height: 15px;
    mask-image: url("../../../../assets/img/a-down.svg");
    background-color: $black;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100% 100%;
    transform: rotate(90deg);
    transition: all 0.2s linear;
  }
}

.collapse {
  cursor: pointer;
  margin-top: 15px;

  &__body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s linear;
  }

  &__item {
    margin-top: 15px;
  }

  &.open {
    cursor: default;

    .collapse__body {
      max-height: max-content;
    }

    .collapse-icon {
      pointer-events: all;

      &::after {
        transform: rotate(-90deg);
      }
    }
  }
}

.funnel-settings {
  &__title {
    margin-top: 25px;
  }
}
