.analytic {
  &__managers-list {
    max-height: 0;
    height: 0;
    overflow: hidden;
    transition: max-height 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  }
}

.managers-list {
  &__wrapper {
    margin-top: 20px;
  }
}

.analytic-content {
  &__table {
    display: grid;
    width: calc(100% - 35px);
    grid-template-columns: max-content max-content;
    margin-left: 35px;
  }

  &__container {
    margin-top: 20px;
    border-top: 1px solid rgba($close-menu-btn, 0.2);
    padding-top: 20px;
  }
}

.analytic-table {
  &__right {
    max-width: 775px;
    overflow-x: auto;
    overflow-y: hidden;
  }

  &__header {
    height: 40px;
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    align-items: center;
  }

  &__search {
    width: 285px;
    height: 100%;
    border-right: 1px solid $manager-row-border;
  }

  &__input {
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    padding: 0 45px 0 20px;
    color: $black;
    outline: none;
  }

  &__column {
    width: 120px;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    display: grid;
    align-content: center;
    justify-content: center;

    &:not(:last-child) {
      border-right: 1px solid $manager-row-border;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: max-content max-content 1fr;
  }

  &__toggle {
    display: inline-block;
    width: 20px;
    height: 20px;
    min-width: 20px;
    max-width: 20px;
    margin-right: 15px;
    border-radius: 100%;
    background-color: $black;
    position: relative;
    transition: all 0.2s linear;
    cursor: pointer;
  }
}

.search-icon {
  position: relative;

  &::after {
    position: absolute;
    top: 12px;
    right: 20px;
    content: "";
    display: inline-block;
    width: 15px;
    height: 16px;
    mask-image: url("../../../assets/img/search.svg");
    background-color: $filter-clear-btn;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100% 100%;
  }

  &.active {
    &::after {
      background-color: $black;
    }
  }
}

.analytic-metric {
  &__info {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    min-height: 40px;
    background-color: $white;
    border-bottom: 1px solid $manager-row-border;
  }

  &__row {
    display: grid;
    grid-template-rows: auto auto;
    width: 100%;
    height: auto;
    align-items: center;

    &:last-child {
      .analytic-metric__info {
        border-bottom-left-radius: 10px;
        overflow: hidden;
      }
    }
  }

  &__title {
    width: 285px;
    height: 100%;
    display: grid;
    align-content: center;
    border-right: 1px solid $manager-row-border;
    padding: 0 45px 0 20px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    position: relative;
  }

  &__value {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 120px;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    border-right: 1px solid $manager-row-border;

    &.green {
      background-color: $green;
      color: $white;
    }

    &.yellow {
      background-color: $yellow;
    }

    &.red {
      background-color: $red;
      color: $white;
    }
  }

  &__nav {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: end;
    position: relative;
  }
}

.metric-icon {
  &::after {
    position: absolute;
    top: 10px;
    right: 20px;
    display: inline-block;
    width: 14px;
    height: 16px;
    content: "";
    mask-image: url("../../../assets/img/metric.svg");
    background-color: $filter-clear-btn;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100% 100%;
  }
}

.analytic-period {
  width: max-content;

  &__main {
    display: grid;
    justify-content: start;
    grid-auto-flow: column;
    background-color: $white;
    height: 40px;
    max-width: max-content;
    border-bottom: 1px solid $manager-row-border;

    &:last-child {
      border-bottom-right-radius: 10px;
      overflow: hidden;
    }
  }

  &__column {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 120px;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    border-right: 1px solid $manager-row-border;

    &.green {
      background-color: $green;
      color: $white;
    }

    &.yellow {
      background-color: $yellow;
    }

    &.red {
      background-color: $red;
      color: $white;
    }
  }

  &__manager {
    height: 40px;
    display: grid;
    justify-content: start;
    grid-auto-flow: column;
    background-color: $white;
    max-width: max-content;
    border-bottom: 1px solid $manager-row-border;

    &:last-child {
      margin-bottom: 10px;
    }
  }

  &__managers {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  }

  &__row {
    &:last-child {
      border-bottom-right-radius: 10px;
      overflow: hidden;
    }
  }

  &__wrapper {
    margin-top: 50px;
  }
}

.toggle-icon {
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translate(-50%, -50%);

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 7px;
    height: 12px;
    mask-image: url("../../../assets/img/a-down.svg");
    background-color: $white;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100% 100%;
    transform: translate(-50%, -50%) rotate(90deg);
    z-index: 1;
    transition: all 0.2s linear;
  }

  &.open {
    background-color: $white;

    &::after {
      background-color: $black;
      transform: translate(-50%, -50%) rotate(-90deg);
    }
  }
}

.analytic-main {
  &__title {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: $filter-clear-btn;
    margin-left: 20px;
  }

  &__manager {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    min-height: 40px;
    background-color: $white;
    border-bottom: 1px solid $manager-row-border;

    &:nth-child(2) {
      margin-top: 6px;
    }
  }
}

.analytic-manager {
  &__name {
    border-right: 1px solid $manager-row-border;
    min-width: 285px;
    height: 100%;
    display: grid;
    align-content: center;
    padding: 0 45px 0 20px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    position: relative;
  }

  &__value {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 120px;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    border-right: 1px solid $manager-row-border;

    &.green {
      background-color: $green;
      color: $white;
    }

    &.yellow {
      background-color: $yellow;
    }

    &.red {
      background-color: $red;
      color: $white;
    }
  }
}

.analytic-managers {
  &__column {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 120px;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    border-right: 1px solid $manager-row-border;
  }
}

.analytic-nav {
  display: grid;
  grid-template-columns: 35px;
}

.analytic-toggle {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 40px;
}

.analytic-left {
  &__header {
    display: grid;
    grid-template-columns: 285px 120px;
    background-color: $white;
    border-bottom: 1px solid $manager-row-border;
    height: 40px;
    border-top-left-radius: 10px;
    overflow: hidden;

    .analytic-table__column {
      &:last-child {
        border-right: 1px solid $manager-row-border;
      }
    }
  }
}

.analytic-right {
  &__header {
    display: grid;
    justify-content: start;
    grid-auto-flow: column;
    background-color: $white;
    width: max-content;
    border-bottom: 1px solid $manager-row-border;
    height: 40px;
    border-top-right-radius: 10px;
  }
}
