<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GuruPlatform Alpha | Аналитика</title>
</head>

<body>
  <script th:inline='javascript'>
    const logo = [[${ logoClass }]];
    const role = [[${ role }]];
    const company = [[${ company }]];
    const avatar = [[${ avatar }]];
    const filter = [[${ filter }]];
    const projects = [[${ projects }]];
    const managersFilter = [[${ managers }]];
    const courses = [[${ courses }]];

    /* Аналитика */
    const managers = [[${ managers }]];

    const totalRevenue = [[${ proceeds }]];
    const managerTotalRevenue = [[${ mProceeds }]];
    const trafficRevenue = [[${ trafficMailingProceeds }]];
    const managerTrafficRevenue = [[${ mTrafficMailingProceeds }]];
    const additionalRevenue = [[${ additionalRevenue }]];
    const managerAdditionalRevenue = [[${ managerAdditionalRevenue }]];
    const advExpenses = [[${ advPrice }]];
    const managerAdvExpenses = [[${ mAdvPrice }]];
    const kpd = [[${ kpd }]];
    const managerKpd = [[${ mKPD }]];
    const sales = [[${ sales }]];
    const managerSales = [[${ mSales }]];
    const salesTraffic = [[${ salesTraffic }]];
    const managerSalesTraffic = [[${ mSalesTraffic }]];
    const salesMailing = [[${ salesMailing }]];
    const managerSalesMailing = [[${ mSalesMailing }]];
    const salesAdditional = [[${ salesAdditional }]];
    const managerSalesAdditional = [[${ mSalesAdditional }]];
    const average = [[${ average }]];
    const managerAverage = [[${ mAverage }]];
    const averageTrafficMailing = [[${ averageTrafficMailing }]];
    const managerAverageTrafficMailing = [[${ mAverageTrafficMailing }]];
    const averageAdditional = [[${ averageAdditional }]];
    const managerAverageAdditional = [[${ mAverageAdditional }]];
    const profit = [[${ profit }]];
    const managerProfit = [[${ mProfit }]];
    const rating = [[${ ratesRow }]];
    const managerRating = [[${ mRatesRow }]];
    const prescribed = [[${ prescribed }]];
    const managerPrescribed = [[${ mPrescribed }]];
    const prescribedToSale = [[${ prescribedToSale }]];
    const managerPrescribedToSale = [[${ mPrescribedToSale }]];
    const shareAdvExpensesTrafficPage = [[${ profitPercent }]];
    const managerShareAdvExpensesTrafficPage = [[${ mProfitPercent }]];
    const advShow = [[${ advShows }]];
    const managerAdvShow = [[${ mAdvShows }]];
    const advClick = [[${ advClick }]];
    const managerAdvClick = [[${ mAdvClick }]];
    const advApplication = [[${ advApplication }]];
    const managerAdvApplication = [[${ mAdvApplication }]];
    const importantRow = [[${ importantRow }]];
    const managerImportantRow = [[${ mImportantRow }]];
    const invoices = [[${ invoices }]];
    const managerInvoices = [[${ mInvoices }]];
    const salesNewClient = [[${ salesNewClient }]];
    const managerSalesNewClient = [[${ salesMNewClient }]];
    const salesNewClientNM = [[${ salesNewClientNM }]];
    const salesMNewClientNM = [[${ salesMNewClientNM }]];
    const salesNewClientM = [[${ salesNewClientM }]];
    const salesMNewClientM = [[${ salesMNewClientM }]];
    const rejectsRow = [[${ rejectsRow }]];
    const mRejectsRow = [[${ mRejectsRow }]];
    const newClientsDo = [[${ newClientsDo }]];
    const newMClientsDo = [[${ newMClientsDo }]];
    const newClientsTraffic = [[${ newClientsTraffic }]];
    const newMClientsTraffic = [[${ newMClientsTraffic }]];
    const newClientsAll = [[${ newClientsAll }]];
    const newMClientsAll = [[${ newMClientsAll }]];
    const newClientsWithoutMailing = [[${ newClientsWithoutMailing }]];
    const newMClientsWithoutMailing = [[${ newMClientsWithoutMailing }]];
    const newClientsWithMailing = [[${ newClientsWithMailing }]];
    const newMClientsWithMailing = [[${ newMClientsWithMailing }]];
    const averageCheckTraffic = [[${ averageCheck }]];
    const managerAverageCheckTraffic = [[${ mAverage }]];
    const showPrice = [[${ showPrice }]];
    const mShowPrice = [[${ mShowPrice }]];
    const clickPrice = [[${ clickPrice }]];
    const mClickPrice = [[${ mClickPrice }]];
    const applicationPrice = [[${ applicationPrice }]];
    const mApplicationPrice = [[${ mApplicationPrice }]];
    const importantPriceRow = [[${ importantPriceRow }]];
    const mImportantPriceRow = [[${ mImportantPriceRow }]];
    const invoicePrice = [[${ invoicePrice }]];
    const mInvoicePrice = [[${ mInvoicePrice }]];
    const clientPrice = [[${ clientPrice }]];
    const mClientPrice = [[${ mClientPrice }]];
    const clientPriceDo = [[${ clientPriceDo }]];
    const mClientPriceDo = [[${ mClientPriceDo }]];
    const showToClick = [[${ showToClick }]];
    const mShowToClick = [[${ mShowToClick }]];
    const clickToApplication = [[${ clickToApplication }]];
    const mClickToApplication = [[${ mClickToApplication }]];
    const applicationToInvoice = [[${ applicationToInvoice }]];
    const mApplicationToInvoice = [[${ mApplicationToInvoice }]];
    const invoiceToClient = [[${ invoiceToClient }]];
    const mInvoiceToClient = [[${ mInvoiceToClient }]];
    const applicationToClient = [[${ applicationToClient }]];
    const mApplicationToClient = [[${ mApplicationToClient }]];
    const clickToApplicationDo = [[${ clickToApplicationDo }]];
    const mClickToApplicationDo = [[${ mClickToApplicationDo }]];
    const CV5Row = [[${ CV5Row }]];
    const mCV5Row = [[${ mCV5Row }]];
    const kpdColor = [[${ kpdColor }]];
    const ratingColor = [[${ ratingColor }]];
  </script>
  <div id="app"></div>
</body>

</html>