<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GuruPlatform Alpha | Рабочий стол</title>
</head>

<body>
  <script th:inline="javascript">
    const logo = [[${ logoClass }]]
    const company = [[${ company }]]
    const role = [[${ role }]];
    const avatar = [[${ avatar }]];
    const bgColor = [[${ bgColor }]];
    const filter = [[${ filter }]];
    const projects = [[${ projects }]];
    const actionBanners = null;
    const tiles = [[${ tiles }]];
    const rows = [[${ rows }]];
    const managersRows = [];
    const generalRow = [];
    const managersFilter = [];
    const courses = [];
    const dealType = [];
    const employees = [];
  </script>

  <div id="app"></div>
</body>

</html>