.input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid $border-input;
  background-color: $white;
  color: $black;
  font-size: 12px;
  line-height: 12px;
  padding: 0 15px;
}
