.header {
  width: 100%;

  &__wrapper {
    width: 100%;
    max-width: 1256px;
    min-height: 130px;
    height: 130px;
    display: grid;
    grid-template-rows: "title tabs";
    padding: 40px 0 0 40px;
  }

  &__tabs {
    &.border {
      border-bottom: 1px solid $content-delimetr;
    }
  }
}

.header-title {
  &__text {
    display: inline-block;
    font-size: 32px;
    line-height: 37px;
    font-weight: 400;
  }

  &__settings {
    display: inline-block;
    height: 22px;
    width: 22px;
    cursor: pointer;
    margin-left: 15px;

    &::after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 100%;
      mask-image: url("../../../assets/img/settings.svg");
      background-color: $menu-item;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: 100% 100%;
      transition: all 0.2s linear;
    }

    &:hover {
      &::after {
        background-color: $black;
      }
    }
  }
}

.header-tabs {
  &__link {
    position: relative;
  }

  &__settings {
    display: none;
    width: 18px;
    height: 18px;
    transition: all 0.2s linear;
    right: -35px;
    top: 0;

    &::after {
      content: "";
      display: inline-block;
      width: 18px;
      height: 18px;
      mask-image: url("../../../assets/img/settings.svg");
      background-color: $color-tabs;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: 100% 100%;
      transition: all 0.2s linear;
    }

    &:hover {
      &::after {
        background-color: $black;
      }
    }
  }

  &__item {
    display: inline-block;
    color: $color-tabs;
    transition: all 0.2s linear;
    position: relative;

    &.analytic {
      display: inline-block;

      &.active {
        &::before {
          content: "";
          display: inline-block;
          top: 6px;
          right: 27px;
          width: 1px;
          height: 14px;
          background-color: rgba(191, 192, 196, 0.4);
          pointer-events: none;
          position: absolute;
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -16px;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: black;
      opacity: 0;
      transition: all 0.2s linear;
      pointer-events: none;
    }

    &:not(:first-child) {
      margin-left: 20px;
    }

    &.active {
      color: $black;

      &::after {
        opacity: 1;
      }

      .header-tabs {
        &__settings {
          display: inline-block;
          margin-left: 15px;
          transform: translateY(3px);
        }
      }
    }

    &:hover {
      color: $black;

      &::after {
        opacity: 1;
      }
    }
  }
}

@media (min-width: 1335px) {
  .header {
    padding-right: 0;
  }
}
