@import "../../../assets/scss/variables/variables";

.header {
  width: 100%;
  max-width: 1256px;
  min-height: 130px;
  height: 130px;
  display: grid;
  grid-template-areas:
    "title",
    "tabs";
  padding: 40px 0 0 40px;

  &__tabs {
    border-bottom: 1px solid $content-delimetr;
  }
}

.header-title {
  &__text {
    display: inline-block;
    font-size: 32px;
    line-height: 37px;
    font-weight: 400;
  }

  &__settings {
    display: inline-block;
    height: 22px;
    width: 22px;
    cursor: pointer;
    margin-left: 15px;

    &::after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 100%;
      mask-image: url("../../../assets/img/settings.svg");
      background-color: $menu-item;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: 100% 100%;
      transition: all 0.2s linear;
    }

    &:hover {
      &::after {
        background-color: $black;
      }
    }
  }
}

.header-tabs {
  &__item {
    display: inline-block;
    color: $color-tabs;
    transition: all 0.2s linear;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -16px;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: black;
      opacity: 0;
      transition: all 0.2s linear;
    }

    &:not(:first-child) {
      margin-left: 20px;
    }

    &.active {
      color: $black;

      &::after {
        opacity: 1;
      }
    }

    &:hover {
      color: $black;

      &::after {
        opacity: 1;
      }
    }
  }
}
