.select {
  cursor: pointer;
  position: relative;

  &-icon {
    &::after {
      content: "";
      position: absolute;
      top: 11px;
      right: 15px;
      z-index: 1;

      @include select-angle;

      background-color: $border-input;
    }
  }

  &__body {
    position: fixed;
    height: 0;
    box-shadow: 0 5px 10px 0 rgba($black, 0.2);
    z-index: 2;
    background-color: $white;
    width: 100%;
  }

  &.open {
    .select__body {
      height: max-content;
      max-height: 250px;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }

  &__head {
    display: grid;
    width: 100%;
    position: relative;
    z-index: 1;
    cursor: pointer;
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    color: inherit;
    padding: 0 30px 0 15px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid $border-input;
    background-color: $white;
  }

  &__option {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    padding: 7px 0;
    border-bottom: 1px solid #d3d3d3;
    color: $black;
    font-size: 12px;
    line-height: 12px;
    padding-left: 15px;
    padding-right: 30px;
    white-space: nowrap;
    overflow: hidden;
    min-height: 26px;
    position: relative;

    &:hover {
      background-color: rgba(100, 100, 100, 0.1);
    }
  }
}
