.monitor-stat__header-row,
.monitor-stat__row {
  &.control {
    grid-template-columns: auto 150px 200px 200px 200px 260px 175px;
    grid-template-areas: "count manager deal-count rate-count debate-count debate-count-estimation score";
  }
}

.monitor-stat {
  &__deal-count,
  &__rate-count,
  &__debate-count,
  &__debate-count-estimation,
  &__score {
    text-align: center;
  }
}
