.calendar {
  width: 100%;
  table-layout: fixed;
  margin: 10px 0px;
}

.calendar__header:after {
  content: '';
  width: 100%;
  height: 10px;
  display: block;
}

.calendar-header {
  font-family: Inter;
  font-size: 16px;
  line-height: 16px;
  color: #161718;
}

.calendar-cell {
  height: 130px;
  border: 1px solid #CFCFD2;
}

.calendar-cell__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 130px;
  padding: 15px;
  position: relative;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.calendar-cell__wrapper_white {
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  cursor: pointer;
}

.calendar-cell__wrapper_today {
  border: 1px solid #FFA515;
}

.calendar-cell__wrapper_today .calendar-cell__date {
  background-color: #FFA515;
  color: #ffffff;
}

.calendar-cell__wrapper_white:hover {
  border: 2px solid black;
  -webkit-box-shadow: 0px 8px 20px rgba(3, 6, 29, 0.16);
  box-shadow: 0px 8px 20px rgba(3, 6, 29, 0.16);
  border-radius: 5px;
}

.calendar-cell__wrapper_white:hover .calendar-cell__date {
  background-color: black;
  color: #ffffff;
}

.calendar-cell__wrapper_white:after {
  display: none;
  content: '';
  position: absolute;
  top: 15px;
  right: 20px;
  width: 22px;
  height: 22px;
  -webkit-mask: url(../img/gear.svg) no-repeat center;
  mask: url(../img/gear.svg) no-repeat center;
  -webkit-mask-size: auto 22px;
  mask-size: auto 22px;
  background-color: black;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.calendar-cell__wrapper:hover:after {
  display: block;
}

.calendar-cell__date {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #F2F2F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Inter;
  font-size: 16px;
  color: black;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.calendar-cell__date_gray {
  background-color: transparent;
  color: rgba(22, 23, 24, 0.2);
}

.calendar-cell__streams {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.calendar-text {
  font-family: Inter;
  font-size: 14px;
  line-height: 14px;
  color: #B4B3BB;
}

.calendar-streams {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.calendar-stream {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #481E8C;
  height: 23px;
  min-height: 23px;
  padding: 0px 10px;
  background: #F2F2F4;
  border-radius: 5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  margin-bottom: 5px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.calendar-stream span {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.calendar-stream_started {
  background: #27AE60;
  color: #ffffff;
}

.calendar-stream:last-child {
  margin-bottom: 0px;
}

.calendar-stream_hover:hover {
  background: #481E8C;
}

.calendar-stream_hover:hover span {
  color: #ffffff;
}
