.cfilter {
  -webkit-transform: translate3d(0, 0, 1200);
  transform: translate3d(0, 0, 1200);
  -webkit-transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(4, 7, 36, 0.6);
  min-height: 100%;
  z-index: 1200;
  position: fixed;
  top: -9999px;
  left: 0;
}

.cfilter.is-open {
  top: 0;
  -webkit-transform: translate3d(0, 0, 1200);
  transform: translate3d(0, 0, 1200);
  -webkit-transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.cfilter__wrapper {
  position: relative;
  z-index: 1000;
  min-width: 1366px;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0%;
  bottom: 100%;
  -webkit-transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transform: translate3d(0, 0, 1200);
  transform: translate3d(0, 0, 1200);
  overflow-x: auto;
  height: 100%;
  background-color: #f4f4f6;
}

.filter-head__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  color: #161718;
  font-size: 24px;
  line-height: 28px;
  padding-left: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.filter-non-active .styled-select {
  width: 0px;
}

.filter-btn-active {
  background-color: #29006c;
}

.filter-btn-active + span {
  color: #29006c;
}

.filter-non-active {
  width: 0px;
  margin: 0px;
  opacity: 0;
}

.filter-header {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #161718;
}

.filter-content {
  background: #f4f4f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-height: 100vh;
  -webkit-transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transform: translate3d(0, 0, 1200);
  transform: translate3d(0, 0, 1200);
  position: relative;
}

.filter-head {
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 30px rgba(7, 2, 14, 0.04);
  box-shadow: 0px 5px 30px rgba(7, 2, 14, 0.04);
  min-width: 1366px;
  width: 100%;
  height: 70px;
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.filter-content__body {
  overflow-y: auto;
}

.filter-body {
  padding: 20px 35px 0px;
}

.filter-body__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.filter-body__wrapper_start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.filter-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.filter-column__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  min-height: 21px;
  color: #161718;
  padding-left: 16px;
  margin-bottom: 0px;
  margin-top: 15px;
}

.filter-column__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
}

.filter-column__row:last-child {
  margin-bottom: 30px;
}

.filter-column__row_bordered {
  padding-bottom: 20px;
}

.filter-column__row_bordered:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 1px;
  width: 100%;
  background: #e4e5e8;
}

.button-filter.filtered .content-top__filter {
  background-color: #9c9ba6;
}

.button-filter.filtered .button-filter__label {
  color: #9c9ba6;
}

.filter-content__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0px 35px;
  padding: 20px 0px 30px;
  border-top: 1px solid #c7c9cf;
}

.filter-body__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
