*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.datepicker__wrapper {
  position: relative;
  display: inline-block;
}

.datepicker-my {
  width: 220px;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-size: 14px;
  -webkit-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.1);
  display: inline-block;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  z-index: 2;
  background-color: white;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  visibility: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.datepicker__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 5px 0 0;
}

.datepicker__nav--prev,
.datepicker__nav--next,
.datepicker__year-menu--prev,
.datepicker__year-menu--next {
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 20px;
  line-height: 20px;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  height: 29px;
  width: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.datepicker__body {
  margin: 0 5px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 10px);
  padding-top: 5px;
  border-top: 1px solid lightgray;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.datepicker__day {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 5px;
  width: 29px;
  height: 29px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
  -webkit-transition: all 0.05s linear;
  -o-transition: all 0.05s linear;
  transition: all 0.05s linear;
}

.datepicker__day {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 5px;
  width: 29px;
  height: 29px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
  -webkit-transition: all 0.05s linear;
  -o-transition: all 0.05s linear;
  transition: all 0.05s linear;
  font-weight: 500;
}

.datepicker__day:nth-child(n + 8) {
  margin-top: 2px;
}

.datepicker__day--not-current {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 5px;
  width: 29px;
  height: 29px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
  -webkit-transition: all 0.05s linear;
  -o-transition: all 0.05s linear;
  transition: all 0.05s linear;
  color: lightgray;
  font-weight: 200;
}

.datepicker__day--not-current:hover {
  border-radius: 100%;
  color: white;
  background-color: black;
}

.datepicker__day--weekend,
.datepicker__week--weekend {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 5px;
  width: 29px;
  height: 29px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
  -webkit-transition: all 0.05s linear;
  -o-transition: all 0.05s linear;
  transition: all 0.05s linear;
  color: #7d7d7d;
  font-weight: 100;
}

.datepicker__week--weekend {
  cursor: default;
}

.datepicker__day--weekend:hover {
  border-radius: 100%;
  color: white;
  background-color: black;
}

.datepicker__day:hover {
  border-radius: 100%;
  color: white;
  background-color: black;
}

.datepicker__week {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 5px;
  width: 100%;
  cursor: default;
}

.datepicker__week--day {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 29px;
  height: 29px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
}

.datepicker__week--weekend {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 29px;
  height: 29px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
}

.datepicker__year {
  width: 100%;
  padding: 0 5px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.datepicker__year--value {
  cursor: pointer;
}

.datepicker__day.active {
  border-radius: 100%;
  color: white;
  background-color: black;
}

.datepicker__year-menu {
  display: none;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.datepicker__year-menu--current {
  cursor: pointer;
}

.datepicker__nav--current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
