.gallery__wrapper {
  margin: 20px 0 0 0;
  overflow-x: auto;
  overflow-y: hidden;
  overflow-scrolling: touch;
}

.gallery__wrapper.custom-scroll {
  padding-bottom: 0px;
}

.comment__body .gallery__wrapper {
  margin-top: 10px;
}

.content-element__gallery {
  padding: 0px 30px;
}

.gallery__wrapper {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: auto;
}

.gallery__error {
  color: red;
  margin-top: 20px;
}

.gallery__list--comment {
  display: block !important;
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
}

.gallery__item {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  display: block;
}

.gallery__item--comment {
  float: left;
  margin: 0 10px 0 0;
}

.gallery-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-item-align: center;
  align-self: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.gallery-item_small {
  width: 100px;
  height: 100px;
}

.gallery-item__title {
  font-family: Inter;
  font-weight: 900;
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.gallery-item__subtitle {
  font-family: Inter;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
}

.gallery-item_pdf {
  background: #ce1126;
  padding: 0 10px;
}

.gallery-item_xls,
.gallery-item_xlsx {
  background: #107c41;
  padding: 0 10px;
}

.gallery-item_doc,
.gallery-item_docx {
  background: #4466ad;
  padding: 0 10px;
}

.gallery-item_pptx,
.gallery-item_ppt {
  background: #f14524;
  padding: 0 10px;
}

.gallery-item_psd {
  background: mediumvioletred;
}

.gallery-item_xml {
  background: tomato;
}

.gallery__item-comment {
  position: relative;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  float: left;
  overflow: hidden;
  border-radius: 5px;
}

.gallery__item-comment:last-child {
  margin-right: 0;
}

.gallery__item::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  border-radius: 5px;
}

.gallery__item:hover::after {
  opacity: 1;
}

.gallery__item-comment::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.gallery__item-comment:hover::after {
  opacity: 1;
}

.gallery__delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  display: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  z-index: 10;
}

.gallery__delete-btn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 9px;
  height: 9px;
  background-color: #ffffff;
  -webkit-mask: url(../img/fail.svg) no-repeat center;
  mask: url(../img/fail.svg) no-repeat center;
  -webkit-mask-size: 9px;
  mask-size: 9px;
}

.gallery__item:hover .gallery__delete-btn {
  display: block;
}

.gallery-item__preview {
  display: block;
  width: auto;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  visibility: hidden;
}

.slider {
  min-width: 0;
  display: none;
}

.slick-track {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.slick-list {
  overflow: hidden;
}

.slick-slide {
  margin-right: 10px;
}

.slick-slide:last-child {
  margin-right: 0;
}

.comments__gallery {
  margin-bottom: 0;
  padding-bottom: 0;
}

@media (max-width: 550px) {
  .gallery__list {
    margin-top: 15px;
  }
  .lessons-gallery {
    padding-left: 20px;
    padding-right: 20px;
  }
  .gallery__wrapper_small {
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
}
