@charset "UTF-8";
.modules {
  width: 100%;
  padding: 0;
  margin: 0;
}

.modules__wrapper,
.bloks__wrapper {
  display: flex;
  flex-direction: column;
}

.modules__content,
.blocks__content {
  display: flex;
  flex-direction: column;
}

.modules__btn-wrapper,
.blocks__btn-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0px -10px;
  padding: 0;
}

.blocks__btn-wrapper {
  padding: 0;
}

.module-btn,
.blocks-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  height: 120px;
  font-family: Inter;
  font-size: 16px;
  line-height: 16px;
  color: #88878E;
  cursor: pointer;
  margin: 0px 10px;
  border: 1px dashed #B4B3BB;
  box-sizing: border-box;
  border-radius: 10px;
  transition: 0.4s;
}

.module-btn:hover,
.blocks-btn:hover {
  border-color: black;
  color: black;
}

.module-btn_low,
.blocks-btn_low {
  height: 100px;
}

.module,
.block {
  position: relative;
  margin-bottom: 20px;
}

.block:last-child {
  margin-bottom: 60px;
}

.block:last-child:after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-color: #CFCFD2;
}

.module__wrapper,
.block__wrapper {
  background: #FFFFFF;
  border: 1px solid #E6E5EE;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(8, 15, 32, 0.04);
  border-radius: 10px;
}

.module__header,
.block__header {
  padding: 30px;
  cursor: pointer;
  position: relative;
}

.module__header-delete,
.block__header-delete,
.module__lesson-delete {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  -webkit-mask-image: url(../../img/cancel.svg);
  mask-image: url(../../img/cancel.svg);
  background-color: black;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  display: inline-block;
  width: 15px;
  height: 15px;
  opacity: 0;
}

.module__body,
.block__body {
  padding: 0 30px 20px 30px;
}

.module-desc,
.block-desc {
  display: flex;
  flex-direction: row;
}

.module-desc__number,
.block-desc__number {
  min-width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  color: black;
}

.module-desc__wrapper,
.block-desc__wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 26px;
}

.module-desc__title,
.block-desc__title {
  font-family: Inter;
  font-size: 22px;
  line-height: 22px;
  color: #02050E;
  margin-bottom: 12px;
}

.module-desc__desc,
.block-desc__desc {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.module-desc__text,
.block-desc__text {
  font-family: Inter;
  font-size: 12px;
  line-height: 16px;
  color: #161718;
  padding-left: 30px;
  position: relative;
}

.module-desc__text:before,
.block-desc__text:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: black;
  transition: 0.4s;
}

.module-desc__text_video:before,
.block-desc__text_video:before {
  -webkit-mask: url(../img/video-icon.svg) no-repeat center;
  mask: url(../img/video-icon.svg) no-repeat center;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  height: 14px;
  width: 22px;
}

.module-desc__text_work:before,
.block-desc__text_work:before {
  height: 18px;
  width: 16px;
  -webkit-mask: url(../img/work-icon.svg) no-repeat center;
  mask: url(../img/work-icon.svg) no-repeat center;
  -webkit-mask-size: 16px 18px;
  mask-size: 16px 18px;
}

.module-desc__text_clock:before,
.block-desc__text_clock:before {
  height: 20px;
  width: 20px;
  -webkit-mask: url(../img/clock-icon.svg) no-repeat center;
  mask: url(../img/clock-icon.svg) no-repeat center;
  -webkit-mask-size: 20px 20px;
  mask-size: 20px 20px;
}

.module-desc__text_document:before,
.block-desc__text_clock:before {
  height: 20px;
  width: 16px;
  -webkit-mask: url(../img/document-icon.svg) no-repeat center;
  mask: url(../img/document-icon.svg) no-repeat center;
  -webkit-mask-size: 16px 20px;
  mask-size: 16px 20px;
}

.module-desc__delim,
.block-desc__delim {
  width: 1px;
  margin: 0px 10px;
}

.module-desc__delim span,
.block-desc__delim span {
  display: block;
  width: 1px;
  height: 20px;
  background: #CCCDCF;
}

.module__switch,
.block__switch {
  position: absolute;
  top: 50px;
  right: 50px;
  transform: translateY(-50%);
}

.module__switch:before {
  content: "Скрыть модуль";
  font-family: Inter;
  font-size: 14px;
  line-height: 14px;
  color: #999BA1;
}

.block__switch:before {
  content: "Скрыть блок";
  font-family: Inter;
  font-size: 14px;
  line-height: 14px;
  color: #999BA1;
  position: absolute;
  right: 45px;
  top: -6px;
  width: 91px;
}

.module__switch:after {
  content: "";
  width: 15px;
  height: 8px;
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  background: #999BA1;
  -webkit-mask: url(../img/up.svg) no-repeat center;
  mask: url(../img/up.svg) no-repeat center;
  -webkit-mask-size: 15px 8px;
  mask-size: 15px 8px;
  z-index: 100;
}

.block__switch:after {
  content: "";
  width: 15px;
  height: 8px;
  position: absolute;
  right: 21px;
  top: 50%;
  transform: translateY(-50%);
  background: #999BA1;
  -webkit-mask: url(../img/down.svg) no-repeat center;
  mask: url(../img/down.svg) no-repeat center;
  -webkit-mask-size: 15px 8px;
  mask-size: 15px 8px;
  z-index: 100;
}

.collapsed .module__switch:before {
  content: "Раскрыть модуль";
}

.collapsed .module__switch:after,
.collapsed .block__switch:after {
  content: "";
  width: 15px;
  height: 8px;
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  background: #999BA1;
  -webkit-mask: url(../img/down.svg) no-repeat center;
  mask: url(../img/down.svg) no-repeat center;
  -webkit-mask-size: 15px 8px;
  mask-size: 15px 8px;
  z-index: 100;
}

.module__header:hover .module__switch:after,
.block__header:hover .block__switch:after {
  background: black;
}

.module__header:hover .module__switch:before,
.block__header:hover .block__switch:before {
  color: black;
}

.module-setting,
.block-setting {
  position: absolute;
  top: 40px;
  right: -40px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-mask: url(../img/gear.svg) no-repeat center;
  mask: url(../img/gear.svg) no-repeat center;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: #BFC0C4;
  transition: 0.4s;
  cursor: pointer;
}

.module-setting:hover,
.block-setting:hover {
  background-color: black;
}

.module__lessons,
.block__lessons {
  display: flex;
  flex-direction: column;
}

.module__lesson,
.block__lesson {
  background: #FFFFFF;
  border: 1px solid #E6E5EE;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(8, 15, 32, 0.04);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.module__lesson-delete,
.block__lesson-delete {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  opacity: 0;
  transition: all 0.2s linear;
}

.block__switch {
  right: 10px;
}

.module__lesson:hover .module__lesson-delete {
  opacity: 1;
}

.module__lesson:hover .block__lesson-delete {
  opacity: 1;
}

.module__btn,
.block__btn {
  font-family: Inter;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: black;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  height: 40px;
  cursor: pointer;
}

.module__btn_right,
.block__btn_right {
  margin-left: auto;
}

.u-modules__item-title,
.u-blocks__item-title {
  display: flex;
  align-items: center;
}

.input-element__checkbox {
  margin-top: 15px;
  margin-bottom: 0;
}

.collapsed .block__switch:before {
  content: "Раскрыть блок";
  font-family: Inter;
  font-size: 14px;
  line-height: 14px;
  color: #999BA1;
  position: absolute;
  right: 45px;
  top: -6px;
  width: 103px;
}

.collapsed .block__switch:after {
  content: "";
  width: 15px;
  height: 8px;
  position: absolute;
  right: 21px;
  top: 50%;
  transform: translateY(-50%);
  background: #999BA1;
  -webkit-mask: url(../img/up.svg) no-repeat center;
  mask: url(../img/up.svg) no-repeat center;
  -webkit-mask-size: 15px 8px;
  mask-size: 15px 8px;
  z-index: 100;
}

.modules__no-blocks {
  width: 1220px;
}

.modules__with-blocks {
  width: 1260px;
  padding: 20px 40px;
}

.menu__list.menu__list_p0.custom-scroll.tab-content__background {
  padding-top: 0;
  height: 100%;
}

.module-setting--in-block {
  top: 50px;
  right: 30px;
}

.module-buttons--in-block {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.module__switch--in-block {
  top: 62px;
  right: 113px;
}

.block__header-delete,
.module__header-delete {
  opacity: 0;
  transition: all 0.2s linear;
}

.block__wrapper:hover .block__header-delete,
.module:hover .module__header-delete {
  opacity: 1;
}

.module-setting--in-block::after {
  content: "";
  display: block;
  width: 1px;
  height: 20px;
  background: #CCCDCF;
  position: absolute;
  top: 0;
  left: 0;
}

.module__switch--sep {
  display: block;
  position: absolute;
  background-color: rgba(195, 194, 201, 0.4);
  width: 1px;
  height: 20px;
  top: -3px;
  right: -42px;
}