.tile__control {
  height: auto;
  padding: 20px 30px 40px 20px;
}

.tile__text--control {
  margin-top: auto;
}

.tiles {
  width: 100%;
  margin-top: 30px;
}

.tiles__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tile {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 30px 30px;
  color: #161718;
  position: relative;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  background-color: white;
  margin-right: 30px;
  border-radius: 10px;
}

.tile:nth-child(5n) {
  margin-right: 0;
}

.tile:nth-child(n+6) {
  margin-top: 25px;
}

.tile__bg {
  background: #ffffff;
  border: 1px solid #f1f1f4;
  box-sizing: border-box;
  /*box-shadow: 0px 4px 8px rgba(5, 4, 20, 0.06);*/
  border-radius: 12px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /*transition: 0.3s;*/
  transition: 0.2s;
}

.tile:hover .tile__bg {
  /*transform: scale(1.03);*/
  box-shadow: 0 2px 24px rgba(26, 61, 107, 0.08), 0 0 2px rgba(38, 54, 75, 0.08);
}

.tile_small {
  width: 219px;
  height: 219px;
  display: flex;
  flex-direction: column;
}

.big-tile {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #ffffff;
  border: 1px solid #f1f1f4;
  box-sizing: border-box;
  border-radius: 12px;
  position: relative;
  transition: 0.1s;
  padding-bottom: 20px;
}

.big-tile:hover {
  box-shadow: 0 2px 24px rgba(26, 61, 107, 0.08), 0 0 2px rgba(38, 54, 75, 0.08);
}

.tile .tile__tooltip,
.big-tile .tile__tooltip,
.action-banner__item .tile__tooltip {
  position: absolute;
  right: 20px;
  top: 20px;
  min-width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  font-family: Inter;
  font-size: 18px;
  background: #9c9ba6;
  color: white;
  cursor: pointer;
  z-index: 100;
  transition: 0.4s;
}

.tile_green {
  color: #fff;
}

.tile_green .tile__bg {
  background: #27ae60;
  border-color: #27ae60;
}

.tile_green:hover .tile__bg {
  box-shadow: 0px 10px 30px rgba(39, 174, 96, 0.3);
}

.tile_green .tile__tooltip {
  background: rgba(255, 255, 255, 0.4);
  color: #27ae60;
}

.tile_red .tile__bg {
  background: #ff284f;
  border-color: #ff284f;
}

.tile_red:hover .tile__bg {
  box-shadow: 0px 10px 30px rgba(255, 40, 79, 0.3);
}

.tile_red .tile__tooltip {
  background: rgba(255, 255, 255, 0.4);
  color: #ff284f;
}

.tile_black,
.tile_black .tile__description,
.tile_black .tile__text-description {
  color: #30e37c;
}

.tile_black .tile__deviation-percent {
  color: #30e37c;
  border-color: #30e37c;
}

.tile_black .tile__bg {
  background: #07020e;
  border-color: #07020e;
}

.tile_black:hover .tile__bg {
  box-shadow: 0px 10px 30px rgba(7, 2, 14, 0.3);
}

.tile_black .tile__tooltip {
  background: rgba(255, 255, 255, 0.4);
  color: #07020e;
}

.tile__tooltip:hover {
  background: black;
  color: #fff;
}

.tile__title {
  font-family: Inter;
  font-size: 16px;
  line-height: 21px;
  padding-left: 40px;
  position: relative;
  display: flex;
  align-items: center;
  min-height: 30px;
  margin-bottom: 25px;
  width: calc(100% - 25px);
}

.tile__title_margin {
  width: auto;
  margin: 20px 20px 20px 30px;
}

.tile__title_mb35 {
  margin-bottom: 35px;
}

.tile__title:before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: 0.4s;
}

.tile__title_horn:before {
  background: url(../img/i-horn.png) no-repeat center;
  background-size: 30px 30px;
}

.tile__title_handshake:before {
  background: url(../img/handshake.svg) no-repeat center;
  background-size: 30px 30px;
}

.tile__title_estimation:before {
  background: url(../img/estimation.svg) no-repeat center;
  background-size: 30px 30px;
}

.tile__title_dispute:before {
  background: url(../img/dispute.svg) no-repeat center;
  background-size: 30px 30px;
}

.tile__title_change:before {
  background: url(../img/change.svg) no-repeat center;
  background-size: 30px 30px;
}

.tile__title_cart:before {
  background: url(../img/i-cart.png) no-repeat center;
  background-size: 30px 30px;
}

.tile__title_flash:before {
  background: url(../img/i-flash.png) no-repeat center;
  background-size: 30px 30px;
}

.tile__title_cup:before {
  background: url(../img/i-cup.png) no-repeat center;
  background-size: 30px 30px;
}

.tile__title_cash:before {
  background: url(../img/i-cash.png) no-repeat center;
  background-size: 30px 30px;
}

.tile__title_money:before {
  background: url(../img/i-money.png) no-repeat center;
  background-size: 30px 30px;
}

.tile__title_chart:before {
  background: url(../img/i-chart.png) no-repeat center;
  background-size: 30px 30px;
}

.tile__icons {
  display: flex;
}

.tile__title_average:before {
  display: inline-block;
  width: 15px;
  height: 23px;
  content: "";
  background: url(../img/average.svg) no-repeat center;
  background-size: 15px 23px;
  margin-right: 6px;
}

.tile__title_estimation-average:before {
  display: inline-block;
  width: 30px;
  height: 30px;
  content: "";
  background: url(../img/estimation.svg) no-repeat center;
  background-size: 30px 30px;
  margin-right: 15px;
}

.tile__icon {
  display: flex;
  align-items: center;
}

.tile__text {
  font-family: Inter;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.tile__text-description {
  display: flex;
  flex-direction: row;
  font-family: Inter;
  font-size: 18px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.8);
  align-items: center;
}

.tile__deviation-percent {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  color: #ffffff;
  font-family: Inter;
  font-size: 18px;
  line-height: 1;
  display: flex;
  align-items: center;
  height: 26px;
  padding: 0px 8px;
  margin-left: 10px;
}

.tile__description {
  font-family: Inter;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  margin-top: auto;
  display: flex;
}

.tile-table {
  width: 100%;
}

.tile-table__header {
  border-bottom: 1px solid #e4e5e8;
}

.tile-table__header-col {
  font-family: Inter;
  font-size: 16px;
  line-height: 18px;
  color: #b4b3bb;
  padding-left: 35px;
}

.tile-table__header-col_p30 {
  padding-left: 30px;
}

.tile-table__header-col_small {
  width: 50px;
}

.tile-table__header-col_medium {
  width: 70px;
}

.tile-table__body-row {
  height: 52px;
  position: relative;
  border-bottom: 1px solid #e4e5e8;
}

.tile-table__body-col {
  padding-left: 35px;
  padding-right: 35px;
  position: relative;
}

.tile-table__index {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-family: Inter;
  font-size: 18px;
  line-height: 1;
  color: #bfc0c4;
}

.tile-table__body-col_p30 {
  padding-left: 30px;
  padding-right: 30px;
}

.tile-table__body-col_pr0 {
  padding-right: 0px;
}

.tile-table__body-col_pr10 {
  padding-right: 10px;
}

.tile-table__body-col_pr30 {
  padding-right: 30px;
}

.tile-table__header-col_pl10,
.tile-table__body-col_pl10 {
  padding-left: 10px;
}

.tile-table__header-col_pl30,
.tile-table__body-col_pl30 {
  padding-left: 30px;
}

.tile-table__body-col_small {
  width: 50px;
}

.tile-table__body-col_medium {
  width: 70px;
}

.tile-table__body-col_large {
  width: 200px;
  min-width: 200px;
}

.tile-table__body-col_bordered {
  border-right: 1px solid #e4e5e8;
}

.tile-bonus {
  font-family: Inter;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  width: 40px;
  cursor: pointer;
  color: #9c9ba6;
  margin: 0 auto;
}

.tile-table___value {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.monitor-panel__widgets {
  border-top: 0;
  padding-top: 0;
  min-width: auto;
  width: 100%;
  max-width: 100%;
  margin-top: 20px;
}

.tile_red {
  background-color: #ff284f;
}

.tile_red .tile__title {
  color: white;
}

.conversion__item {
  font-size: 12px;
  line-height: 12px;
}