.platform-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 70px;
  height: 100vh;
  background-color: white;
  -webkit-transition: width 0.3s linear;
  -o-transition: width 0.3s linear;
  transition: width 0.3s linear;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-box-shadow: 5px 0px 25px rgba(7, 2, 14, 0.05);
  box-shadow: 5px 0px 25px rgba(7, 2, 14, 0.05);
}
.platform-menu:hover {
  width: 300px;
}
.platform-menu:hover .platform-menu__selector {
  opacity: 1;
}
.platform-menu:hover .platform-logout__selector {
  width: 100%;
}
.platform-menu__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
  pointer-events: none;
}
.platform-menu__selector {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(191, 192, 196, 0.3);
  min-height: 1px;
  height: 1px;
  width: 100%;
  -webkit-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  pointer-events: none;
}
.platform-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  margin-top: 40px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
.platform-menu__item {
  color: #BFC0C4;
  white-space: nowrap;
  cursor: default;
}
.platform-menu__item:hover {
  color: black;
}
.platform-menu__item:hover .platform-menu__link::after {
  background-color: black;
}
.platform-menu__item:hover .platform-submenu {
  width: 240px;
  overflow: hidden;
}
.platform-menu__item:hover.finance::after, .platform-menu__item:hover.team::after, .platform-menu__item:hover.lk::after, .platform-menu__item:hover.products-menu::after, .platform-menu__item:hover.settings::after, .platform-menu__item:hover.office::after {
  background-color: black;
}
.platform-menu__item.active {
  color: black;
}
.platform-menu__item.active .dashboard::after,
.platform-menu__item.active .analytics::after,
.platform-menu__item.active .transactions::after,
.platform-menu__item.active .lk::after,
.platform-menu__item.active .marketing::after,
.platform-menu__item.active .office::after,
.platform-menu__item.active .finance::after,
.platform-menu__item.active .team::after,
.platform-menu__item.active .control::after,
.platform-menu__item.active .products-menu::after,
.platform-menu__item.active .settings::after {
  background-color: black;
}
.platform-menu__item.active.dashboard::after, .platform-menu__item.active.analytics::after, .platform-menu__item.active.transactions::after, .platform-menu__item.active.lk::after, .platform-menu__item.active.marketing::after, .platform-menu__item.active.office::after, .platform-menu__item.active.finance::after, .platform-menu__item.active.team::after, .platform-menu__item.active.control::after, .platform-menu__item.active.products-menu::after, .platform-menu__item.active.settings::after {
  background-color: black;
}
.platform-menu__item.office::after, .platform-menu__item.finance::after, .platform-menu__item.team::after, .platform-menu__item.products-menu::after, .platform-menu__item.lk::after, .platform-menu__item.settings::after {
  content: "";
  display: inline-block;
  min-width: 70px;
  width: 70px;
  min-height: 50px;
  height: 50px;
  -webkit-mask-image: url(../../img/nav-office.svg);
  mask-image: url(../../img/nav-office.svg);
  background-color: #BFC0C4;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 22px 14px;
  mask-size: 22px 14px;
  position: relative;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.platform-menu__item.finance::after {
  -webkit-mask-image: url(../../img/nav-finance.svg);
  mask-image: url(../../img/nav-finance.svg);
  -webkit-mask-size: 22px 22px;
  mask-size: 22px 22px;
}
.platform-menu__item.team::after {
  -webkit-mask-image: url(../../img/nav-team.svg);
  mask-image: url(../../img/nav-team.svg);
  -webkit-mask-size: 24px 22px;
  mask-size: 24px 22px;
}
.platform-menu__item.lk::after {
  -webkit-mask-image: url(../../img/nav-lk.svg);
  mask-image: url(../../img/nav-lk.svg);
  -webkit-mask-size: 24px 22px;
  mask-size: 24px 22px;
}
.platform-menu__item.products-menu::after {
  -webkit-mask-image: url(../../img/nav-products.svg);
  mask-image: url(../../img/nav-products.svg);
  -webkit-mask-size: 22px 22px;
  mask-size: 22px 22px;
}
.platform-menu__item.settings::after {
  -webkit-mask-image: url(../../img/nav-settings.svg);
  mask-image: url(../../img/nav-settings.svg);
  -webkit-mask-size: 22px 22px;
  mask-size: 22px 22px;
}
.platform-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-flow: row-reverse;
  flex-flow: row-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  color: inherit;
}
.platform-menu__link:hover {
  color: inherit;
}
.platform-menu__link.dashboard::after, .platform-menu__link.analytics::after, .platform-menu__link.transactions::after, .platform-menu__link.marketing::after, .platform-menu__link.control::after, .platform-menu__link.faq::after, .platform-menu__link.erp::after {
  content: "";
  display: inline-block;
  min-width: 70px;
  width: 70px;
  min-height: 50px;
  height: 50px;
  -webkit-mask-image: url(../../img/nav-dashboard.svg);
  mask-image: url(../../img/nav-dashboard.svg);
  background-color: #BFC0C4;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 22px 22px;
  mask-size: 22px 22px;
  position: relative;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.platform-menu__link.analytics::after {
  -webkit-mask-image: url(../../img/nav-analytics.svg);
  mask-image: url(../../img/nav-analytics.svg);
  -webkit-mask-size: 23px 22px;
  mask-size: 23px 22px;
}
.platform-menu__link.transactions::after {
  -webkit-mask-image: url(../../img/nav-crm.svg);
  mask-image: url(../../img/nav-crm.svg);
  -webkit-mask-size: 17px 22px;
  mask-size: 17px 22px;
}
.platform-menu__link.marketing::after {
  -webkit-mask-image: url(../../img/nav-marketing.svg);
  mask-image: url(../../img/nav-marketing.svg);
  -webkit-mask-size: 22px 22px;
  mask-size: 22px 22px;
}
.platform-menu__link.control::after {
  -webkit-mask-image: url(../../img/nav-control.svg);
  mask-image: url(../../img/nav-control.svg);
  -webkit-mask-size: 23px 22px;
  mask-size: 23px 22px;
}
.platform-menu__logout {
  margin-top: auto;
}

.company__logo {
  min-width: 70px;
  max-width: 70px;
  width: 70px;
  max-height: 70px;
  height: 70px;
  min-height: 70px;
  display: inline-block;
}
.company__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 10px;
}

.company-caption__title {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #161718;
}
.company-caption__subtitle {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #7D7C85;
  margin-top: 5px;
}

.platform-submenu {
  position: absolute;
  top: -111px;
  left: 100%;
  right: -100%;
  width: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: black;
  color: white;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}
.platform-submenu__item {
  width: 100%;
  height: auto;
}
.platform-submenu__item:hover {
  color: white;
  background-color: #8c8c8c;
}
.platform-submenu__item.active {
  color: white;
  background-color: #8c8c8c;
}
.platform-submenu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
}
.platform-submenu__link:hover {
  color: inherit;
}

.submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-flow: row-reverse;
  flex-flow: row-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.platform-logout__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.platform-logout__desc {
  padding-bottom: 0;
  margin-top: 0;
}
.platform-logout__name {
  font-size: 14px;
  line-height: 14px;
}
.platform-logout__rating {
  font-size: 12px;
  line-height: 12px;
}
.platform-logout__selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 18px;
  height: 1px;
  background: #BFC0C44D;
  margin: 10px auto 0;
  -webkit-transition: width 0.3s linear;
  -o-transition: width 0.3s linear;
  transition: width 0.3s linear;
}
.platform-logout__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-flow: row-reverse;
  flex-flow: row-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  color: #BFC0C4;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.platform-logout__item:hover {
  color: black;
}
.platform-logout__item:hover.exit::after {
  background-color: black;
}
.platform-logout__item.exit::after {
  content: "";
  display: inline-block;
  min-width: 70px;
  width: 70px;
  min-height: 82px;
  height: 82px;
  -webkit-mask-image: url(../../img/nav-exit.svg);
  mask-image: url(../../img/nav-exit.svg);
  background-color: #BFC0C4;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 22px 22px;
  mask-size: 22px 22px;
  position: relative;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.platform-logout__image {
  min-width: 42px;
  width: 42px;
  min-height: 42px;
  height: 42px;
  overflow: hidden;
  border-radius: 100%;
  margin-left: 14px;
}
.platform-logout__image img {
  width: auto;
  height: auto;
  margin-left: 0px;
}