.progress-bar {
  margin-top: 15px;
}

.progress-bar__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  height: 40px;
  padding: 0px 14px;
  background: #F4F4F6;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}

.progress-bar__progress {
  position: absolute;
  top: 0px;
  left: 0px;
  max-width: 100%;
  height: 100%;
  z-index: 0;
}

.progress_gray {
  background: #F4F4F6;
}

.progress_green {
  background: #27AE60;
}

.progress_yellow {
  background: #FFA515;
  box-shadow: 0px 5px 20px rgba(255, 165, 21, 0.4);
}

.progress_red {
  background: #FF284F;
  box-shadow: 0px 5px 20px rgba(255, 40, 79, 0.4);
}

.progress-bar__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: #FFFFFF;
  -webkit-background-clip: text;
  background-clip: text;
  text-fill-color: transparent;
  position: relative;
}

.progress-bar__text--block {
  text-fill-color: none;
  color: black;
}

@media (max-width: 433px) {
  .progress-bar {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

@media (max-width: 375px) {
  .progress-bar__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }
}

@media (max-width: 319px) {
  .progress-bar__text {
    font-size: 12px;
  }
}
