@charset "UTF-8";
.tracker__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-left: 40px;
}

.tracker__year {
  height: 40px;
}

.tracker-select__wrapper {
  background-color: white;
  width: 200px;
}

.tracker-select__wrapper:nth-child(2) {
  margin-left: 10px;
}

.tracker__content {
  width: 1216px;
  margin-left: 40px;
  margin-bottom: 40px;
}

.tracker__item {
  margin-top: 20px;
  padding-top: 35px;
  border-top: 1px solid #c4c4c433;
}

.tracker__title {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.tracker-table__column {
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 15px;
}

.tracker-table__column:first-child {
  color: #161718;
}

.tracker-table__column:last-child {
  text-align: right;
}

.tracker-table__column--head {
  font-family: Inter;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #b4b3bb;
  padding-left: 15px;
}

.tracker-table__column--head:first-child {
  padding-left: 0;
}

.tracker-table__settings {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  -webkit-mask-image: url(../../img/settings.svg);
  mask-image: url(../../img/settings.svg);
  background-color: #b4b3bb;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  cursor: pointer;
  margin-right: 20px;
}

.tracker-table__settings:hover {
  background-color: black;
}

.tracker-table__settings::after {
  content: "";
  display: block;
  width: 1px;
  height: 20px;
  background-color: #f1f1f4;
  position: absolute;
  top: 0;
  left: -20px;
}

.tracker-table__row {
  background-color: white;
  height: 50px;
  -webkit-box-shadow: 0px 4px 8px rgba(5, 4, 20, 0.06);
  box-shadow: 0px 4px 8px rgba(5, 4, 20, 0.06);
  border-radius: 3px;
  margin-top: 10px;
}

.tracker__table {
  width: 100%;
  border-spacing: 0 10px;
  border-collapse: separate;
}

.settings-menu__top {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  -webkit-box-shadow: 0px 5px 25px rgba(7, 2, 14, 0.04);
  box-shadow: 0px 5px 25px rgba(7, 2, 14, 0.04);
  padding: 0 40px;
}

.settings__close {
  right: 0px !important;
}

.settings__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 519px;
  max-width: 520px;
}

.settings__input {
  margin-top: 4px;
}

.settings__holiday {
  margin-top: 20px;
}

.settings__control {
  margin-top: auto;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 25px;
  -webkit-box-shadow: 0px -5px 25px rgba(7, 2, 14, 0.04);
  box-shadow: 0px -5px 25px rgba(7, 2, 14, 0.04);
}

.settings__save {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  padding: 13px 50px;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.settings__save:hover {
  -webkit-box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.08);
}

.settings-form__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 0 16px;
  margin: 20px 25px 13px;
  border-bottom: 1px solid #f1f1f3;
}

.settings-form__personal {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 15px;
}

.settings-form__month {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 15px;
}

.settings-form__element {
  padding: 0 25px;
  position: relative;
}

.settings__title {
  position: relative;
  margin-left: 15px;
}

.settings__title::after {
  content: "Ð§";
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  top: 38px;
  right: 16px;
}

.tracker-filter__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 5px 20px;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
}

.tracker-filter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tracker-select__wrapper {
  min-width: 180px;
}
