.validate-error {
  width: max-content;
  position: absolute;
  left: 16px;
  bottom: -40px;
  font-size: 12px;
  line-height: 16px;
  color: $black;
  padding: 14px 14px 9px;
  z-index: 100;
  background: $white;
  border: 1px solid $border-input;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 8px 18px rgba(3, 6, 29, 0.08);
}
