$black: #161718;
$white: #fff;
$border-input: #c3c2c9;
$menu-icon: #bfc0c4;
$menu-item: #7d7c85;
$hover-sub-menu-item: #282828;
$color-tabs: #9c9ba6;
$close-menu-btn: #c4c4c4;
$transparent: transparent;
$content-delimetr: rgba(156, 155, 166, 0.4);
$select-arrow: #797880;
$red: #ff284f;
$filter-clear-btn: #b4b3bb;
$yellow: #ffa515;
$green: #27ae60;

/* login */
$login-name: #7c7b85;

/* monitor */
$manager-row-border: #e4e5e8;

/* tooltip */
$tooltip-item-bg: #f4f4f6;
$tooltip-item-color: #16171866;
$tooltip-wrapper-bg: rgba(22, 23, 24, 0.9);

/* progress-bar */
$progress-bar-bg: #f4f4f6;

/* body */
$body: #f4f4f6;
