@mixin tooltp-monitor {
  display: inline-flex;
  width: 24px;
  height: 24px;
  background-color: $tooltip-item-bg;
  color: $tooltip-item-color;
  position: relative;
  left: 100%;
  transform: translateX(-100%);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}

@mixin select-angle {
  display: inline-block;
  width: 9px;
  height: 17px;
  mask-image: url("../../../assets/img/a-down.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100% 100%;
  transform: rotate(90deg);
}
