<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Корпоративный центр">

    <title th:utext="${title}"></title>

    <th:block th:insert="base :: links" />
    <link th:href="@{/css/tabs.css}" rel="stylesheet">
</head>
<body>
    <div th:replace="base :: transition-loader"></div>
    <div th:replace="base :: main-nav"></div>
    <script th:src="@{/js/transition-loader.js}"></script>
<script th:inline='javascript'>
    /*<![CDATA[*/
    showLoader();
/*]]>*/
</script>
    <div class="platform__wrapper">
        <div class="platform__header">
            <h1 th:attr="type=${subtype}" js-type class="platform__title" th:utext="${title}"></h1>
            <div th:replace="base :: bookmarks-tab"></div>
        </div>
        <div class="content-main theme-container">
            <div js-create-theme class="add-button add-button_right add-button_black content-top__add-button">Добавить раздел
            </div>
            <th:block th:each="theme, counter : ${articles}">
                <th:block th:unless="${theme.key.editable}">
                    <div class="theme">
                        <div class="theme-wrapper">
                            <div class="theme__title-wrapper">
                                <div theme-name class="theme-title theme-title_delim theme-title__faq" th:utext="${theme.key.name}">
                                </div>
                            </div>
                            <div class="theme__articles">
                                <div class="article" th:each="article : ${theme.value}"
                                    th:attr="data-article=${article.id}">
                                    <div class="article-wrapper">
                                        <div class="article__title" th:utext="${article.name}"></div>
                                        <div class="article-preview">
                                            <div class="article__preview">
                                                <div class="article__preview-hover"></div>
                                                <img th:src="@{'/' + ${article.previewImg}}" alt=""
                                                    class="article__img">
                                                <div class="article__link-wrapper">
                                                    <a th:href="${article.link}" target="_blank"
                                                        class="article__link">Открыть</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>

                <th:block th:if="${theme.key.editable}">
                    <div class="theme" th:attr="data-theme=${theme.key.id}">
                        <div class="theme-wrapper">
                            <div class="theme__title-wrapper">
                                <div theme-name class="theme-title theme-title_delim theme-title__faq" th:utext="${theme.key.name}">
                                </div>
                                <div js-update-theme class="theme-setting mt_0"></div>
                                <div js-create-article class="add-button add-button_right">Добавить файл</div>
                            </div>
                            <div class="theme__articles">
                                <div class="article" th:each="article : ${theme.value}"
                                    th:attr="data-article=${article.id}">
                                    <div class="article-wrapper">
                                        <div class="article__title" th:utext="${article.name}"></div>
                                        <div class="article-preview">
                                            <div class="article__preview">
                                                <div class="article__preview-hover"></div>
                                                <img th:src="@{'/' + ${article.previewImg}}" alt=""
                                                    class="article__img">
                                                <div class="article__link-wrapper">
                                                    <a th:href="${article.link}" target="_blank"
                                                        class="article__link">Открыть</a>
                                                    <div js-update-article class="article__btn-link">Редактировать</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>

            </th:block>
        </div>
    </div>

    <div th:replace="base :: menu-create-theme"></div>
    <div th:replace="base :: menu-update-theme-faq"></div>
    <div th:replace="base :: menu-create-article"></div>
    <div th:replace="base :: menu-update-article"></div>

    <th:block th:insert="base :: scripts" />
    <script th:src="@{/js/upload-img.js}"></script>
    <script th:src="@{/js/themes-menu.js}"></script>
    <script th:inline='javascript'>
        /*<![CDATA[*/
        var filter = null;
        var role = null;
        var items = null;
        var today = null;
        var manager = null;
        var company = null;
        var managers = null;
        var socials = null;
        /*]]>*/
    </script>
</body>

</html>