<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Акции">

    <title>Акции</title>

    <th:block th:insert="base :: links" />
</head>

<body class="page custom-scroll">
    <div class="page__content">
        <div th:replace="base :: transition-loader"></div>
        <div th:replace="base :: main-nav"></div>

        <div class="platform__wrapper">
            <div class="platform__header">
                <h1 class="platform__title">Акции</h1>
                <div th:replace="base :: team-tabs"></div>
            </div>
            <div class="content-main action">
                <div class="content-main__panel content-main__panel_large action__controls">
                    <div js-create-action class="button button_add button-add__action">Добавить акцию</div>
                </div>
                <div class="content-main__wrapper">
                    <div class="content-main__panel content-main__panel_align content-main__panel_large content-main__panel_p action__inner">
                        <table class="custom-table">
                            <tbody class="custom-table__body custom-table__body_white">
                            <tr class="custom-table__header-row">
                                <td class="custom-table__header-col custom-table__header-col_big">Дата</td>
                                <td class="custom-table__header-col custom-table__header-col_big">Название акции</td>
                                <td class="custom-table__header-col custom-table__header-col_big action-type">Вид акции</td>
                                <td class="custom-table__header-col custom-table__header-col_big action-managers">Менеджер(ы)</td>
                                <td class="custom-table__header-col custom-table__header-col_big">Дата от</td>
                                <td class="custom-table__header-col custom-table__header-col_big">Дата до</td>
                                <td class="custom-table__header-col custom-table__header-col_big">Значение</td>
                                <td class="custom-table__header-col custom-table__header-col_big action-reward">Награда</td>
                                <td class="custom-table__header-col custom-table__header-col_big action-winner">Победитель</td>
                                <td class="custom-table__header-col custom-table__header-col_big">Статус акции</td>
                                <td class="custom-table__header-col custom-table__header-col_big"></td>
                            </tr>
                            <tr class="custom-table__body-row" th:each="historyRow, statCount : ${historyRows}">
                                <td class="custom-table__body-col" th:utext="${historyRow.processDate}"></td>
                                <td class="custom-table__body-col">
                                    <div th:attr="title=${historyRow.name}" class="column-text"
                                         th:utext="${historyRow.name}"></div>
                                </td>
                                <td class="custom-table__body-col action-type">
                                    <div th:attr="title=${historyRow.type}" class="column-text"
                                         th:utext="${historyRow.type}"></div>
                                </td>
                                <td class="custom-table__body-col action-managers">
                                    <div th:attr="title=${historyRow.managers}" class="column-text"
                                         th:utext="${historyRow.managers}"></div>
                                </td>
                                <td class="custom-table__body-col" th:utext="${historyRow.startDate}"></td>
                                <td class="custom-table__body-col" th:utext="${historyRow.endDate}"></td>
                                <td class="custom-table__body-col">
                                    <div th:attr="title=${historyRow.value}" class="column-text"
                                         th:utext="${historyRow.value}"></div>
                                </td>
                                <td class="custom-table__body-col" th:utext="${historyRow.bonusType}"></td>
                                <td class="custom-table__body-col action-winner">
                                    <div th:attr="title=${historyRow.winner}" class="column-text"
                                         th:utext="${historyRow.winner}"></div>
                                </td>
                                <td class="custom-table__body-col">
                                    <span class="end-status" th:utext="${historyRow.statusTitle}"></span>
                                </td>
                                <td class="body__cell">
                                    <input type="hidden" name="id" th:value="${historyRow.id}" />
                                    <input class="btn_delete" type="button" value="">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/transition-loader.js}"></script>
<script th:inline='javascript'>
    /*<![CDATA[*/
    showLoader();
/*]]>*/
</script>

    <div th:replace="base :: menu-create-action"></div>
    <th:block th:insert="base :: scripts" />
    <script th:src="@{/js/upload-img.js}"></script>
    <script th:inline='javascript'>
        /*<![CDATA[*/
        var filter = [[${filter}]];
        var role = [[${role}]];
        var items = null;
        var today = null;
        var manager = null;
        var company = [[${company}]];
        var managers = null;
        /*]]>*/
    </script>
</body>

</html>