<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Реклама">

    <title>Рекламный кабинет</title>

    <th:block th:insert="base :: links" />
</head>

<body class="page">

    <div class="page__content">
        <div th:replace="base :: main-nav (logoClass='main-nav__logo_white')"></div>

        <div class="platform__wrapper custom-scroll">
            <div class="platform__header">
                <div class="platform__title" th:unless="${role == 'ROLE_ADMIN'}">Распределение сделок</div>
                <div class="platform__title" th:if="${role == 'ROLE_ADMIN'}">Рекламный кабинет</div>
            </div>
            <div class="content-main advertising">
                <div class="content-main__wrapper content-main__wrapper_col">
                    <div
                        class="content-main__panel adv-panel content-main__panel_align content-main__panel_p content-main__panel_large content-main__panel_col">
                        <div class="content-setting">
                            <div class="search-form menu-search__wrapper">
                                <input link-search id="search" class="menu-search__input menu-search__input_small"
                                       placeholder="Поиск">
                                <label for="search"></label>
                            </div>

                            <div js-add-outside-link class="add-button add-button_right">Добавить внешнюю ссылку</div>
                        </div>
                    </div>

                    <div
                        class="content-main__panel content-main__panel_align content-main__panel_p content-main__panel_large content-main__panel_col">
                        <table class="custom-table custom-table_fixed">
                            <tbody links-table class="custom-table__body custom-table__body_white">
                            <tr class="custom-table__header-row">
                                <td
                                    class="custom-table__header-col custom-table__header-col_big custom-table__header-col_30per">
                                    Назввание</td>
                                <td
                                    class="custom-table__header-col custom-table__header-col_big custom-table__body-col_35per">
                                    Ссылка</td>
                                <td class="custom-table__header-col custom-table__header-col_big"></td>
                                <td class="custom-table__header-col custom-table__header-col_xsmall"></td>
                            </tr>
                            <th:block th:each="outsideLink : ${outsideLinks}">
                                <tr th:attr="data-outside=${outsideLink.id}" class="custom-table__body-row link-row">
                                    <td class="custom-table__body-col">
                                        <input o-name name="name"
                                               class="menu-input__input menu-input__input_small link-name editable link-name__left"
                                               th:value="${outsideLink.name}" disabled required
                                               placeholder="Введите название">
                                    </td>
                                    <td class="custom-table__body-col">
                                        <div class="column-wrapper">
                                            <div class="column-full-text" th:utext="${outsideLink.link}"></div>
                                            <div class="column-links">
                                                <div js-copy-link class="column_mwidth column_mwidth-copy"
                                                     th:attr="data-link=${outsideLink.link}"></div>
                                                <a th:attr="href=${outsideLink.link}" target="_blank"
                                                   class="column_mwidth column_mwidth-open"></a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div
                                            class="div-table__body-col div-table__body-col_center div-table__body-col_xxsmall div-table__body-col_lauto">
                                            <div js-edit-btns class="column-links display-flex-none">
                                                <div js-edit-outside-accept class="column_mwidth column_mwidth-accept">
                                                </div>
                                                <div js-edit-outside-cancel class="column_mwidth column_mwidth-cancel">
                                                </div>
                                            </div>
                                            <div js-edit-menu class="column-links display-flex-none is-open">
                                                <div js-edit-outside
                                                     class="column_mwidth div-table__body-col_center column_mwidth-edit">
                                                </div>
                                                <form delete-outside-link-form class="column-form" action="#">
                                                    <input type="hidden" th:value="${outsideLink.id}" name="id"
                                                           required>
                                                    <button delete-outside-link-btn type="button"
                                                            class="column_mwidth column_mwidth-delete"></button>
                                                </form>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="custom-table__body-col">
                                        <div class="accordion-btn">
                                            <div data-toggle="collapse" aria-expanded="false"
                                                 th:attr="data-target=${'#out' + outsideLink.id}, aria-controls=${'out' + outsideLink.id}"
                                                 class="accordion-btn__wrapper collapsed">

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr th:attr="parent=${outsideLink.id}" th:id="${'out' + outsideLink.id}"
                                    class="custom-table__body-row collapse">
                                    <td colspan="4" class="custom-table__body-col custom-table__body-col_center">
                                        <table class="custom-table custom-table_inset">
                                            <th:block th:each="insideLink : ${insideLinksMap.get(outsideLink.id)}">
                                                <tr th:attr="data-inside=${insideLink.id}"
                                                    class="custom-table__body-row custom-table__body-row_gray">
                                                    <td class="custom-table__body-col custom-table__body-col_15per">
                                                        <input i-name name="name"
                                                               class="menu-input__input menu-input__input_small editable"
                                                               th:value="${insideLink.name}" disabled required
                                                               placeholder="Введите имя">
                                                    </td>
                                                    <td class="custom-table__body-col custom-table__body-col_15per"
                                                        th:utext="${insideLink.counter + ' переходов'}"></td>
                                                    <td
                                                        class="custom-table__body-col custom-table__body-col_center custom-table__body-col_35per">
                                                        <div class="column-wrapper">
                                                            <div class="column-full-text">
                                                                <input i-link name="link"
                                                                       class="menu-input__input menu-input__input_small editable editable__adv"
                                                                       th:value="${insideLink.link}" disabled required
                                                                       placeholder="Введите ссылку">
                                                            </div>
                                                            <div class="column-links">
                                                                <div js-copy-link
                                                                     class="column_mwidth column_mwidth-copy"
                                                                     th:attr="data-link=${insideLink.link}"></div>
                                                                <a th:attr="href=${insideLink.link}" target="_blank"
                                                                   class="column_mwidth column_mwidth-open"></a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="custom-table__body-col custom-table__body-col_center">
                                                        <form action="#" js-link-active-form
                                                              class="input-element__input input-element__input_status input-element__input_max input-element__input_right input-element__input_row">
                                                            <div
                                                                class="input-element__radio input-element__input_xxsmall">
                                                                <input js-link-active type="radio"
                                                                       th:id="${'active' + insideLink.id}"
                                                                       th:checked="${insideLink.isActive}"
                                                                       class="radio radio_green" name="isActive"
                                                                       value="true">
                                                                <label th:for="${'active' + insideLink.id}"
                                                                       class="label">Включена</label>
                                                            </div>
                                                            <div
                                                                class="input-element__radio input-element__input_xxsmall">
                                                                <input js-link-active type="radio"
                                                                       th:id="${'inactive' + insideLink.id}"
                                                                       th:checked="${!insideLink.isActive}"
                                                                       class="radio radio_red" name="isActive"
                                                                       value="false">
                                                                <label th:for="${'inactive' + insideLink.id}"
                                                                       class="label">Выключена</label>
                                                            </div>
                                                            <input type="hidden" name="id" th:value="${insideLink.id}">
                                                        </form>
                                                    </td>
                                                    <td class="custom-table__body-col custom-table__body-col_lsmall">
                                                        <div
                                                            class="div-table__body-col div-table__body-col_center div-table__body-col_xxsmall">
                                                            <div js-edit-btns class="column-links display-flex-none">
                                                                <div js-edit-inside-accept
                                                                     class="column_mwidth column_mwidth-accept"></div>
                                                                <div js-edit-inside-cancel
                                                                     class="column_mwidth column_mwidth-cancel"></div>
                                                            </div>
                                                            <div js-edit-menu
                                                                 class="column-links display-flex-none is-open">
                                                                <div js-edit-inside
                                                                     class="column_mwidth div-table__body-col_center column_mwidth-edit">
                                                                </div>
                                                                <form delete-inside-link-form class="column-form"
                                                                      action="#">
                                                                    <input type="hidden" th:value="${insideLink.id}"
                                                                           name="id" required>
                                                                    <button delete-inside-link-btn type="button"
                                                                            class="column_mwidth column_mwidth-delete"></button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </th:block>
                                            <tr class="custom-table__body-row">
                                                <td colspan="5"
                                                    class="custom-table__body-col custom-table__body-col_p18 custom-table__body-col_r30">
                                                    <div class="column-wrapper">
                                                        <div js-add-inside-link
                                                             class="add-button add-button_right add-button_medium">
                                                            Добавить внутреннюю ссылку</div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="base :: transition-loader"></div>
    <div th:replace="base :: dialog"></div>

    <script th:src="@{/js/transition-loader.js}"></script>
<script th:inline='javascript'>
    /*<![CDATA[*/
    showLoader();
/*]]>*/
</script>
    <div th:replace="base :: menu-add-outside"></div>
    <div th:replace="base :: menu-add-inside"></div>

    <th:block th:insert="base :: scripts" />
    <script th:src="@{/js/copy.js}"></script>
    <script th:inline='javascript'>
        /*<![CDATA[*/
        var filter = [[${ filter }]];
        var role = [[${ role }]];
        var items = null;
        var today = [[${ today }]];
        var manager = [[${ manager }]];
        var company = [[${ company }]];
        var managers = null;
    /*]]>*/
    </script>
</body>

</html>