<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Корпоративный центр">

    <title th:utext="${title}"></title>

    <th:block th:insert="base :: links" />
    <link th:href="@{/css/datepicker.css}" rel="stylesheet">
    <link th:href="@{/css/jquery.fancybox.min.css}" rel="stylesheet">
</head>

<body class="page">
    <div class="page__content">
        <div th:replace="base :: main-nav"></div>

        <div class="platform__wrapper">
            <div class="platform__header">
                <h1 class="platform__title" th:utext="${title}"></h1>
                <div th:replace="base :: reglament-tabs"></div>
            </div>
            <div class="content-main article-container">
                <th:block th:each="article, cnt : ${articles}">
                    <div class="theme" th:attr="data-article=${article.id}">
                        <div class="theme-wrapper theme-wrapper_row">
                            <div class="theme__text-wrapper">
                                <img th:if="${article.kind == 1}" class="article__img" th:src="'/' + ${article.previewImg}">
                                <img th:if="${article.kind == 2}" js-open-article class="article__img article__img_modal"
                                     th:src="'/' + ${article.previewImg}">
                                <a th:if="${article.kind == 3}" target="_blank" th:href="${article.link}">
                                    <img class="article__img" th:src="'/' + ${article.previewImg}">
                                </a>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>

    <div th:replace="base :: transition-loader"></div>
    <script th:src="@{/js/transition-loader.js}"></script>
<script th:inline='javascript'>
    /*<![CDATA[*/
    showLoader();
/*]]>*/
</script>

    <div th:replace="base :: menu-open-article"></div>

    <th:block th:insert="base :: scripts" />
    <script th:src="@{/js/open-articles.js}"></script>
    <script th:inline='javascript'>
        /*<![CDATA[*/
        var filter = null;
        var role = null;
        var items = null;
        var today = null;
        var manager = null;
        var company = null;
        var managers = null;
        var socials = null;
        /*]]>*/
    </script>
</body>

</html>