<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="панель администратора">
    <title>Новые планы</title>
    <th:block th:insert="base :: links" />
</head>

<body class="custom-scroll">
<div th:replace="base :: main-nav"></div>
<div th:replace="base :: transition-loader"></div>
<script th:src="@{/js/transition-loader.js}"></script>
<script th:inline='javascript'>
    /*<![CDATA[*/
    showLoader();
/*]]>*/
</script>

<div class="main-content plans">
    <div class="content-top plans__top">
        <h1 class="content-top__title plans-head__title">Планы</h1>
    </div>

    <div class="content-main__panel plans__panel">
        <div class="plans__choose">
            <form js-month-form class="plans__year" th:action="@{/settings/common-plans/}" th:object="${filter}"
                  th:method="post">
                <div class="menu-input__wrapper menu-input__wrapper_select plans-select__wrapper plans-year">
                    <select name="year" js-select-year
                            class="menu-input__input menu-input__input_small menu-input__input_select menu-input__select-year">
                    </select>
                </div>
            </form>
        </div>
    </div>

    <div js-plans-now__block class="plans-now__list">

    </div>
</div>

<div th:replace="base :: menu-plan-add"></div>
<div th:replace="base :: menu-funnel-add-to-plans"></div>

<th:block th:insert="base :: scripts" />
<script th:inline='javascript'>
    /*<![CDATA[*/
    var filter = [[${filter}]];
    var role = [[${role}]];
    var items = null;
    var today = null;
    var manager = null;
    var funnels = [[${funnels}]];
    var company = [[${company}]];
    var updatingBox = [[${ updatingBox }]];
    var plans = [[${ plans }]];
    var managers = [[${ managers }]];
    var idCompany = [[${ idCompany }]];
    var years = [[${years}]];
    /*]]>*/
</script>

</body>

</html>