<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Оценка работы">

    <title>Оценка работы</title>

    <th:block th:insert="base :: links" />
    <link th:href="@{/css/jquery.fancybox.min.css}" rel="stylesheet">
</head>

<body>
<div th:replace="base :: dialog"></div>
<div th:replace="base :: main-nav"></div>
<div th:replace="base :: transition-loader"></div>
<script th:src="@{/js/transition-loader.js}"></script>
<script th:inline='javascript'>
    /*<![CDATA[*/
    showLoader();
/*]]>*/
</script>

<div class="main-content main-content_white-top-medium">
    <div class="content-top">
        <div class="content-top__title">Оценка работы</div>
    </div>

    <div class="content-top content-top_small">
        <th:block th:if="${role == 'ROLE_ADMIN'}">
            <div th:replace="base :: a-quality-tab"></div>
        </th:block>
        <th:block th:if="${role == 'ROLE_EXAMINER'}">
            <div th:replace="base :: e-quality-tab"></div>
        </th:block>
    </div>

    <div class="content-main">
        <div class="content-main__wrapper content-main__wrapper_col">
            <div class="content-main__panel content-main__panel_align content-main__panel_p content-main__panel_large content-main__panel_col">
                <form qs-filter-form action="#" th:action="@{/quality/rating/}" th:object="${filter}" th:method="post" class="content-setting">
                    <div class="menu-input__wrapper menu-input__wrapper_select menu-input__wrapper_medium menu-input__wrapper_mr">
                        <select qs-filter class="menu-input__input menu-input__input_small menu-input__input_select menu-input__input_white" th:field="*{year}">
                            <option th:each="year : ${years}"  th:value="${year}"  th:utext="${year}"></option>
                        </select>
                    </div>
                    <div class="menu-input__wrapper menu-input__wrapper_select menu-input__wrapper_medium menu-input__wrapper_mr">
                        <select qs-filter class="menu-input__input menu-input__input_small menu-input__input_select menu-input__input_white" th:field="*{month}">
                            <option value="1">Январь</option>
                            <option value="2">Февраль</option>
                            <option value="3">Март</option>
                            <option value="4">Апрель</option>
                            <option value="5">Май</option>
                            <option value="6">Июнь</option>
                            <option value="7">Июль</option>
                            <option value="8">Август</option>
                            <option value="9">Сентябрь</option>
                            <option value="10">Октбярь</option>
                            <option value="11">Ноябрь</option>
                            <option value="12">Декабрь</option>
                        </select>
                    </div>
                </form>

                <div class="content-delim">
                    <span></span>
                </div>
            </div>

            <div class="content-main__panel content-main__panel_align content-main__panel_p content-main__panel_large content-main__panel_col">
                <div class="template-setting"
                     th:each="department : ${departments}"
                     th:attr="data-department=${department.id}"
                     th:if="${#lists.size(templateEmployee.get(department.id)) != 0 && #maps.size(templateSettings.get(department.id)) != 0}">
                    <div department class="template-setting__title" th:utext="${department.title}"></div>
                    <table class="custom-table">
                        <thead class="custom-table__header">
                            <tr class="custom-table__header-row">
                                <td class="custom-table__header-col custom-table__header-col_big custom-table__header-col_emp">Сотрудник</td>
                                <td class="custom-table__header-col custom-table__header-col_big custom-table__header-col_medium">Факт/норма</td>
                                <td class="custom-table__header-col custom-table__header-col_big custom-table__header-col_number" th:each="day : ${#numbers.sequence(1, daysCount, 1)}" th:utext="${day}"></td>
                            </tr>
                        </thead>
                        <tbody class="custom-table__body custom-table__body_white">
                            <tr class="custom-table__body-row"
                                th:each="employee : ${templateEmployee.get(department.id)}"
                                th:attr="data-employee=${employee.id}"
                                th:if="${templateSettings.get(department.id).get(employee.id)}">
                                <td class="custom-table__body-col custom-table__body-col_emp" th:attr="data-setting=${templateSettings.get(department.id).get(employee.id).id}, data-template=${templateSettings.get(department.id).get(employee.id).idTemplate}">
                                    <div class="employee">
                                        <div class="employee__avatar">
                                            <div class="avatar">
                                                <div avatar class="avatar__wrapper">
                                                        <span class="avatar-image" th:classappend="${(employee.avatar == null || #strings.isEmpty(employee.avatar)) ? 'avatar-image_default' : ''}">
                                                            <img th:if="${employee.avatar}" th:src="'/' + ${employee.avatar}" alt="">
                                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="employee__desc">
                                            <div employee-name class="employee-name" th:utext="${employee.name}"></div>
                                            <div employee-position class="employee-position" th:utext="${employee.position}"></div>
                                        </div>
                                    </div>
                                </td>
                                <td class="custom-table__body-col">
                                    <div class="grade">
                                        <div class="grade__values" th:with="total=${totalRateEmployee.get(department.id).get(employee.id)}">
                                            <span total-emloyee-rate class="grade-value grade-value_bold grade-value_small"
                                                  th:utext="${totalRateEmployee.get(department.id).get(employee.id)}"
                                                  th:classappend="${total >= 90 ? 'grade-value_green' : (total > 50 ? 'grade-value_yellow' : 'grade-value_red')}"></span>
                                            <span class="grade-delim grade-delim_small">/</span>
                                            <span class="grade-value grade-value_xsmall grade-value_bold">100</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="custom-table__body-col custom-table__body-col_number"
                                    th:each="day : ${#numbers.sequence(1, daysCount, 1)}"
                                    th:attr="data-day=${day}"
                                    th:with='rateDay=${rateEmployee.get(department.id).get(employee.id).get(day)}'>
                                    <th:block th:if="${rateDay} != null">
                                        <div th:classappend="${rateDay.total >= 90 ? 'rate_green' : (rateDay.total > 50 ? 'rate_yellow' : 'rate_red')}"
                                             class="rate"
                                             update-rate
                                             th:attr="data-rate=${rateDay.id}"
                                             th:utext="${rateDay.total}" ></div>
                                    </th:block>
                                    <th:block th:unless="${rateDay} != null">
                                        <div add-rate class="rate">—</div>
                                    </th:block>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="base :: menu-rate-quality"></div>
<div th:replace="base :: menu-update-rate"></div>

<th:block th:insert="base :: scripts" />
<script th:src="@{/js/quality-rating-menu.js}"></script>
<script th:src="@{/js/upload-img.js}"></script>
<script th:src="@{/js/jquery.fancybox.min.js}"></script>
<script th:inline='javascript'>
    /*<![CDATA[*/
    var filter = null;
    var role = null;
    var items = null;
    var today = null;
    var manager = null;
    var company = null;
    var managers = null;
    var socials = null;
    /*]]>*/
</script>
</body>
</html>