<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Домашние задания">

    <title>Домашние задания</title>
    <link th:href="@{/css/datepicker.css}" rel="stylesheet">
    <link th:href="@{/css/jquery.fancybox.min.css}" rel="stylesheet">
</head>

<body class="page custom-scroll">
<div th:replace="base :: main-nav"></div>
<div th:replace="base :: transition-loader"></div>
<div th:replace="base :: bill-copy-tooltip"></div>
<script th:src="@{/js/transition-loader.js}"></script>
<script th:inline='javascript'>
    /*<![CDATA[*/
    showLoader();
/*]]>*/
</script>

<div class="platform__wrapper">
    <div class="platform__header">
        <h1 class="platform__title">Домaшние задания</h1>
    </div>

    <div class="platform__content">
        <div class="platform__nav">
            <div class="platform__nav--left">
                <div class="platform__filter--btn">Фильтр</div>
                <form action="" th:action="@{/homework/}" class="platform__search" th:object="${filter}"
                      th:method="post">
                    <input id="searchClient" class="platform__input--search" type="text"
                           placeholder="Введите ФИО клиента"
                           th:field="*{searchRow}">
                    <label search-client-btn for="searchClient" class="platform__search--start"
                           th:classappend="${#strings.isEmpty(filter.searchRow) == true}? '' : 'active'"></label>
                </form>
            </div>
            <div class="platform__nav--right platform__counter">
                <span th:text="${homeworkCounter.allCount + ' ' + 'всего'}"></span>
                &nbsp;
                /
                &nbsp;
                <span rated-counter
                      th:text="${homeworkCounter.completedCount + ' ' + 'проверено'}"></span>
            </div>
        </div>

        <div class="homework__content">
            <div class="homework__table--wrapper">
                <table class="platform__table homework__table" th:classappend="${(homeworkPage.pagesAvailable > 1) ? '' : 'mb_20'}">
                    <tbody class="tbody platform-table__body">
                    <tr class="platform-table__row--header homework-table__row--header">
                        <td class="platform-table__column homework-table__column">Дата</td>
                        <td class="platform-table__column homework-table__column">Клиент</td>
                        <td class="platform-table__column homework-table__column">Менеджер</td>
                        <td class="platform-table__column homework-table__column">Курс</td>
                        <td class="platform-table__column homework-table__column">Модуль</td>
                        <td class="platform-table__column homework-table__column">Оценка ученика</td>
                        <td class="platform-table__column homework-table__column">Поток</td>
                        <td class="platform-table__column homework-table__column">Старт</td>
                        <td class="platform-table__column homework-table__column">Оценка</td>
                        <td class="platform-table__column homework-table__column">Статус</td>
                        <td class="platform-table__column homework-table__column">Проверил</td>
                    </tr>
                    <tr class="platform-table__row homework-table__row"
                        th:each="homeworkRow : ${homeworkPage.pageItems}"
                        th:attrappend="data-homework=${homeworkRow.homework.id},data-deal=${homeworkRow.idDeal},data-client=${homeworkRow.client.id}">
                        <td class="platform-table__column homework-table__column"
                            th:text="${homeworkRow.homework.createdDate}"></td>
                        <td js-client-id class="platform-table__column homework-table__column">
                            <a href="" class="homework-table__link" js-client-card th:title="${homeworkRow.client.name}"
                               th:text="${homeworkRow.client.name}"></a>
                        </td>
                        <td th:if="${homeworkRow.manager}" class="platform-table__column homework-table__column"
                            th:text="${homeworkRow.manager.name}"></td>
                        <td th:unless="${homeworkRow.manager}" class="platform-table__column homework-table__column">&mdash;</td>
                        <td class="platform-table__column homework-table__column">
                            <a href="" th:title="${homeworkRow.course.name}" js-course-card class="homework-table__link course"
                               th:text="${homeworkRow.course.name}"></a>
                            <p class="homework-table__course-type" th:text="${homeworkRow.course.courseType}"></p>
                        </td>
                        <td class="platform-table__column homework-table__column">
                            <span js-module class="homework-table__link"
                               th:title="${homeworkRow.module.index + ' | ' + homeworkRow.module.moduleName}"
                               th:text="${homeworkRow.module.index + ' | ' + homeworkRow.module.moduleName}"></span>
                        </td>
                        <td class="platform-table__column homework-table__column"
                            th:text="${homeworkRow.lessonRate}? ${homeworkRow.lessonRate} : 'Нет'"></td>
                        <td class="platform-table__column homework-table__column"
                            th:text="${homeworkRow.stream.id}"></td>
                        <td class="platform-table__column homework-table__column"
                            th:text="${homeworkRow.stream.startDate}"></td>
                        <td class="platform-table__column homework-table__column homework__rate" estimation>
                            <span th:if="${homeworkRow.homework.rate != 0}" class="homework__rate--icon"></span>
                            <span class="homework__rate--value"
                                  th:text="${homeworkRow.homework.rate}? ${homeworkRow.homework.rate} : 'Нет'"></span>
                        </td>
                        <td rate class="platform-table__column homework-table__column">
                            <div rate-homework class="homework-rate homework-rate__check"
                                 th:if="${homeworkRow.homework.rate == 0 && homeworkRow.homework.checker == null}">
                                Проверить
                            </div>
                            <div rate-homework th:unless="${homeworkRow.homework.rate == 0}"
                                 class="homework-rate homework-rate__view">
                                Проверено
                            </div>
                            <div rate-homework class="homework-rate homework-rate__check"
                                 th:if="${homeworkRow.homework.rate == 0 && homeworkRow.homework.checker != null}">
                                Пересдача
                            </div>
                        </td>
                        <td checker class="platform-table__column homework-table__column"
                            th:text="${homeworkRow.homework.checker}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="platform__pagination pagination" th:if="${homeworkPage.pagesAvailable > 1}"
            th:with="left=4,right=5">
           <div class="pagination__wrapper">
               <a th:attrappend="href=${homeworkPage.pageNumber - 1 > 0} ? 'page?id=' + ${homeworkPage.pageNumber - 1} : ''"
                  th:classappend="${homeworkPage.pageNumber - 1} == 0 ? 'pagination__elem--disabled' : ''"
                  class="pagination__elem pagination__elem--prev"></a>
               <th:block th:if="${homeworkPage.pagesAvailable <= 10}"
                         th:with="start=1,end=${homeworkPage.pagesAvailable}">
                   <th:block th:each="i : ${#numbers.sequence(start,end)}">
                       <a th:attrappend="href='page?id=' + ${i}"
                          th:classappend="${homeworkPage.pageNumber == i} ? 'active' : ''" th:utext="${i}"
                          class="pagination__elem"></a>
                   </th:block>
               </th:block>
               <th:block th:unless="${homeworkPage.pagesAvailable <= 10}">
                   <th:block
                           th:if="${homeworkPage.pageNumber > left && homeworkPage.pageNumber < (homeworkPage.pagesAvailable - right)}"
                           th:with="start=${homeworkPage.pageNumber - left},end=${homeworkPage.pageNumber + right}">
                       <a class="pagination__elem" th:if="${homeworkPage.pageNumber > (left + 1)}"
                          th:attrappend="href='page?id=1'">1</a>
                       <th:block th:each="i : ${#numbers.sequence(start,end)}">
                           <a th:attrappend="href='page?id=' + ${i}"
                              th:classappend="${homeworkPage.pageNumber == i} ? 'active' : ''" th:utext="${i}"
                              class="pagination__elem"></a>
                       </th:block>
                       <a class="pagination__elem"
                          th:if="${homeworkPage.pageNumber <= homeworkPage.pagesAvailable - right}"
                          th:attrappend="href='page?id=' + ${homeworkPage.pagesAvailable}"
                          th:text="${homeworkPage.pagesAvailable}"></a>
                   </th:block>
                   <th:block th:if="${homeworkPage.pageNumber <= left}"
                             th:with="start=1,end=${homeworkPage.pageNumber + (right + 1 + left - homeworkPage.pageNumber)}">
                       <th:block th:each="i : ${#numbers.sequence(start,end)}">
                           <a th:attrappend="href='page?id=' + ${i}"
                              th:classappend="${homeworkPage.pageNumber == i} ? 'active' : ''" th:utext="${i}"
                              class="pagination__elem"></a>
                       </th:block>
                       <a class="pagination__elem"
                          th:if="${homeworkPage.pageNumber <= homeworkPage.pagesAvailable - right}"
                          th:attrappend="href='page?id=' + ${homeworkPage.pagesAvailable}"
                          th:text="${homeworkPage.pagesAvailable}"></a>
                   </th:block>
                   <th:block
                           th:unless="${(homeworkPage.pageNumber > left && homeworkPage.pageNumber < (homeworkPage.pagesAvailable - right)) || (homeworkPage.pageNumber <= left)}"
                           th:with="start=${homeworkPage.pageNumber - (left + right - (homeworkPage.pagesAvailable - homeworkPage.pageNumber))},end=${homeworkPage.pagesAvailable}">
                       <a class="pagination__elem" th:attrappend="href='page?id=1'">1</a>
                       <th:block th:each="i : ${#numbers.sequence(start,end)}">
                           <a th:attrappend="href='page?id=' + ${i}"
                              th:classappend="${homeworkPage.pageNumber == i} ? 'active' : ''" th:utext="${i}"
                              class="pagination__elem"></a>
                       </th:block>
                   </th:block>
               </th:block>
               <a th:attrappend="href=${homeworkPage.pageNumber + 1 <= homeworkPage.pagesAvailable } ? 'page?id=' + ${homeworkPage.pageNumber + 1} : ''"
                  th:classappend="${homeworkPage.pageNumber != homeworkPage.pagesAvailable} ? '' : 'pagination__elem--disabled'"
                  class="pagination__elem pagination__elem--next"></a>
           </div>
       </div>
    </div>
</div>

<div class="platform__filter">
    <div class="filter__wrapper">
        <div class="filter__head">
            <h2 class="filter__title">Фильтровать ДЗ</h2>
            <span class="platform__close--btn"></span>
        </div>
        <div class="filter__content custom-scroll">
            <form class="filter__form" action="#" th:action="@{/homework/}" th:method="post">
                <ul class="filter__column">
                    <li class="filter__item width_100">
                        <h3 class="filter__subtitle">Параметры</h3>
                    </li>
                    <li class="filter__item">
                        <p class="filter__name">Продукт</p>
                        <div class="platform-select__wrapper filter__select-wrapper">
                            <select js-course name="idCourse" class="platform__select filter__select">
                                <option value="0">Все продукты</option>
                                <option th:each=" course : ${courses}" th:text="${course.name}"
                                        th:attrappend="value=${course.id}"></option>
                            </select>
                        </div>
                    </li>
                    <li class="filter__item">
                        <p class="filter__name">Статус ДЗ</p>
                        <div class="platform-select__wrapper filter__select-wrapper">
                            <select js-status name="homeworkStatus" class="platform__select filter__select">
                                <option value="all">Все</option>
                                <option value="verified">Проверенные</option>
                                <option value="unverified">Не проверенные</option>
                            </select>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
        <div class="filter__footer">
            <div class="filter__apply">Применить фильтры</div>
            <form th:if="${filter.canClear}" action="#" th:action="@{/homework/clearFilter}" th:object="${filter}" th:method="post"
                  class="filter__stop">
                <button type="submit" class="filter__reset">
                    <span class="filter__reset--icon"></span>
                    Сбросить фильтры
                </button>
            </form>
        </div>
    </div>
</div>

<div th:replace="base :: rate-homework-menu"></div>
<div th:replace="base :: client-card-menu"></div>
<div th:replace="base :: deal-menu"></div>
<div th:replace="base :: pay-menu"></div>
<div th:replace="base :: add-bill-new"></div>

<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/jquery.fancybox.min.js}"></script>
<script th:src="@{/js/datepicker.min.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
        var filter = [[${filter}]];
        var items = [[${homeworkPage.pageItems}]];
        var role = [[${role}]];
        var products = [[${courses}]];
        var funnels = [[${funnels}]];
        var social = [[${socials}]];
        var today = null;
        var manager = null;
        var company = [[${ company }]];
        var managers = null;
        var comments = null;
        var dealStatuses = [[${dealStatuses}]];
    /*]]*/
    </script>
    <script th:src="@{/js/main.js}"></script>
</body>

</html>