<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Доступ менеджеров">

    <title>Доступ менеджеров</title>

    <th:block th:insert="base :: links" />
</head>

<body>
<div th:replace="base :: main-nav"></div>
<div th:replace="base :: transition-loader"></div>
<script th:src="@{/js/transition-loader.js}"></script>
<script th:inline='javascript'>
    /*<![CDATA[*/
    showLoader();
/*]]>*/
</script>

<div class="main-content">
    <div class="content-top">
        <div class="content-top__title">Доступ менеджеров</div>
    </div>
    <div class="content-main">
        <div class="content-main__panel content-main__panel_large">
            <div js-create-row class="button button_add">Добавить</div>
        </div>
        <div class="content-main__wrapper">
            <div class="content-main__panel content-main__panel_align content-main__panel_p">
                <table class="custom-table">
                    <thead class="custom-table__header">
                    <tr class="custom-table__header-row">
                        <td class="custom-table__header-col custom-table__header-col_big">#</td>
                        <td class="custom-table__header-col custom-table__header-col_big">Менеждер</td>
                        <td class="custom-table__header-col custom-table__header-col_big">Доступ к</td>
                        <td class="custom-table__header-col custom-table__header-col_big"></td>
                    </tr>
                    </thead>
                    <tbody class="custom-table__body custom-table__body_white" table-body>
                    <tr class="custom-table__body-row" th:each="managerAccess, stat : ${managerAccesses}">
                        <input type="hidden" ma-id th:value="${managerAccess.id}" name="id" required>
                        <td class="custom-table__body-col" th:utext="${stat.count}"></td>
                        <td class="custom-table__body-col custom-table__body-col_xlarge" th:utext="${managerAccess.managerName}"></td>
                        <td class="custom-table__body-col custom-table__body-col_xlarge" th:utext="${managerAccess.managerAccessName}"></td>

                        <td class="custom-table__body-col custom-table__body-col_last">
                            <div edit-menu class="column-links display-flex-none is-open">
                                <div delete-ma-form class="column-form">
                                    <button delete-ma type="button" class="column_mwidth column_mwidth-delete"></button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div th:replace="base :: menu-create-row"></div>

<th:block th:insert="base :: scripts" />
<script th:src="@{/js/access-manager-menu.js}"></script>
<script th:inline='javascript'>
    /*<![CDATA[*/
    var filter = null;
    var role = null;
    var items = null;
    var today = null;
    var manager = null;
    var company = null;
    var managers = null;
    var socials = null;
    /*]]>*/
</script>
</body>
</html>