<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
	<meta name="description" content="панель администратора">
	<title>Настройка ЗП</title>
	<th:block th:insert="base :: links" />
</head>

<body class="page custom-scroll">
	<div class="page__content">
		<div th:replace="base :: main-nav"></div>

		<div class="platform__wrapper">
				<div class="platform__header motivation__top">
					<h1 class="platform__title motivation-head__title">Мотивация</h1>
				</div>

			<div class="content-main__panel motivation__panel">
				<div class="motivation__choose">
					<div class="motivation__selects">
						<div class="menu-input__wrapper menu-input__wrapper_select motivation-select__wrapper motivation-department">
							<select name="idDepartment"
											class="motivation-add__department menu-input__input menu-input__input_small menu-input__input_select">
								<option value="">Выберите отдел</option>
								<option th:value="${department.id}" th:attrappend="data-department=${department.department}"
												th:each="department : ${departments}" th:text="${department.title}">
							</select>
						</div>

						<div class="menu-input__wrapper menu-input__wrapper_select motivation-select__wrapper motivation-position">
							<select name="idPosition"
											class="motivation-add__position menu-input__input menu-input__input_small menu-input__input_select">
								<option value="">Выберите должность</option>
							</select>
						</div>

						<div class="menu-input__wrapper menu-input__wrapper_select motivation-select__wrapper motivation-position">
							<select name="forSelfEmployed"
											class="motivation-add__employed menu-input__input menu-input__input_small menu-input__input_select">
								<option value="" selected>Тип трудоустройства</option>
								<option value="false">В штате</option>
								<option value="true">Самозанятый</option>
							</select>
						</div>

						<div class="menu-input__wrapper menu-input__wrapper_select motivation-select__wrapper motivation-year">
							<select name="year"
											class="motivation-add__year menu-input__input menu-input__input_small menu-input__input_select">
								<option value="" selected>Выберите год</option>
							</select>
						</div>
					</div>

					<button motivation-add class="motivation-add__button">Добавить мотивацию</button>
				</div>

				<div js-motivation-now__block class="motivation-now__list"></div>


				<div class="motivation-tab__content" data-tab="calendar">
					<div class="content-main__panel motivation__panel">
						<div class="motivation__choose">
							<div class="menu-input__wrapper menu-input__wrapper_select motivation-select__wrapper m-calendar__year">
								<select name="year"
												class="calendar-year__select menu-input__input menu-input__input_small menu-input__input_select">
									<option value="0" selected>Выберите год</option>
								</select>
							</div>
						</div>
					</div>

					<div js-motivation-calendar class="motivation-calendar__list">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="base :: transition-loader"></div>
	<script th:src="@{/js/transition-loader.js}"></script>
<script th:inline='javascript'>
    /*<![CDATA[*/
    showLoader();
/*]]>*/
</script>

	<div th:replace="base :: menu-motivation-templates"></div>
	<div th:replace="base :: menu-motivation-modify-template"></div>
	<div th:replace="base :: menu-motivation-add"></div>

	<th:block th:insert="base :: scripts" />
	<script th:inline="javascript">
		/*<![CDATA[*/
		var pattern = [[${ pattern }]];
		var departments = [[${ departments }]];
		var positions = [[${ typesDepartment }]];
		var managers = [[${ managerTypes }]];
		var advertiser = [[${ advertiserTypes }]];
		var idCompany = [[${ idCompany }]];
		const months = [[${ yearOptions }]];
		const updatingBox = [[${ updatingBox }]];
		const allPacks = [[${ allPacks }]];
		const company = [[${ company }]];
    /*]]>*/
	</script>
	<script th:inline='javascript'>
		/*<![CDATA[*/
			var filter = [[${ filter }]];
			var role = [[${ role }]];
			var items = null;
			var today = null;
			var manager = null;
		/*]]>*/
	</script>
</body>

</html>