<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Пароли">

    <title>Пароли</title>

    <th:block th:insert="base :: links" />
    <link th:href="@{/css/side-content.css}" rel="stylesheet">
</head>

<body class="custom-scroll">
    <div th:replace="base :: transition-loader"></div>
    <script th:src="@{/js/transition-loader.js}"></script>
<script th:inline='javascript'>
    /*<![CDATA[*/
    showLoader();
/*]]>*/
</script>

<div taboo-dialog class="dialog dialog_taboo display-none">
    <form category-form action="#" class="dialog__wrapper dialog__wrapper_img dialog__wrapper_img-taboo">
        <input category-form-id type="hidden" name="id">
        <div class="dialog__title">Раздел закрыт</div>
        <div class="dialog__text">Чтобы войти, введите пожалуйста мастер-пароль</div>
        <div class="dialog__wrap">
            <div class="menu-input__wrapper menu-input__wrapper_row menu-input__wrapper_wrap">
                <input data-password-part="1" name="part1" maxlength="1" class="menu-input__input menu-input__input_pswd" required/>
                <input data-password-part="2" name="part2" maxlength="1" class="menu-input__input menu-input__input_pswd" required/>
                <input data-password-part="3" name="part3" maxlength="1" class="menu-input__input menu-input__input_pswd" required/>
                <input data-password-part="4" name="part4" maxlength="1" class="menu-input__input menu-input__input_pswd" required/>
            </div>
        </div>
        <div class="dialog__buttons">
            <button type="submit" disabled class="button button_dialog button_not-allowed" disabled-btn accept-dialog >Подтвердить</button>
            <div class="button button_dialog button_white" close-taboo-dialog>Отмена</div>
        </div>
    </form>
</div>

<div th:replace="base :: dialog"></div>
<div th:replace="base :: dialog2"></div>
<div th:replace="base :: main-nav"></div>

<div class="platform__wrapper main-content_white-top-small">
    <div class="platform__header">
        <div class="platform__title">Пароли</div>
    </div>
    <div class="side-content">
        <div class="side-content__side">
            <div class="side-category">
                <div category-list class="side-category__list custom-scroll">
                    <th:block th:each="passwordCategory : ${passwordCategories}">
                        <div category th:attr="data-category=${passwordCategory.id}" class="side-category__item">
                            <div category-name open-category class="side-category__link" th:utext="${passwordCategory.name}"></div>
                            <div update-category class="side-category__setting"></div>
                        </div>
                    </th:block>
                </div>
                <div class="side-category__footer">
                    <div add-category class="add-button add-button_auto">Добавить категорию</div>
                </div>
            </div>
        </div>
        <div passwords class="side-content__main">
            <div class="message">
                <div class="message__title">Пожалуйста, выберите<br>категорию</div>
            </div>

        </div>
    </div>
</div>

<div th:replace="base :: menu-add-category"></div>
<div th:replace="base :: menu-update-category"></div>
<div th:replace="base :: menu-add-password"></div>
<div th:replace="base :: menu-update-password"></div>


<th:block th:insert="base :: scripts"/>
<script th:src="@{/js/copy.js}"></script>
<script th:src="@{/js/password-menu.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    setEmployeeTypes(/*[[${employeeTypeByDepartments}]]*/);
    setEmployeeByTypes(/*[[${employeeByTypes}]]*/);
    /*]]>*/
</script>

<script th:inline='javascript'>
    /*<![CDATA[*/
    var filter = null;
    var role = null;
    var items = null;
    var today = null;
    var manager = null;
    var company = null;
    var products = null;
    var managers = null;
/*]]>*/
</script>
</body>
</html>