<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <th:block th:insert="base :: links" />
    <title th:text="'GURU - Покупка курса:' + ' ' + ${form.course.name}"></title>
</head>

<body class="public" th:style=" (${companyBackground} != null) ? 'background-image:url(/' + ${companyBackground} + '); background-size: cover;' : ''" th:classappend="${companyBackground == null ? 'auth-background' : ''}">
    <div th:replace="base :: transition-loader"></div>

    <script th:inline='javascript'>
        /*<![CDATA[*/
        var filter = null;
        var role = null;
        var items = null;
        var today = null;
        var manager = null;
        var company = [[${company}]];
        var managers = null;
        var form = [[${ form }]];
        var streams = [[${streams}]];
        /*]]>*/
    </script>
    <th:block th:insert="base :: scripts" />
</body>

</html>