<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Распределение сделок">

  <title>Ошибка оплаты!</title>
  <link rel="stylesheet" th:href="@{/css/payment-report.css}">
</head>

<body class="report">
  <div class="report__wrapper">
    <a th:if="${chatLink}" th:href="${chatLink}" target="_blank" rel="noopener noreferrer" class="report__link manager">Написать консультанту проекта</a>
    <div class="report__logo error"></div>
    <h1 class="report__title">Ошибка оплаты</h1>
    <p class="report__description">Что-то пошло не так, попробуйте
      пожалуйста ещё раз</p>
    <div class="report__nav">
      <a href="" class="report__back">Попробовать еще раз</a>
    </div>
    <p class="report__work-link">
      Работает на платформе <a href="https://gurugroup.online/platform/" class="report__link">guruplatform.ru</a>
    </p>
  </div>
  <script th:inline='javascript'>
    /*<![CDATA[*/
    var filter = null;
    var role = null;
    var items = null;
    var today = null;
    var manager = null;
    var company = [[${ company }]];
    var managers = null;
  /*]]>*/
  </script>
  <th:block th:insert="base :: scripts" />
</body>

</html>