<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Оценка работы">

    <title>Оценка работы</title>
    <th:block th:insert="base :: links" />
    <link th:href="@{/css/jquery.fancybox.min.css}" rel="stylesheet">
</head>

<body class="page custom-scroll">
    <div class="page__content">
        <div th:replace="base :: main-nav"></div>

        <div class="platform__wrapper">
            <div class="platform__header">
                <h1 class="platform__title">Контроль</h1>
                <div th:replace="base :: performance-assessment-tab"></div>
            </div>

            <div class="platform__content">
                <div class="platform__nav">
                    <div class="platform__filter--btn no-selector">Фильтр</div>
                </div>

                <table class="platform-table performance-assessment__debate mt_20">
                    <tbody class="custom-table__body custom-table__body_white custom-table__body--crm">
                    <tr class="platform-table__row--header">
                        <td class="platform-table__column date-debate">Дата</td>
                        <td class="platform-table__column employee">Сотрудник</td>
                        <td class="platform-table__column column-client">Клиент</td>
                        <td class="platform-table__column course">Продукт</td>
                        <td class="platform-table__column list-rate">Список оценки</td>
                        <td class="platform-table__column point-rate">Пункт оценки</td>
                        <td class="platform-table__column rate">Оценка</td>
                        <td class="platform-table__column status">Статус</td>
                        <td class="platform-table__column comment">Комментарий</td>
                    </tr>
                    <tr class="platform-table__row" th:each="rate : ${rates.pageItems}"
                        th:attr="data-client=${rate.clientId}, data-deal=${rate.idDeal}">
                        <td class="platform-table__column date-debate" th:utext="${rate.rateDate}"></td>
                        <td class="platform-table__column employee">
                            <div class="employee__wrapper">
                                <div th:if="${managersMap.get(rate.idManager).avatar}" class="employee__img">
                                    <img th:src="'/' + ${managersMap.get(rate.idManager).avatar}">
                                </div>
                                <div class="employee-name" th:utext="${managersMap.get(rate.idManager).name}"></div>
                            </div>
                        </td>
                        <td class="platform-table__column column-client">
                            <a js-client-card href="" class="platform-table__row--link client-name" th:title="${rate.clientName}"
                               th:text="${rate.clientName}"></a>
                            <span js-copy-link th:attr="data-link=${rate.clientPhone}" class="client-phone"
                                  th:text="${#strings.isEmpty(rate.clientPhone)} ? '&mdash;' : ${rate.clientPhone}"></span>
                        </td>
                        <td class="platform-table__column course">
                            <a course-row js-course-card class="platform-table__row--link course" th:classappend="${(role == 'ROLE_EXAMINER') ? 'view' : ''}"
                               th:attr="title=${(rate.idDealStatus != 1) ? rate.product : 'Целевая заявка'}"
                               th:utext="${(rate.idDealStatus != null) ? rate.product : 'Нет продукта'}">
                            </a>
                        </td>
                        <td class="platform-table__column list-rate" th:utext="${rate.templateName}"></td>
                        <td class="platform-table__column point-rate" th:utext="${rate.itemName}"></td>
                        <td class="platform-table__column rate">
                            <div class="score item-score"
                                 th:classappend="${rate.score > 0} ? 'score_green' : (${rate.score == 0} ? 'score_gray' : 'score_red')"
                                 th:utext="${rate.score > 0} ? ('+' + ${rate.score}) : ${rate.score}"></div>
                        </td>
                        <td class="platform-table__column status">
                            <div class="status column-text" th:utext="${rate.status}"></div>
                        </td>
                        <td class="platform-table__column comment pad__comment">
                            <div view-comment th:attr="data-item=${rate.id}" class="platform-form__access-btn pad-comment__btn">Подробнее</div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="platform__pagination pagination" th:if="${rates.pagesAvailable > 1}"
                     th:with="left=4,right=5">
                    <div class="pagination__wrapper">
                        <a th:attrappend="href=${rates.pageNumber - 1 > 0} ? 'page?id=' + ${rates.pageNumber - 1} : ''"
                           th:classappend="${rates.pageNumber - 1} == 0 ? 'pagination__elem--disabled' : ''"
                           class="pagination__elem pagination__elem--prev"></a>
                        <th:block th:if="${rates.pagesAvailable <= 10}"
                                  th:with="start=1,end=${rates.pagesAvailable}">
                            <th:block th:each="i : ${#numbers.sequence(start,end)}">
                                <a th:attrappend="href='page?id=' + ${i}"
                                   th:classappend="${rates.pageNumber == i} ? 'active' : ''" th:utext="${i}"
                                   class="pagination__elem"></a>
                            </th:block>
                        </th:block>
                        <th:block th:unless="${rates.pagesAvailable <= 10}">
                            <th:block
                                th:if="${rates.pageNumber > left && rates.pageNumber < (rates.pagesAvailable - right)}"
                                th:with="start=${rates.pageNumber - left},end=${rates.pageNumber + right}">
                                <a class="pagination__elem" th:if="${rates.pageNumber > (left + 1)}"
                                   th:attrappend="href='page?id=1'">1</a>
                                <th:block th:each="i : ${#numbers.sequence(start,end)}">
                                    <a th:attrappend="href='page?id=' + ${i}"
                                       th:classappend="${rates.pageNumber == i} ? 'active' : ''" th:utext="${i}"
                                       class="pagination__elem"></a>
                                </th:block>
                                <a class="pagination__elem"
                                   th:if="${rates.pageNumber <= rates.pagesAvailable - right}"
                                   th:attrappend="href='page?id=' + ${rates.pagesAvailable}"
                                   th:text="${rates.pagesAvailable}"></a>
                            </th:block>
                            <th:block th:if="${rates.pageNumber <= left}"
                                      th:with="start=1,end=${rates.pageNumber + (right + 1 + left - rates.pageNumber)}">
                                <th:block th:each="i : ${#numbers.sequence(start,end)}">
                                    <a th:attrappend="href='page?id=' + ${i}"
                                       th:classappend="${rates.pageNumber == i} ? 'active' : ''" th:utext="${i}"
                                       class="pagination__elem"></a>
                                </th:block>
                                <a class="pagination__elem"
                                   th:if="${rates.pageNumber <= rates.pagesAvailable - right}"
                                   th:attrappend="href='page?id=' + ${rates.pagesAvailable}"
                                   th:text="${rates.pagesAvailable}"></a>
                            </th:block>
                            <th:block
                                th:unless="${(rates.pageNumber > left && rates.pageNumber < (rates.pagesAvailable - right)) || (rates.pageNumber <= left)}"
                                th:with="start=${rates.pageNumber - (left + right - (rates.pagesAvailable - rates.pageNumber))},end=${rates.pagesAvailable}">
                                <a class="pagination__elem" th:attrappend="href='page?id=1'">1</a>
                                <th:block th:each="i : ${#numbers.sequence(start,end)}">
                                    <a th:attrappend="href='page?id=' + ${i}"
                                       th:classappend="${rates.pageNumber == i} ? 'active' : ''" th:utext="${i}"
                                       class="pagination__elem"></a>
                                </th:block>
                            </th:block>
                        </th:block>
                        <a th:attrappend="href=${rates.pageNumber + 1 <= rates.pagesAvailable } ? 'page?id=' + ${rates.pageNumber + 1} : ''"
                           th:classappend="${rates.pageNumber != rates.pagesAvailable} ? '' : 'pagination__elem--disabled'"
                           class="pagination__elem pagination__elem--next"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div th:replace="base :: transition-loader"></div>
<div th:replace="base :: bill-copy-tooltip"></div>
<script th:src="@{/js/transition-loader.js}"></script>
<script th:inline='javascript'>
    /*<![CDATA[*/
    showLoader();
/*]]>*/
</script>

<div class="platform__filter black">
    <div class="filter__wrapper">
        <div class="filter__head">
            <h2 class="filter__title">Фильтровать сделки</h2>
            <span class="platform__close--btn-modal"></span>
        </div>
        <div class="filter__content custom-scroll">
            <form class="filter__form" action="#" th:action="@{/performance-assessment/debate/}" th:method="post">
                <ul class="filter__column">
                    <li class="filter__item width_100">
                        <h3 class="filter__subtitle">Параметры</h3>
                    </li>
                    <li class="filter__item">
                        <p class="filter__name">Оценки</p>
                        <div class="platform-select__wrapper filter__select-wrapper">
                            <select rate class="platform__select filter__select" name="scoreType">
                                <option th:value="0" selected>Все оценки</option>
                                <option th:value="1" selected>Положительные</option>
                                <option th:value="2" selected>Нейтральные</option>
                                <option th:value="3" selected>Отрицательные</option>
                            </select>
                        </div>
                    </li>
                    <li class="filter__item">
                        <p class="filter__name">Менеджеры</p>
                        <div class="platform-select__wrapper filter__select-wrapper">
                            <select rate class="platform__select filter__select" name="idManager">
                                <option th:value="0" selected>Все менеджеры</option>
                                <option th:each="manager : ${managers}" th:value="${manager.id}"
                                        th:utext="${manager.name}"></option>
                            </select>
                        </div>
                    </li>
                    <li class="filter__item" th:if="${role == 'ROLE_ADMIN'}">
                        <p class="filter__name">Клиенты</p>
                        <div class="platform-select__wrapper filter__select-wrapper">
                            <select class="platform__select filter__select" name="hiddenClient">
                                <option class="filter-select__option" th:value="false" selected>Активные</option>
                                <option class="filter-select__option" th:value="true">Скрытые</option>
                            </select>
                        </div>
                    </li>
                    <li class="filter__item">
                        <p class="filter__name">Пункт оценки</p>
                        <div class="platform-select__wrapper filter__select-wrapper">
                            <select rate class="platform__select filter__select" name="idTemplateItem">
                                <option th:value="0" selected>Все пункты</option>
                                <option th:each="templateItem : ${templateItems}" th:value="${templateItem.id}"
                                        th:utext="${templateItem.name}">
                                </option>
                            </select>
                        </div>
                    </li>
                    <li class="filter__item">
                        <p class="filter__name">Список</p>
                        <div class="platform-select__wrapper filter__select-wrapper">
                            <select list class="platform__select filter__select" name="idTemplate">
                                <option selected value="0">Все</option>
                                <option th:each="template : ${templateList}" th:value="${template.id}"
                                        th:utext="${template.name}"></option>
                            </select>
                        </div>
                    </li>
                </ul>
                <ul class="filter__column">
                    <li class="filter__item">
                        <h3 class="filter__subtitle">Даты</h3>
                    </li>
                    <li class="filter__item width_100">
                        <p class="filter__name">Дата оценки (от и до)</p>
                        <div class="platform-input__wrapper filter__input-wrapper width_100">
                            <input type="text" autocomplete="off" class="datepicker-here-f filter__input"
                                   placeholder="Выберите дату от"
                                   name="rateDateFrom">
                            <input type="text" autocomplete="off" class="datepicker-here-f filter__input"
                                   placeholder="Выберите дату до"
                                   name="rateDateTo">
                        </div>
                    </li>
                    <li class="filter__item width_100">
                        <p class="filter__name">Дата спора (от и до)</p>
                        <div class="platform-input__wrapper filter__input-wrapper width_100">
                            <input type="text" autocomplete="off" class="datepicker-here-f filter__input"
                                   placeholder="Выберите дату от"
                                   name="debateDateFrom">
                            <input type="text" autocomplete="off" class="datepicker-here-f filter__input"
                                   placeholder="Выберите дату до"
                                   name="debateDateTo">
                        </div>
                    </li>
                </ul>
            </form>
        </div>
        <div class="filter__footer">
            <div class="filter__apply">Применить фильтры</div>
            <form th:if="${filter.canClear}" action="#" th:action="@{/performance-assessment/debate/clearFilter}"
                  th:object="${filter}" th:method="post"
                  class="filter__stop">
                <button type="submit" class="filter__reset">
                    <span class="filter__reset--icon"></span>
                    Сбросить фильтры
                </button>
            </form>
        </div>
    </div>
</div>

<div th:replace="base :: deal-menu"></div>
<div th:replace="base :: client-card-menu"></div>
<div th:replace="base :: pay-menu"></div>
<div th:replace="base :: open-comment-menu"></div>

<script th:inline='javascript'>
    /*<![CDATA[*/
    var filter = [[${filter}]];
    var role = [[${role}]];
    var items = [[${rates.pageItems}]];
    var today = null;
    var manager = null;
    var company = [[${company}]];
    var managers = null;
    /*]]>*/
</script>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/datepicker.min.js}"></script>
<script th:src="@{/js/jquery.fancybox.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/performance-assessment-rate.js}"></script>
</body>
</html>