<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Оценка работы">

    <title>Оценка диалогов</title>
    <th:block th:insert="base :: links" />
    <link th:href="@{/css/side-content.css}" rel="stylesheet">
    <link th:href="@{/css/datepicker.css}" rel="stylesheet">
    <link th:href="@{/css/jquery.fancybox.min.css}" rel="stylesheet">
</head>

<body class="page custom-scroll">
    <div class="page__content">
        <div th:replace="base :: main-nav"></div>
        <div class="platform__wrapper">
            <div class="platform__header">
                <h1 class="platform__title">Оценка диалогов</h1>
                <div th:replace="base :: performance-assessment-tab"></div>
            </div>

            <div class="platform__content">
                <div class="platform__nav control">
                    <div class="platform__nav--left">
                        <div class="platform__filter--btn">Фильтр</div>
                        <form th:action="@{/performance-assessment/rating/}" class="platform__search" th:object="${filter}"
                              th:method="post">
                            <input id="searchClient" class="platform__input--search" type="text"
                                   placeholder="Введите ФИО клиента" th:field="*{searchRow}">
                            <label search-client-btn for="searchClient" class="platform__search--start"
                                   th:classappend="${#strings.isEmpty(filter.searchRow) == true}? '' : 'active'"></label>
                        </form>
                    </div>
                    <div class="platform__nav--right">
                    <span deals-counter
                          th:utext=" 'всего оценённых сделок: ' + ${ratesCount.count} + ' / средняя оценка: ' + ${ratesCount.score}"></span>
                    </div>
                </div>
                <table class="platform-table performance-assessment mt_20">
                    <tbody class="custom-table__body custom-table__body_white custom-table__body--crm">
                    <tr class="platform-table__row--header rating-header">
                        <td class="platform-table__column date__rating">Изменили</td>
                        <td class="platform-table__column action">Действия</td>
                        <td class="platform-table__column social"></td>
                        <td class="platform-table__column client-column">Клиент</td>
                        <td class="platform-table__column link">Ссылка</td>
                        <td class="platform-table__column column-manager">Менеджер</td>
                        <td class="platform-table__column course">Продукт</td>
                        <td class="platform-table__column type">Тип</td>
                        <td class="platform-table__column price">Цена / Получено</td>
                        <td class="platform-table__column stream">Старт</td>
                        <td class="platform-table__column crm-deals__status status">Статус сделки</td>
                        <td class="platform-table__column estimation-column"></td>
                        <td class="platform-table__column do-rate">Оценки</td>
                    </tr>
                    <tr class="platform-table__row" th:if="${deal.managerName != null}" th:each="deal : ${deals.pageItems}"
                        th:attrappend="data-deal=${deal.id},data-client=${deal.idClient}">
                        <td class="platform-table__column date__rating" th:utext="${deal.editDate}"></td>
                        <td class="platform-table__column action">
                            <div class="tooltip tooltip__crm">
                                <th:block th:each="change : ${deal.lastChanges}">
                                    <p th:utext="${change}"></p>
                                </th:block>
                            </div>
                            <p th:unless="${#lists.isEmpty(deal.lastChanges)}"
                               th:with="lastChange=${deal.lastChanges[#lists.size(deal.lastChanges) - 1]}"
                               th:utext="${lastChange}"></p>
                        </td>
                        <td class="platform-table__column social">
                            <div data-deal-social class="deal-social deal-social_big"
                                 th:classappend="'deal-social_' + ${deal.socialCode}"></div>
                        </td>
                        <td class="platform-table__column column-client-pa">
                            <a js-client-card href="" class="platform-table__row--link client-name"
                               th:title="${deal.clientName}" th:text="${deal.clientName}"></a>
                            <span js-copy-link th:attr="data-link=${deal.clientPhone}" class="client-phone no-icon">
                                <span th:text="${#strings.isEmpty(deal.clientPhone)} ? '&mdash;' : ${deal.clientPhone}"></span>
                                <span copy-phone data-phone="${#strings.isEmpty(deal.clientPhone)} ? '&mdash;' : ${deal.clientPhone}" class="client-phone"></span>
                            </span>
                        </td>
                        <td class="platform-table__column link">
                            <div class="link__wrapper link__wrapper--crm"
                                 th:classappend="${#strings.isEmpty(deal.clientLink) ? 'no-selector' : ''}">
                                <a th:unless="${#strings.isEmpty(deal.clientLink)}"
                                   class="platform-table__row--link platform__copy--table"
                                   th:attr="data-link=${#strings.isEmpty(deal.clientLink) ? '#' : deal.clientLink}"></a>
                                <a th:unless="${#strings.isEmpty(deal.clientLink)}"
                                   class="platform-table__row--link platform__go"
                                   th:href="@{deal.clientLink ? ${deal.clientLink} : '#'}" target="_blank"
                                   rel="noopener noreferrer"></a>
                            </div>
                        </td>
                        <td class="platform-table__column column-manager">
                            <p class="column-text" th:text="${deal.managerName}"></p>
                        </td>
                        <td class="platform-table__column course">
                            <a course-row js-course-card class="platform-table__row--link course"
                               th:classappend="${(role == 'ROLE_EXAMINER') ? 'view' : ''}"
                               th:attr="title=${(deal.status != 1) ? deal.course + (!#strings.isEmpty(deal.kind) ? ' (' + deal.kind + ')' : '') : 'Целевая заявка'}"
                               th:utext="${(deal.course != null) ? deal.course + (!#strings.isEmpty(deal.kind) ? ' (' + deal.kind + ')' : '') : 'Нет продукта'}">
                            </a>
                        </td>
                        <td data-deal-type class="platform-table__column type"
                            th:title="${(deal.type == 'Допродажа') ? 'База' : deal.type}"
                            th:text="${(deal.type == 'Допродажа') ? 'База' : deal.type}"></td>
                        <td class="platform-table__column price">
                            <div class="price-info" th:classappend="${deal.price <= deal.paid} ? 'green' : ''">
                                <div class="price-info__left">
                                    <div data-deal-price class="column_price" th:utext="${deal.price}"></div>
                                    <div class="column_price-del">/</div>
                                    <div data-deal-paid class="column_paid" th:utext="${deal.paid} + ' ₽'"></div>
                                </div>
                                <button
                                    th:unless="${role == 'ROLE_EXAMINER' || (role == 'ROLE_EXAMINER' && deal.status == 1)}"
                                    js-add-bill-btn js-add-bill-up-client class="price-info__btn"></button>
                            </div>
                        </td>
                        <td class="platform-table__column stream"
                            th:text="${deal.idSaleType == 2} ? ${deal.startDate} : '&mdash;'"></td>
                        <td class="platform-table__column status">
                            <div class="select select-deal__status select__rating"
                                 th:classappend="'deal-status__form_' + ${deal.statusCode}">
                                <div class="tooltip tooltip-pa" th:if="${not #lists.isEmpty(deal.statusChanges)}">
                                    <table class="tooltip__table">
                                        <thead>
                                        <tr class="tooltip__row--head">
                                            <td class="tooltip__date tooltip-pa__status--date">Изменен</td>
                                            <td class="tooltip__message tooltip-pa__status">Статус</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="tooltip__row tooltip-pa__row"
                                            th:each="change : ${deal.statusChanges}">
                                            <td class="tooltip__date tooltip-pa__status--date"
                                                th:utext="${change.editDatetime}"></td>
                                            <td class="tooltip__message tooltip-pa__status--message"
                                                th:utext="${(change.title == 'Рассрочка') ? 'Долями' : change.title}">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <span
                                    th:utext="${(deal.statusName == 'Рассрочка' ? 'Долями' : deal.statusName)}"></span>
                            </div>
                        </td>
                        <td class="platform-table__column estimation-column">
                            <div th:if="${deal.rateCounter.ratedTemplateCounter != 0}" class="column-text">
                                <div class="tooltip tooltip-estimation" th:if="${deal.rateCounter.ratedTemplateCounter != 0}"></div>
                                <span th:utext="${deal.rateCounter.ratedTemplateCounter}"></span>
                                <span class="pa-rate_delim">/</span>
                                <span th:utext="${deal.rateCounter.allTemplateCounter}"></span>
                            </div>
                            <div th:unless="${deal.rateCounter.ratedTemplateCounter != 0}" class="column-text">
                                Нет
                            </div>
                        </td>
                        <td class="platform-table__column do-rate">
                            <button type="button" open-rates class="platform-form__access-btn rate-btn">Оценить</button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="platform__pagination pagination" th:if="${deals.pagesAvailable > 1}" th:with="left=4,right=5">
                    <div class="pagination__wrapper">
                        <a th:attrappend="href=${deals.pageNumber - 1 > 0} ? 'page?id=' + ${deals.pageNumber - 1} : ''"
                           th:classappend="${deals.pageNumber - 1} == 0 ? 'pagination__elem--disabled' : ''"
                           class="pagination__elem pagination__elem--prev"></a>
                        <th:block th:if="${deals.pagesAvailable <= 10}" th:with="start=1,end=${deals.pagesAvailable}">
                            <th:block th:each="i : ${#numbers.sequence(start,end)}">
                                <a th:attrappend="href='page?id=' + ${i}" th:classappend="${deals.pageNumber == i} ? 'active' : ''"
                                   th:utext="${i}" class="pagination__elem"></a>
                            </th:block>
                        </th:block>
                        <th:block th:unless="${deals.pagesAvailable <= 10}">
                            <th:block th:if="${deals.pageNumber > left && deals.pageNumber < (deals.pagesAvailable - right)}"
                                      th:with="start=${deals.pageNumber - left},end=${deals.pageNumber + right}">
                                <a class="pagination__elem" th:if="${deals.pageNumber > (left + 1)}"
                                   th:attrappend="href='page?id=1'">1</a>
                                <th:block th:each="i : ${#numbers.sequence(start,end)}">
                                    <a th:attrappend="href='page?id=' + ${i}"
                                       th:classappend="${deals.pageNumber == i} ? 'active' : ''" th:utext="${i}"
                                       class="pagination__elem"></a>
                                </th:block>
                                <a class="pagination__elem" th:if="${deals.pageNumber <= deals.pagesAvailable - right}"
                                   th:attrappend="href='page?id=' + ${deals.pagesAvailable}" th:text="${deals.pagesAvailable}"></a>
                            </th:block>
                            <th:block th:if="${deals.pageNumber <= left}"
                                      th:with="start=1,end=${deals.pageNumber + (right + 1 + left - deals.pageNumber)}">
                                <th:block th:each="i : ${#numbers.sequence(start,end)}">
                                    <a th:attrappend="href='page?id=' + ${i}"
                                       th:classappend="${deals.pageNumber == i} ? 'active' : ''" th:utext="${i}"
                                       class="pagination__elem"></a>
                                </th:block>
                                <a class="pagination__elem" th:if="${deals.pageNumber <= deals.pagesAvailable - right}"
                                   th:attrappend="href='page?id=' + ${deals.pagesAvailable}" th:text="${deals.pagesAvailable}"></a>
                            </th:block>
                            <th:block
                                th:unless="${(deals.pageNumber > left && deals.pageNumber < (deals.pagesAvailable - right)) || (deals.pageNumber <= left)}"
                                th:with="start=${deals.pageNumber - (left + right - (deals.pagesAvailable - deals.pageNumber))},end=${deals.pagesAvailable}">
                                <a class="pagination__elem" th:attrappend="href='page?id=1'">1</a>
                                <th:block th:each="i : ${#numbers.sequence(start,end)}">
                                    <a th:attrappend="href='page?id=' + ${i}"
                                       th:classappend="${deals.pageNumber == i} ? 'active' : ''" th:utext="${i}"
                                       class="pagination__elem"></a>
                                </th:block>
                            </th:block>
                        </th:block>
                        <a th:attrappend="href=${deals.pageNumber + 1 <= deals.pagesAvailable } ? 'page?id=' + ${deals.pageNumber + 1} : ''"
                           th:classappend="${deals.pageNumber != deals.pagesAvailable} ? '' : 'pagination__elem--disabled'"
                           class="pagination__elem pagination__elem--next"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="base :: transition-loader"></div>
    <div th:replace="base :: bill-copy-tooltip"></div>
    <script th:src="@{/js/transition-loader.js}"></script>
<script th:inline='javascript'>
    /*<![CDATA[*/
    showLoader();
/*]]>*/
</script>

    <div class="platform__filter">
        <div class="filter__wrapper">
            <div class="filter__head">
                <h2 class="filter__title">Фильтровать сделки</h2>
                <span class="platform__close--btn-modal"></span>
            </div>
            <div class="filter__content custom-scroll">
                <form class="filter__form" action="#" th:action="@{/performance-assessment/rating/}" th:method="post">
                    <ul class="filter__column">
                        <li class="filter__item width_100">
                            <h3 class="filter__subtitle">Параметры</h3>
                        </li>
                        <li class="filter__item">
                            <p class="filter__name">Проекты</p>
                            <div class="platform-select__wrapper filter__select-wrapper">
                                <select class="platform__select filter__select" name="projectId">
                                    <option class="filter-select__option" th:value="0" selected>Все проекты</option>
                                    <option class="filter-select__option" th:each="project : ${projects}"
                                        th:value="${project.id}" th:utext="${project.name}"></option>
                                </select>
                            </div>
                        </li>
                        <li class="filter__item">
                            <p class="filter__name">Сделки</p>
                            <div class="platform-select__wrapper filter__select-wrapper">
                                <select tr-hidden class="platform__select filter__select" name="hidden">
                                    <option class="filter-select__option" data-value="" th:value="0">Все сделки
                                    </option>
                                    <option class="filter-select__option" data-value="false"
                                        th:value="${#bools.isTrue(null)}">Активные
                                    </option>
                                    <option class="filter-select__option" data-value="true"
                                        th:value="${#bools.isTrue('true')}">Удалённые
                                    </option>
                                </select>
                            </div>
                        </li>
                        <li class="filter__item">
                            <p class="filter__name">Менеджеры</p>
                            <div class="platform-select__wrapper filter__select-wrapper">
                                <select tr-social class="platform__select filter__select" name="idManager">
                                    <option class="filter-select__option" th:value="0" selected>Все менеджеры
                                    </option>
                                    <option class="filter-select__option" th:each="manager : ${managers}"
                                        th:value="${manager.id}" th:utext="${manager.name}"></option>
                                </select>
                            </div>
                        </li>
                        <li class="filter__item">
                            <p class="filter__name">Способ оплаты</p>
                            <div class="platform-select__wrapper filter__select-wrapper">
                                <select class="platform__select filter__select" name="paymentMethod">
                                    <option class="filter-select__option" th:value="all" selected>Все способы
                                    </option>
                                    <option class="filter-select__option" th:each="paymentMethod : ${paymentMethods}"
                                        th:value="${paymentMethod.title}" th:utext="${paymentMethod.title}">
                                    </option>
                                </select>
                            </div>
                        </li>
                        <li class="filter__item">
                            <p class="filter__name">Соц-сеть</p>
                            <div class="platform-select__wrapper filter__select-wrapper">
                                <select tr-social class="platform__select filter__select" name="idSocial">
                                    <option class="filter-select__option" th:value="0" selected>Все соц.сети
                                    </option>
                                    <option class="filter-select__option" th:each="social : ${socials}"
                                        th:value="${social.id}" th:utext="${social.title}"></option>
                                </select>
                            </div>
                        </li>
                        <li class="filter__item">
                            <p class="filter__name">Тип продажи</p>
                            <div class="platform-select__wrapper filter__select-wrapper">
                                <select class="platform__select filter__select" name="saleType">
                                    <option class="filter-select__option" th:value="all" selected>Все типы продаж
                                    </option>
                                    <option class="filter-select__option" th:value="traffic">Трафик</option>
                                    <option class="filter-select__option" th:value="additional">База</option>
                                </select>
                            </div>
                        </li>
                        <li class="filter__item">
                            <p class="filter__name">Продукты</p>
                            <div class="platform-select__wrapper filter__select-wrapper">
                                <select tr-social class="platform__select filter__select" name="product">
                                    <option class="filter-select__option" th:value="all" selected>Все продукты
                                    </option>
                                    <option class="filter-select__option" th:each="product : ${products}"
                                        th:value="${product.name}" th:utext="${product.name}"></option>
                                </select>
                            </div>
                        </li>
                        <li class="filter__item">
                            <p class="filter__name">Тип курса</p>
                            <div class="platform-select__wrapper filter__select-wrapper">
                                <select filter-course-kinds class="platform__select filter__select" name="kind">
                                    <option class="filter-select__option" th:value="all" selected>Все типы</option>
                                </select>
                            </div>
                        </li>
                        <li class="filter__item">
                            <p class="filter__name">Задача</p>
                            <div class="platform-select__wrapper filter__select-wrapper">
                                <select tr-social class="platform__select filter__select" name="reminder">
                                    <option class="filter-select__option" th:value="0" selected>Все</option>
                                    <option class="filter-select__option" th:value="1">Все задачи</option>
                                    <option class="filter-select__option" th:value="2">Задачи на сегодня</option>
                                    <option class="filter-select__option" th:value="3">Задачи на завтра</option>
                                    <option class="filter-select__option" th:value="4">Просроченные задачи</option>
                                    <option class="filter-select__option" th:value="5">Без задач</option>
                                </select>
                            </div>
                        </li>
                        <li class="filter__item" th:if="${role == 'ROLE_ADMIN'}">
                            <p class="filter__name">Клиенты</p>
                            <div class="platform-select__wrapper filter__select-wrapper">
                                <select class="platform__select filter__select" name="hiddenClient">
                                    <option class="filter-select__option" th:value="false" selected>Активные</option>
                                    <option class="filter-select__option" th:value="true">Скрытые</option>
                                </select>
                            </div>
                        </li>
                        <li class="filter__item">
                            <p class="filter__name">Оценка</p>
                            <div class="platform-select__wrapper filter__select-wrapper">
                                <select rates class="platform__select filter__select" name="rateStatus">
                                    <option selected value="0">Все</option>
                                    <option value="1">Проверенные</option>
                                    <option value="2">Непроверенные</option>
                                </select>
                            </div>
                        </li>
                        <li class="filter__item">
                            <p class="filter__name">Список</p>
                            <div class="platform-select__wrapper filter__select-wrapper">
                                <select list class="platform__select filter__select" name="idTemplate">
                                    <option selected value="0">Все</option>
                                    <option th:each="template : ${templateList}" th:value="${template.id}"
                                        th:utext="${template.name}"></option>
                                </select>
                            </div>
                        </li>
                        <li class="filter__item width_100">
                            <p class="filter__name">Пробный период</p>
                            <div class="filter__labels-wrapper width_100">
                                <input type="radio" id="trialYes" class="platform__checkbox" value="true" name="trial">
                                <label for="trialYes" class="platform-checkbox__label--button">Да</label>
                                <input type="radio" id="trialNo" class="platform__checkbox" value="false" name="trial">
                                <label for="trialNo" class="platform-checkbox__label--button">Нет</label>
                                <input type="radio" id="trialAll" class="platform__checkbox" value="all" name="trial">
                                <label for="trialAll" class="platform-checkbox__label--button">Показать все</label>
                            </div>
                        </li>
                        <li class="filter__item width_100">
                            <p class="filter__name">Рассылка</p>
                            <div class="filter__labels-wrapper width_100">
                                <input type="radio" id="mailingYes" class="platform__checkbox" value="FALSETRUE"
                                    name="mailing">
                                <label class="platform-checkbox__label--button" for="mailingYes">Да</label>
                                <input type="radio" id="mailingNo" class="platform__checkbox" value="FALSEFALSE"
                                    name="mailing">
                                <label class="platform-checkbox__label--button" for="mailingNo">Нет</label>
                                <input type="radio" id="mailingAll" class="platform__checkbox" value="all"
                                    name="mailing">
                                <label class="platform-checkbox__label--button" for="mailingAll">Показать все</label>
                            </div>
                        </li>
                        <li class="filter__item width_100">
                            <p class="filter__name">ID рекламной кампании / Смайлик + база</p>
                            <div class="platform-input__wrapper filter__input-wrapper no-icon">
                                <input type="text" autocomplete="off" class="filter__input width_100"
                                    placeholder=" Введите ID рекламной кампании / смайлик + база" name="tag">
                            </div>
                        </li>
                        <li class="filter__item width_100">
                            <p class="filter__name">Комментарий</p>
                            <div class="platform-input__wrapper filter__input-wrapper width_100 no-icon">
                                <input type="text" autocomplete="off" class="filter__input width_100"
                                    placeholder="Введите комментарий" name="comment">
                            </div>
                        </li>
                    </ul>
                    <ul class="filter__column empty-fields">
                        <li class="filter__item width_100">
                            <h3 class="filter__subtitle">Статусы сделок</h3>
                        </li>
                        <li class="filter__item width_100">
                            <div class="filter-column__wrapper">
                                <div class="input-element__checkbox" th:each="status : ${dealStatuses}">
                                    <input type="checkbox" th:id="st + ${status.id}" name="statuses"
                                        class="platform__checkbox" th:value="${status.id}">
                                    <label class="platform-checkbox__label" th:for="st + ${status.id}">
                                        <span class="platform__checkbox--fake"></span>
                                        <span class="platform-checkbox__label--value" th:utext="${status.title}"></span>
                                    </label>
                                </div>
                            </div>
                        </li>
                        <li class="filter__item width_100 mt_30">
                            <h3 class="filter__subtitle">Пустые поля</h3>
                        </li>
                        <li class="filter__item width_100">
                            <input type="checkbox" th:id="e1" class="platform__checkbox" name="empties" th:value="link">
                            <label class="platform-checkbox__label" th:for="e1">
                                <span class="platform__checkbox--fake filter__checkbox"></span>
                                <span class="platform-checkbox__label--value">Ссылка</span>
                            </label>
                        </li>
                        <li class="filter__item width_100">
                            <input type="checkbox" th:id="e2" class="platform__checkbox" name="empties"
                                th:value="phone">
                            <label class="platform-checkbox__label" th:for="e2">
                                <span class="platform__checkbox--fake filter__checkbox"></span>
                                <span class="platform-checkbox__label--value">Номер телефона</span>
                            </label>
                        </li>
                        <li class="filter__item width_100">
                            <input type="checkbox" th:id="e3" class="platform__checkbox" name="empties"
                                th:value="comment">
                            <label class="platform-checkbox__label" th:for="e3">
                                <span class="platform__checkbox--fake filter__checkbox"></span>
                                <span class="platform-checkbox__label--value">SMS / Чек</span>
                            </label>
                        </li>
                        <li class="filter__item width_100">
                            <input type="checkbox" th:id="e4" class="platform__checkbox" name="empties"
                                th:value="accountNumber">
                            <label class="platform-checkbox__label" th:for="e4">
                                <span class="platform__checkbox--fake filter__checkbox"></span>
                                <span class="platform-checkbox__label--value">№ счёта</span>
                            </label>
                        </li>
                    </ul>
                    <ul class="filter__column">
                        <li class="filter__item">
                            <h3 class="filter__subtitle">Даты</h3>
                        </li>
                        <li class="filter__item width_100">
                            <p class="filter__name">Дата старта (от и до)</p>
                            <div class="platform-input__wrapper filter__input-wrapper width_100">
                                <input type="text" autocomplete="off" class="datepicker-here-f filter__input"
                                    placeholder="Выберите дату от" name="startDateFrom">
                                <input type="text" autocomplete="off" class="datepicker-here-f filter__input"
                                    placeholder="Выберите дату до" name="startDateTo">
                            </div>
                        </li>
                        <li class="filter__item width_100">
                            <p class="filter__name">Дата создания (от и до)</p>
                            <div class="platform-input__wrapper filter__input-wrapper width_100">
                                <input type="text" autocomplete="off" class="datepicker-here-f filter__input"
                                    placeholder="Выберите дату от" name="createDateFrom">
                                <input type="text" autocomplete="off" class="datepicker-here-f filter__input"
                                    placeholder="Выберите дату до" name="createDateTo">
                            </div>
                        </li>
                        <li class="filter__item width_100">
                            <p class="filter__name">Дата обращения (от и до)</p>
                            <div class="platform-input__wrapper filter__input-wrapper width_100">
                                <input type="text" autocomplete="off" class="datepicker-here-f filter__input"
                                    placeholder="Выберите дату от" name="dealDateFrom">
                                <input type="text" autocomplete="off" class="datepicker-here-f filter__input"
                                    placeholder="Выберите дату до" name="dealDateTo">
                            </div>
                        </li>
                        <li class="filter__item width_100">
                            <p class="filter__name">Дата оплаты (от и до)</p>
                            <div class="platform-input__wrapper filter__input-wrapper width_100">
                                <input type="text" autocomplete="off" class="datepicker-here-f filter__input"
                                    placeholder="Выберите дату от" name="payDateFrom">
                                <input type="text" autocomplete="off" class="datepicker-here-f filter__input"
                                    placeholder="Выберите дату до" name="payDateTo">
                            </div>
                        </li>
                        <li class="filter__item width_100">
                            <input type="checkbox" th:id="fps" class="platform__checkbox" name="other"
                                th:value="firstPaymentSearch">
                            <label class="platform-checkbox__label" th:for="fps">
                                <span class="platform__checkbox--fake filter__checkbox"></span>
                                <span class="platform-checkbox__label--value">Первая оплата</span>
                            </label>
                        </li>
                        <li class="filter__item width_100">
                            <p class="filter__name">Дата задачи (от и до)</p>
                            <div class="platform-input__wrapper filter__input-wrapper width_100">
                                <input type="text" autocomplete="off" class="datepicker-here-f filter__input"
                                    placeholder="Выберите дату от" name="reminderDateFrom">
                                <input type="text" autocomplete="off" class="datepicker-here-f filter__input"
                                    placeholder="Выберите дату до" name="reminderDateTo">
                            </div>
                        </li>
                    </ul>
                    <ul class="filter__column">
                        <li class="filter__item width_100">
                            <h3 class="filter__subtitle">Цена</h3>
                        </li>
                        <li class="filter__item width_100">
                            <p class="filter__name">Цена (от и до)</p>
                            <div class="platform-input__wrapper filter__input-wrapper width_100">
                                <input type="text" autocomplete="off" class="filter__input" placeholder="Укажите сумму"
                                    name="priceFrom">
                                <input type="text" autocomplete="off" class="filter__input" placeholder="Укажите сумму"
                                    name="priceTo">
                            </div>
                        </li>
                        <li class="filter__item width_100">
                            <p class="filter__name">Получено (от и до)</p>
                            <div class="platform-input__wrapper filter__input-wrapper width_100">
                                <input type="text" autocomplete="off" class="filter__input" placeholder="Укажите сумму"
                                    name="paidFrom">
                                <input type="text" autocomplete="off" class="filter__input" placeholder="Укажите сумму"
                                    name="paidTo">
                            </div>
                        </li>
                        <li class="filter__item width_100">
                            <p class="filter__name">Получено (от и до)</p>
                            <div class="platform-input__wrapper filter__input-wrapper width_100">
                                <input type="text" autocomplete="off" class="filter__input" placeholder="Укажите сумму"
                                    name="paidFrom">
                                <input type="text" autocomplete="off" class="filter__input" placeholder="Укажите сумму"
                                    name="paidTo">
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
            <div class="filter__footer">
                <div class="filter__apply">Применить фильтры</div>
                <form th:if="${filter.canClear}" action="#" th:action="@{/performance-assessment/rating/clearFilter}"
                    th:object="${filter}" th:method="post" class="filter__stop">
                    <button type="submit" class="filter__reset">
                        <span class="filter__reset--icon"></span>
                        Сбросить фильтры
                    </button>
                </form>
            </div>
        </div>
        <div class="platform-filter__layer platform-modal__layer darkness"></div>
    </div>

    <div th:replace="base :: client-card-menu"></div>
    <div th:replace="base :: deal-menu"></div>

    <th:block th:if="${role == 'ROLE_ADMIN'}">
        <div th:replace="base :: menu-bills"></div>
    </th:block>
    <th:block th:unless="${role == 'ROLE_ADMIN'}">
        <div th:replace="base :: add-bill-new"></div>
    </th:block>
    <div th:replace="base :: pay-menu"></div>
    <div th:replace="base :: menu-rates"></div>
    <div th:replace="base :: menu-rate"></div>
    <div th:replace="base :: menu-rate-point"></div>
    <div th:replace="base :: add-comment-rate"></div>
    <div th:replace="base :: open-comment-menu"></div>

    <script th:inline='javascript'>
        /*<![CDATA[*/
        var filter = [[${ filter }]];
        var role = [[${ role }]];
        var items = [[${ deals.pageItems }]];
        var today = [[${ today }]];
        var manager = [[${ manager }]];
        var company = [[${ company }]];
        var managers = null;
        var socials = [[${ socials }]];
    /*]]>*/
    </script>


    <!-- Оценка сделки -->
    <th:block th:insert="base :: scripts" />
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/deals-common.js}"></script>
    <script th:src="@{/js/view-deals.js}"></script>
    <script th:src="@{/js/upload-files.js}"></script>
    <script th:src="@{/js/update-client-info.js}"></script>
</body>

</html>