<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Оценка работы">

    <title>История оценок</title>

    <th:block th:insert="base :: links"/>
    <link th:href="@{/css/side-content.css}" rel="stylesheet">
    <link th:href="@{/css/jquery.fancybox.min.css}" rel="stylesheet">
</head>

<body class="custom-scroll">
<div th:replace="base :: dialog"></div>
<div th:replace="base :: main-nav"></div>
<div th:replace="base :: transition-loader"></div>
<script th:src="@{/js/transition-loader.js}"></script>
<script th:inline='javascript'>
    /*<![CDATA[*/
    showLoader();
/*]]>*/
</script>

<div class="main-content main-content_white-top-medium">
    <div class="platform__header">
        <h1 class="platform__title">Контроль</h1>
        <div th:replace="base :: performance-assessment-tab"></div>
    </div>
    <div class="content-main history">
        <div class="content-main__panel content-main__panel_large history-panel">
                <div class="platform__nav">
                    <div class="platform__nav--right">
                        <div class="platform__filter--btn no-selector">Фильтр</div>
                        <form search-client-form action="#" th:action="@{/performance-assessment/history/}"
                              th:object="${filter}"
                              th:method="post" class="search-form menu-search__wrapper">
                            <input th:field="*{searchRow}" search-client id="searchClient"
                                   class="menu-search__input menu-search__input_search"
                                   placeholder="Введите № сделки">
                            <label th:classappend="${#strings.isEmpty(filter.searchRow)} ? 'is-open' : ''" search-client-btn
                                   for="searchClient" class="menu-input_close"></label>
                            <label th:classappend="${#strings.isEmpty(filter.searchRow)} ? '' : 'is-open'" search-client-clear
                                   class="clear menu-input_close"></label>
                        </form>
                    </div>
                    <div class="platform__nav--left">
                        <div class="counter counter_right--history-estimation" th:utext="
             'всего оценённых сделок: ' + ${ratesCount.count} +
             ' / средняя оценка: ' + ${ratesCount.score}">
                        </div>
                    </div>
            </div>
        </div>

        <div class="content-main__wrapper">
            <div class="content-main__panel content-main__panel_align content-main__panel_p content-main__payment">
                <table class="custom-table">
                    <tbody class="custom-table__body custom-table__body_white estimation-work">
                    <tr class="custom-table__header-row">
                        <td class="custom-table__header-col custom-table__header-col_big">Дата оценки</td>
                        <td class="custom-table__header-col custom-table__header-col_big">Кто проверил</td>
                        <td class="custom-table__header-col custom-table__header-col_xsmall custom-table__header-col_big">
                            Кому
                            поставили
                        </td>
                        <td class="custom-table__header-col custom-table__header-col_big">Что оценили</td>
                        <td class="custom-table__header-col custom-table__header-col_big">Список</td>
                        <td class="custom-table__header-col custom-table__header-col_big">Оценки по пунктам</td>
                    </tr>
                    <tr class="custom-table__body-row" th:attr="data-rate=${rate.id}"
                        th:each="rate : ${rates.pageItems}">
                        <td class="custom-table__body-col" th:utext="${rate.createDate}"></td>
                        <td class="custom-table__body-col">&mdash;</td>
                        <td class="custom-table__body-col" th:utext="${rate.managerName}"></td>
                        <td class="custom-table__body-col" th:utext="${rate.productName}"></td>
                        <td class="custom-table__body-col" th:utext="${rate.performanceAssessmentTemplateName}"></td>
                        <td class="custom-table__body-col">
                            <div class="cell-wrapper estimation-work__list">
                                <th:block th:each="item : ${rate.items}">
                                    <div class="cell-number c-tooltip"
                                         th:classappend="${item.score > 0} ? 'cell-number_green' : (${item.score < 0} ? 'cell-number_red' : '')">
                                        <div class="c-tooltip__wrapper">
                                            <div class="c-tooltip__text" th:utext="${item.itemName}"></div>
                                        </div>
                                        <span th:utext="${item.score}"></span>
                                    </div>
                                </th:block>
                            </div>
                            <!-- <div class="estimation-list">
                              <div class="estimation-list__item" th:each="estimation : ${rate.items}">
                                <span><span th:utext="${estimation.itemName}"></span></span>
                                <span><span th:utext="${estimation.score}"></span></span>
                              </div>
                            </div> -->
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="pagination" th:if="${rates.pagesAvailable > 1}" th:with="left=4,right=5">
                    <div class="pagination__wrapper">
                        <a th:attrappend="href=${rates.pageNumber - 1 > 0} ? 'page?id=' + ${rates.pageNumber - 1} : ''"
                           th:classappend="${rates.pageNumber - 1} == 0 ? 'active' : ''"
                           class="pagination__elem pagination__elem_prev"></a>
                        <th:block th:if="${rates.pagesAvailable <= 10}"
                                  th:with="start=1,end=${rates.pagesAvailable}">
                            <th:block th:each="i : ${#numbers.sequence(start,end)}">
                                <a th:attrappend="href='page?id=' + ${i}"
                                   th:classappend="${rates.pageNumber == i} ? 'active' : ''"
                                   th:utext="${i}" class="pagination__elem"></a>
                            </th:block>
                        </th:block>
                        <th:block th:unless="${rates.pagesAvailable <= 10}">
                            <th:block
                                    th:if="${rates.pageNumber > left && rates.pageNumber < (rates.pagesAvailable - right)}"
                                    th:with="start=${rates.pageNumber - left},end=${rates.pageNumber + right}">
                                <th:block th:each="i : ${#numbers.sequence(start,end)}">
                                    <a th:attrappend="href='page?id=' + ${i}"
                                       th:classappend="${rates.pageNumber == i} ? 'active' : ''"
                                       th:utext="${i}" class="pagination__elem"></a>
                                </th:block>
                            </th:block>
                            <th:block th:if="${rates.pageNumber <= left}"
                                      th:with="start=1,end=${rates.pageNumber + (right + 1 + left - rates.pageNumber)}">
                                <th:block th:each="i : ${#numbers.sequence(start,end)}">
                                    <a th:attrappend="href='page?id=' + ${i}"
                                       th:classappend="${rates.pageNumber == i} ? 'active' : ''"
                                       th:utext="${i}" class="pagination__elem"></a>
                                </th:block>
                            </th:block>
                            <th:block
                                    th:unless="${(rates.pageNumber > left && rates.pageNumber < (rates.pagesAvailable - right)) || (rates.pageNumber <= left)}"
                                    th:with="start=${rates.pageNumber - (left + right - (rates.pagesAvailable - rates.pageNumber))},end=${rates.pagesAvailable}">
                                <th:block th:each="i : ${#numbers.sequence(start,end)}">
                                    <a th:attrappend="href='page?id=' + ${i}"
                                       th:classappend="${rates.pageNumber == i} ? 'active' : ''"
                                       th:utext="${i}" class="pagination__elem"></a>
                                </th:block>
                            </th:block>
                        </th:block>

                        <a th:attrappend="href=${rates.pageNumber + 1 <= rates.pagesAvailable } ? 'page?id=' + ${rates.pageNumber + 1} : ''"
                           th:classappend="${rates.pageNumber + 1 > rates.pagesAvailable} ? 'active' : ''"
                           class="pagination__elem pagination__elem_next"></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="platform__filter">
    <div class="filter__wrapper">
        <div class="filter__head">
            <h2 class="filter__title">Фильтровать сделки</h2>
            <span class="platform__close--btn-modal"></span>
        </div>
        <div class="filter__content custom-scroll">
            <form class="filter__form" action="#" th:action="@{/performance-assessment/history/}" th:method="post">
                <ul class="filter__column">
                    <li class="filter__item width_100">
                        <h3 class="filter__subtitle">Параметры</h3>
                    </li>
                    <li class="filter__item">
                        <p class="filter__name">Менеджеры</p>
                        <div class="platform-select__wrapper filter__select-wrapper">
                            <select rate class="platform__select filter__select" name="idManager">
                                <option th:value="0" selected>Все менеджеры</option>
                                <option th:each="manager : ${managers}" th:value="${manager.id}"
                                        th:utext="${manager.name}"></option>
                            </select>
                        </div>
                    </li>
                    <li class="filter__item width_100">
                        <p class="filter__name">Когда проверили</p>
                        <div class="platform-input__wrapper filter__input-wrapper width_100">
                            <input type="text" autocomplete="off" class="datepicker-here-f filter__input"
                                   placeholder="Выберите дату от"
                                   name="createDateFrom">
                            <input type="text" autocomplete="off" class="datepicker-here-f filter__input"
                                   placeholder="Выберите дату до"
                                   name="createDateTo">
                        </div>
                    </li>
                </ul>
            </form>
        </div>
        <div class="filter__footer">
            <div class="filter__apply">Применить фильтры</div>
            <form th:if="${filter.canClear}" action="#" th:action="@{/performance-assessment/debate/clearFilter}"
                  th:object="${filter}" th:method="post"
                  class="filter__stop">
                <button type="submit" class="filter__reset">
                    <span class="filter__reset--icon"></span>
                    Сбросить фильтры
                </button>
            </form>
        </div>
    </div>
    <div class="platform-filter__layer platform-modal__layer darkness"></div>
</div>

<script th:inline='javascript'>
    /*<![CDATA[*/
    var filter = [[${filter}]];
    var role = [[${role}]];
    var items = [[${rates.pageItems}]];
    var today = null;
    var manager = null;
    var company = [[${company}]];
    var managers = null;
    /*]]>*/
</script>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/datepicker.min.js}"></script>
<script th:src="@{/js/jquery.fancybox.min.js}"></script>
</body>
</html>