<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="воронки">
    <title>Воронки</title>
    <th:block th:insert="base :: links"/>
</head>

<body class="page custom-scroll">
    <div class="page__content">
        <div th:replace="base :: main-nav"></div>

        <div class="platform__wrapper funnels">
            <div class="platform__header funnels__top">
                <h1 class="platform__title funnels-head__title">Воронки</h1>
            </div>

            <div class="content-main__panel funnels__panel">
                <div class="menu-input__wrapper menu-input__wrapper_select funnels-select__wrapper funnels-funnel__type">
                    <select name="year" js-select-type
                            class="menu-input__input menu-input__input_small menu-input__input_select funnels-funnel__select-type">
                        <option value="traffic" selected>Трафик</option>
                        <option value="additional">База</option>
                    </select>
                </div>

                <button js-funnels-add class="funnels-panel__add" type="button">Добавить воронку</button>
            </div>

            <div js-funnels-now__block class="funnels-now__list"></div>
        </div>
    </div>

<div th:replace="base :: transition-loader"></div>
<script th:src="@{/js/transition-loader.js}"></script>
<script th:inline='javascript'>
    /*<![CDATA[*/
    showLoader();
/*]]>*/
</script>

<div th:replace="base :: add-funnel-menu"></div>
<div th:replace="base :: tunnel-links"></div>
<div th:replace="base :: menu-add-outside"></div>

<th:block th:insert="base :: scripts"/>
<script th:inline='javascript'>
    /*<![CDATA[*/
    var filter = [[${filter}]];
    var role = [[${role}]];
    var items = null;
    var today = null;
    var manager = null;
    var funnels = [[${funnels}]];
    var company = [[${company}]];
    var managers = null;
    /*]]>*/
</script>
</body>

</html>