<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Настройки - Договоры</title>
    <th:block th:insert="base :: links" />
</head>

<body class="page contract custom-scroll">
    <div class="page__content">
        <div th:replace="base :: main-nav"></div>

        <div class="platform__wrapper">
            <div class="platform__header">
                <h1 class="platform__title contracts-header__title">Договора</h1>
                <ul class="contract__tabs">
                    <li class="contract-tabs__item active" data-type="0">Для клиента</li>
                    <li class="contract-tabs__item" data-type="1">Для исполнителя</li>
                </ul>
            </div>
            <div class="platform__content">
                <div class="platform__nav">
                    <div class="platform__nav--left">
                        <input id="searchContract" autocomplete="off" class="platform__input--search contract__search" type="text"
                               placeholder="Введите название документа">
                        <label search-contract-btn for="searchContract" class="platform__search--start"></label>
                    </div>
                    <div class="platform__nav--right">
                        <button type="button" upload-contract class="platform__label platform__btn--black
                        contract__upload contract__upload-icon">Загрузить договор</button>
                    </div>
                </div>
                <div class="contract__wrapper custom-scroll">
                    <table contracts class="contract__table">
                        <tbody>
                        <tr class="contract__row contract__row--header">
                            <td class="contract__cell date">Дата загрузки</td>
                            <td class="contract__cell type">Тип документа</td>
                            <td class="contract__cell name">Название</td>
                            <td class="contract__cell who">Кто загрузил</td>
                            <td class="contract__cell status">Статус</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="base :: transition-loader"></div>
    <script th:src="@{/js/transition-loader.js}"></script>
<script th:inline='javascript'>
    /*<![CDATA[*/
    showLoader();
/*]]>*/
</script>

    <div th:replace="base :: contract-menu"></div>

    <th:block th:insert="base :: scripts" />
    <script th:inline='javascript'>
        /*<![CDATA[*/
        var filter = null;
        var role = [[${ role }]];
        var items = null;
        var today = null;
        var manager = null;
        var company = [[${ company }]];
        var managers = null;
        var socials = null;
        /*]]>*/
    </script>
</body>

</html>