<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Потоки">

    <title>Потоки</title>

    <th:block th:insert="base :: links" />
    <link th:href="@{/css/calendar.css}" rel="stylesheet">
</head>

<body class="page custom-scroll">
    <div class="page__content">
        <div th:replace="base :: main-nav"></div>

        <div class="platform__wrapper">
            <div class="platform__header">
                <div class="platform__title">Потоки</div>
            </div>
            <div class="content-main streams">
                <div class="content-main__wrapper content-main__wrapper_col">
                    <div class="content-main__panel content-main__panel_align content-main__panel_p content-main__panel_streams content-main__panel_large content-main__panel_col">

                        <form s-filter-form action="#" th:action="@{/streams/}" th:object="${filter}" th:method="post" class="content-setting">
                            <div class="menu-input__wrapper menu-input__wrapper_select menu-input__wrapper_medium menu-input__wrapper_mr">
                                <select s-filter class="menu-input__input menu-input__input_small menu-input__input_select menu-input__input_white" th:field="*{year}">
                                    <option th:each="year : ${years}"  th:value="${year}"  th:utext="${year}"></option>
                                </select>
                            </div>
                            <div class="menu-input__wrapper menu-input__wrapper_select menu-input__wrapper_medium menu-input__wrapper_mr">
                                <select s-filter class="menu-input__input menu-input__input_small menu-input__input_select menu-input__input_white" th:field="*{month}">
                                    <option value="1">Январь</option>
                                    <option value="2">Февраль</option>
                                    <option value="3">Март</option>
                                    <option value="4">Апрель</option>
                                    <option value="5">Май</option>
                                    <option value="6">Июнь</option>
                                    <option value="7">Июль</option>
                                    <option value="8">Август</option>
                                    <option value="9">Сентябрь</option>
                                    <option value="10">Октбярь</option>
                                    <option value="11">Ноябрь</option>
                                    <option value="12">Декабрь</option>
                                </select>
                            </div>

                            <div add-streams class="add-button add-button_right">Добавить повторяющиеся потоки</div>
                        </form>
                    </div>
                    <div class="content-main__panel content-main__panel_align content-main__panel_p content-main__panel_streams content-streams content-main__panel_large content-main__panel_col">
                        <table class="calendar">
                            <thead class="calendar__header">
                            <tr class="calendar__header-row">
                                <td class="calendar-header">ПН</td>
                                <td class="calendar-header">ВТ</td>
                                <td class="calendar-header">СР</td>
                                <td class="calendar-header">ЧТ</td>
                                <td class="calendar-header">ПТ</td>
                                <td class="calendar-header">СБ</td>
                                <td class="calendar-header">ВС</td>
                            </tr>
                            </thead>
                            <tbody class="calendar__body">
                            <th:block th:each="calendarRow : ${calendarRows}">
                                <tr class="calendar__body-row">
                                    <th:block th:each="calendarDate : ${calendarRow}">
                                        <th:block th:unless="${calendarDate.isCurrentMonth}">
                                            <td class="calendar-cell">
                                                <div class="calendar-cell__wrapper">
                                                    <div class="calendar-cell__date calendar-cell__date_gray" th:utext="${calendarDate.day}"></div>
                                                </div>
                                            </td>
                                        </th:block>

                                        <th:block th:if="${calendarDate.isCurrentMonth}">
                                            <td class="calendar-cell">
                                                <div edit-streams th:attr="data-date=${calendarDate.date}"class="calendar-cell__wrapper calendar-cell__wrapper_white" th:classappend="${calendarDate.isToday ? 'calendar-cell__wrapper_today' : ''}">
                                                    <div class="calendar-cell__date" th:utext="${calendarDate.day}"></div>
                                                    <div stream-list class="calendar-cell__streams">
                                                        <th:block th:if="${streamsMap.get(calendarDate.date)}">
                                                            <div  class="calendar-streams c-tooltip">
                                                                <div class="c-tooltip__wrapper c-tooltip__wrapper_right">
                                                                    <th:block th:each="streams : ${streamsMap.get(calendarDate.date)}">
                                                                        <div class="calendar-stream" th:classappend="${streams.isStarted ? 'calendar-stream_started' : ''}"><span th:utext="${streams.nameCourse}"></span></div>
                                                                    </th:block>
                                                                </div>
                                                                <div class="calendar-stream calendar-stream_hover"><span th:utext="${#lists.size(streamsMap.get(calendarDate.date)) + ' потоков'}"></span></div>
                                                            </div>
                                                        </th:block>
                                                        <th:block th:unless="${streamsMap.get(calendarDate.date)}">
                                                            <div class="calendar-streams">
                                                                <div class="calendar-text">Нет потоков</div>
                                                            </div>
                                                        </th:block>
                                                    </div>
                                                </div>
                                            </td>
                                        </th:block>
                                    </th:block>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div th:replace="base :: transition-loader"></div>
<script th:src="@{/js/transition-loader.js}"></script>
<script th:inline='javascript'>
    /*<![CDATA[*/
    showLoader();
/*]]>*/
</script>

<div th:replace="base :: menu-add-streams"></div>
<div th:replace="base :: menu-update-streams"></div>

<th:block th:insert="base :: scripts" />
<script th:src="@{/js/streams-filter.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    setCoursesMap(/*[[${coursesMap}]]*/);
    setProjectsList(/*[[${projects}]]*/);
    /*]]>*/
</script>
<script th:inline='javascript'>
    /*<![CDATA[*/
    var filter = [[${ filter }]];
    var role = [[${ role }]];
    var items = [[${ deals }]];
    var today = [[${ today }]];
    var manager = [[${ manager }]];
    var company = [[${ company }]];
    var managers = null;
    var socials = [[${ socials }]];
    /*]]>*/
</script>
</body>
</html>