<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Аналитика">

    <title>Успешная авторизация</title>
    <th:block th:insert="base :: links"/>
</head>
<body class="platform-callback custom-scroll">
    <h1>Авторизация прошла успешно, можно продолжить <a href="/">работу</a></h1>

    <script th:inline='javascript'>
        /*<![CDATA[*/
        var filter = null;
        var role = null;
        var items = null;
        var today = null;
        var manager = null;
        var company = null;
        var managers = null;
        var socials = null;
        /*]]>*/
    </script>
</body>
</html>