.analytic-content {
  &__filter {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
  }
}

.analytic-filter {
  &__form {
    margin-left: 40px;
  }

  &__list {
    display: inline-grid;
    grid-template-columns: max-content max-content max-content;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 227px;
      display: inline-block;
      width: 15px;
      height: 14px;
      mask-image: url("../../../assets/img/exchange.svg");
      background-color: $black;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: 100% 100%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 210px;
      display: inline-block;
      width: 1px;
      height: 40px;
      background-color: $menu-icon;
    }
  }

  &__item {
    position: relative;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: black;

    &:nth-child(2) {
      margin-left: 50px;
      margin-right: 40px;
    }

    &.calendar-icon {
      &::after {
        content: "";
        position: absolute;
        top: 10px;
        right: 15px;
        display: inline-block;
        width: 17px;
        height: 18px;
        mask-image: url("../../../assets/img/calendar.svg");
        background-color: $border-input;
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: 100% 100%;
      }
    }

    &.angle-icon {
      &::after {
        content: "";
        position: absolute;
        top: 11px;
        right: 15px;

        @include select-angle;
      }
    }
  }

  &__input {
    width: 210px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid $border-input;
    padding: 0 37px 0 15px;
  }

  &__select {
    display: inline-block;
    width: 190px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid $border-input;
    appearance: none;
    padding: 0 35px 0 15px;
    cursor: pointer;
  }
}
