@import "../../../assets/scss/mixins/mixins";

.widgets-progress {
  position: relative;
  height: 100%;

  &__bar {
    height: 100%;

    &.red {
      background-color: $red;
    }

    &.yellow {
      background-color: $yellow;
    }

    &.green {
      background-color: $green;
    }
  }

  &__value {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: $white;
    position: absolute;
    top: 50%;
    left: 14px;
    z-index: 1;
    transform: translateY(-50%);
  }

  &__plan {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: $color-tabs;

    &--value {
      color: $black;
    }
  }
}

.widgets-name {
  &__text {
    grid-area: text;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.widgets {
  display: grid;
  grid-template-areas: "order applications payment revenue prediction";
  margin-top: 35px;
  justify-content: start;

  &__count {
    margin-top: 20px;
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    color: $black;

    &--value {
      &.has-tooltip {
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
      }
    }
  }

  &__plan {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: $color-tabs;
    margin-top: 10px;

    &--value {
      color: $black;
    }
  }

  &__item {
    width: 219px;
    height: 219px;
    background-color: $white;
    border: 1px solid #f1f1f4;
    border-radius: 10px;
    padding: 20px 20px 20px 30px;

    &:not(:last-child) {
      margin-right: 30px;
    }

    &.black {
      background-color: $black;

      .widgets-name__text {
        color: $white;
      }

      .widgets__count {
        color: $white;
      }

      .widgets-progress__plan {
        color: $white;

        &--value {
          color: $white;
        }
      }
    }

    &.green {
      background-color: $green;

      .widgets-name__text {
        color: $white;
      }

      .widgets__count {
        color: $white;
      }

      .widgets-progress__plan {
        color: $white;

        &--value {
          color: $white;
        }
      }
    }

    &.red {
      background-color: $red;

      .widgets-name__text {
        color: $white;
      }

      .widgets__count {
        color: $white;
      }

      .widgets-progress__plan {
        color: $white;

        &--value {
          color: $white;
        }
      }
    }
  }

  &__tooltip {
    @include tooltp-monitor;
  }

  &__name {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    margin-top: -14px;
    display: grid;
    align-items: center;
    grid-template-areas: "icon text";
    grid-template-columns: 30px 105px;

    &::before {
      content: "";
      grid-area: icon;
      width: 30px;
      height: 30px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    &.order {
      &::before {
        background-image: url("../../../assets/img/i-horn.svg");
      }
    }

    &.application {
      &::before {
        background-image: url("../../../assets/img/i-cart.svg");
      }
    }

    &.sales {
      &::before {
        background-image: url("../../../assets/img/i-cash.svg");
      }
    }

    &.revenue {
      &::before {
        background-image: url("../../../assets/img/i-money.svg");
      }
    }

    &.prediction {
      &::before {
        background-image: url("../../../assets/img/i-chart.svg");
      }
    }
  }

  &__progress {
    margin-top: 15px;
    display: inline-block;
    width: 100%;
    height: 33px;
    background-color: $progress-bar-bg;
  }

  &__complete {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: $white;
    margin-top: 30px;
  }
}

.widgets-tooltip {
  &__wrapper {
    max-width: 190px;
    height: auto;
    font-size: 11px;
    font-weight: 400;
    line-height: 26px;
    width: 190px;

    &--count {
      left: 0;
      transform: translateX(0);
    }
  }
}
