.monitor-content {
  width: 100%;
  max-height: calc(100vh - 70px);
  overflow-y: scroll;
  grid-area: "content";

  &__wrapper {
    max-width: 100%;
    grid-area: content;
  }
}

@media (min-width: 1000px) {
  .monitor {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-areas: "menu content";
  }

  .monitor-content {
    max-height: 100vh;

    &__wrapper {
      max-width: 1256px;
      padding-bottom: 40px;
      padding-left: 40px;
    }
  }
}
