.contracts {
  &__nav {
    display: grid;
    width: 100%;
    justify-content: space-between;
    grid-template-columns: 340px 180px;
    height: 40px;
    margin-top: 20px;
  }
}

.contracts-search {
  &__input {
    background-color: $white;
    width: 100%;
    height: 100%;
    padding: 0 50px 0 15px;
  }
}
