$black: #161718;
$white: #ffffff;
$content-selector: rgba(196, 196, 196, 0.4);
$red: #FF284F;
$green: #27AE60;
$noactiveItem: #9C9BA6;
$transparent: transparent;
$payment: #00a884;
$borderInput: #C3C2C9;
$billText: #acacb2;
$clientAccesText: #636363;
$colorTableNavItems: #b4b3bb;
