.analytic-content {
  width: 100%;
  max-height: calc(100vh - 70px);
  overflow-y: scroll;
  grid-area: "content";
  background-color: $body;

  &__wrapper {
    max-width: 100%;
    grid-area: content;
  }
}

@media (min-width: 1000px) {
  .analytic {
    display: grid;
    grid-template-columns: 70px calc(100vw - 70px);
    grid-template-areas: "menu content";
  }

  .analytic-content {
    max-height: 100vh;

    &__wrapper {
      max-width: 1256px;
      padding-bottom: 40px;
      padding-left: 40px;
    }
  }
}
