.monitor {
  &__filter {
    display: grid;
    grid-template-columns: 90px 701px;
    grid-template-areas: "filter-btn filter-list";
    margin-top: 20px;
    justify-content: space-between;
    padding-right: 40px;
    padding-left: 40px;
  }
}

.monitor-filter {
  &__list {
    grid-area: filter-list;
    display: grid;
    grid-template-columns: 440px 220px;
    grid-template-areas: "period deals";
    justify-content: space-between;
  }

  &__open {
    grid-area: filter-btn;
  }
}

.period {
  grid-area: period;

  &__list {
    position: relative;
    display: grid;
    justify-content: flex-start;
    grid-template-areas: "today yesterday week month";
    width: 440px;

    &::after {
      content: "";
      width: 1px;
      height: 41px;
      display: inline-block;
      position: absolute;
      top: 0;
      right: -20px;
      background-color: $content-delimetr;
    }
  }

  &__item {
    border: 1px solid $black;
    width: 110px;
    min-width: 110px;
    cursor: pointer;
    background-color: $transparent;
    color: $black;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    height: 40px;
    transition: all 0.2s linear;
    display: grid;
    align-items: center;
    justify-items: center;

    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    &.active {
      background-color: $black;
      color: $white;
    }

    &:hover {
      background-color: $black;
      color: $white;
    }
  }
}

.deals {
  grid-area: deals;
  width: 220px;

  &__list {
    display: grid;
    justify-content: flex-start;
    grid-template-areas: "all my";
  }

  &__item {
    border: 1px solid $black;
    width: 110px;
    min-width: 110px;
    cursor: pointer;
    background-color: $transparent;
    color: $black;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    height: 40px;
    transition: all 0.2s linear;
    display: grid;
    align-items: center;
    justify-items: center;

    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    &.active {
      background-color: $black;
      color: $white;
    }

    &:hover {
      background-color: $black;
      color: $white;
    }
  }
}

@media (min-width: 1000px) {
  .monitor {
    &__filter {
      padding-left: 0;
    }
  }
}

@media (min-width: 1335px) {
  .monitor {
    &__filter {
      padding-right: 0;
    }
  }
}
