.audience {
  &__menu {
    width: calc(100vw - 70px);
  }

  &__search {
    width: 100%;
    height: 40px;
  }

  &__list {
    height: calc(100vh - 70px);
  }

  &__communities {
    margin-top: 20px;
  }
}

.audience-search {
  &__input {
    display: grid;
    align-content: center;
    width: 100%;
    height: 100%;
    padding: 0 50px 0 30px;
  }
}

.communities-list {
  box-shadow: 0 4px 8px rgba(5, 4, 20, 0.06);
  border: 1px solid $manager-row-border;

  &__item {
    &:not(:first-child) {
      border-top: 1px solid $manager-row-border;
    }
  }

  &__label {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    height: 45px;
    padding: 0 15px;
    width: 100%;
  }

  &__title {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    height: 45px;
  }
}
