.menu {
  grid-area: menu;
  width: 100vw;
  overflow: hidden;
  max-height: 60px;
  box-shadow: 5px 0 25px rgba(7, 2, 14, 0.05);
  color: $menu-item;
  position: relative;
  z-index: 2;
  background-color: $white;

  &.open {
    max-height: 100vh;
  }

  &.overflowed {
    overflow: visible;
  }

  &__company {
    height: 60px;
    display: grid;
    grid-template-columns: 26px 30px;
    grid-template-areas: "btn img";
    align-content: center;
    justify-content: space-between;
    padding: 0 50px 0 60px;
    align-items: center;
  }

  &__selector {
    width: 100%;
    height: 1px;
    background-color: rgba(191, 192, 196, 0.3);
    transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
    opacity: 0;
  }

  &__list {
    width: 100%;
    height: calc(100vh - 150px);
    overflow-x: hidden;

    &.open {
      overflow-x: visible;
    }
  }

  &__logout {
    min-height: 80px;
    height: 80px;
  }

  &:hover {
    .menu__selector {
      opacity: 1;
    }
  }
}

.menu-open {
  &__row {
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: $black;
    transition: all 0.2s linear;

    &::after,
    &::before {
      content: "";
      display: inline-block;
      width: 100%;
      height: 3px;
      background-color: $black;
      position: absolute;
      transition: all 0.2s linear;
    }

    &::after {
      bottom: 0;
      right: 0;
    }

    &::before {
      top: 0;
      left: 0;
    }
  }
}

.menu-company {
  &__open {
    grid-area: btn;
    display: grid;
    width: 26px;
    height: 20px;
    align-content: center;
    position: relative;
    cursor: pointer;

    &.open {
      .menu-open__row {
        transform: rotate(45deg);

        &::before {
          transform: rotate(90deg);
        }
      }
    }
  }

  &__img {
    grid-area: img;
    height: 30px;
    width: 30px;
    border-radius: 100%;
  }

  &__info {
    display: none;
  }
}

.menu-item {
  width: 100%;
  margin-top: 20px;

  &:last-child {
    margin-bottom: 20px;
  }

  &__link {
    display: flex;
    align-items: center;
    height: max-content;
    width: 100%;
    color: $menu-item;
    transition: all 0.2s linear;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    white-space: nowrap;

    &::before {
      content: "";
      position: relative;
      display: inline-block;
      width: 70px;
      height: max-content;
      background-color: $menu-icon;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: 23px 22px;
      transition: all 0.2s linear;
      min-width: 70px;
    }

    &.dashboard {
      &::before {
        mask-image: url("../../../assets/img/nav-dashboard.svg");
        height: 22px;
      }
    }

    &.funnel {
      &::before {
        mask-image: url("../../../assets/img/nav-funnels.svg");
        height: 22px;
      }
    }

    &.crm {
      &::before {
        mask-image: url("../../../assets/img/nav-crm.svg");
        mask-size: 17px 22px;
        height: 22px;
      }
    }

    &.office {
      &::before {
        mask-image: url("../../../assets/img/nav-office.svg");
        mask-size: 22px 14px;
        height: 14px;
      }
    }

    &.bills {
      &::before {
        mask-image: url("../../../assets/img/nav-bills.svg");
        mask-size: 20px 20px;
        height: 20px;
      }
    }

    &.clients {
      &::before {
        mask-image: url("../../../assets/img/nav-clients.svg");
        mask-size: 20px 20px;
        height: 20px;
      }
    }

    &.homework {
      &::before {
        mask-image: url("../../../assets/img/nav-homework.svg");
        mask-size: 22px 22px;
        height: 22px;
      }
    }

    &.finance {
      &::before {
        mask-image: url("../../../assets/img/nav-finance.svg");
        height: 22px;
      }
    }

    &.funnels {
      &::before {
        mask-image: url("../../../assets/img/nav-funnel.svg");
        mask-size: 22px 22px;
        height: 22px;
      }
    }

    &.team {
      &::before {
        mask-image: url("../../../assets/img/nav-team.svg");
        mask-size: 22px 19px;
        height: 19px;
      }
    }

    &.products {
      &::before {
        mask-image: url("../../../assets/img/nav-products.svg");
        mask-size: 22px 22px;
        height: 22px;
      }
    }

    &.marketing {
      &::before {
        mask-image: url("../../../assets/img/nav-marketing.svg");
        height: 22px;
      }
    }

    &.control {
      &::before {
        mask-image: url("../../../assets/img/nav-control.svg");
        height: 22px;
      }
    }

    &.settings {
      &::before {
        mask-image: url("../../../assets/img/nav-settings.svg");
        mask-size: 21px 21px;
        height: 21px;
      }
    }

    &:hover {
      color: $black;

      &::before {
        background-color: $black;
      }
    }
  }

  &.active {
    .menu-item__link {
      color: $black;

      &::before {
        background-color: $black;
      }
    }
  }
}

.menu-logout {
  &__link {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    height: 100%;
    transition: all 0.2s linear;

    &::before {
      content: "";
      position: relative;
      display: inline-block;
      width: 70px;
      height: 70px;
      mask-image: url("../../../assets/img/nav-exit.svg");
      background-color: $menu-icon;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: 23px 22px;
      transition: all 0.2s linear;
      min-width: 70px;
    }

    &:hover {
      color: $black;

      &::before {
        background-color: $black;
      }
    }
  }
}

.sub-menu {
  position: relative;
  top: 0;
  background-color: $white;
  width: 0;
  height: 0;
  min-height: 0;
  z-index: 1;
  overflow: hidden;
  transition: width 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  box-shadow: 5px 0 25px rgba(7, 2, 14, 0.05);

  &.open {
    width: 310px;
    min-height: 100vh;
  }

  &.open_t0 {
    width: 310px;
    min-height: 100vh;
    transition: none;
  }

  &.close {
    transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    width: 0;
    min-height: 100vh;
  }

  &.open-mobile {
    position: relative;
    top: 0;
    left: 0;
    min-height: auto;
    width: 100vw;
    transition: none;
  }

  &__header {
    display: grid;
    align-content: center;
    width: 100%;
    height: 100px;
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    border-bottom: 1px solid rgba(215, 216, 227, 0.6);
    padding-left: 40px;
  }

  &__item {
    width: 100%;
    height: 50px;
    min-height: 50px;
    color: $menu-item;
    border-bottom: 1px solid rgba(215, 216, 227, 0.6);

    &.active {
      color: $black;
    }
  }

  &__link {
    width: 100%;
    color: $menu-item;
    white-space: nowrap;
    padding: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    padding-left: 30px;
    display: grid;
    align-content: center;
    justify-content: start;
    grid-template-columns: 35px max-content;
    align-items: center;
    height: 100%;

    &::before {
      content: "";
      display: inline-block;
      background-color: $menu-item;
      mask-repeat: no-repeat;
      mask-position: center;
      margin-right: 20px;
    }

    &:hover {
      color: $black;

      &::before {
        background-color: $black;
      }
    }

    &.base {
      &::before {
        width: 15px;
        height: 14px;
        mask-image: url("../../../assets/img/nav-settings-main.svg");
        mask-size: 100% 100%;
      }
    }

    &.contracts {
      &::before {
        width: 11px;
        height: 15px;
        mask-image: url("../../../assets/img/nav-settings-contracts.svg");
        mask-size: 100% 100%;
      }
    }

    &.projects {
      &::before {
        width: 15px;
        height: 16px;
        mask-image: url("../../../assets/img/nav-settings-projects.svg");
        mask-size: 100% 100%;
      }
    }

    &.users {
      &::before {
        width: 15px;
        height: 16px;
        mask-image: url("../../../assets/img/nav-settings-users.svg");
        mask-size: 100% 100%;
      }
    }

    &.integrations {
      &::before {
        width: 15px;
        height: 16px;
        mask-image: url("../../../assets/img/nav-settings-integrations.svg");
        mask-size: 100% 100%;
      }
    }

    &.template-bills {
      &::before {
        width: 15px;
        height: 16px;
        mask-image: url("../../../assets/img/nav-settings-template-bills.svg");
        mask-size: 100% 100%;
      }
    }

    &.pm-bills {
      &::before {
        width: 15px;
        height: 16px;
        mask-image: url("../../../assets/img/nav-settings-pm-bills.svg");
        mask-size: 100% 100%;
      }
    }

    &.module-banner {
      &::before {
        width: 15px;
        height: 16px;
        mask-image: url("../../../assets/img/nav-settings-module-banner.svg");
        mask-size: 100% 100%;
      }
    }

    &.clear-clones {
      &::before {
        width: 15px;
        height: 16px;
        mask-image: url("../../../assets/img/nav-settings-clear-clones.svg");
        mask-size: 100% 100%;
      }
    }

    &.pf-builder {
      &::before {
        width: 15px;
        height: 16px;
        mask-image: url("../../../assets/img/nav-settings-pf-builder.svg");
        mask-size: 100% 100%;
      }
    }

    &.salary {
      &::before {
        width: 15px;
        height: 16px;
        mask-image: url("../../../assets/img/nav-team-salary.svg");
        mask-size: 100% 100%;
      }
    }

    &.work-tracker {
      &::before {
        width: 15px;
        height: 16px;
        mask-image: url("../../../assets/img/nav-team-graphic.svg");
        mask-size: 100% 100%;
      }
    }

    &.plans {
      &::before {
        width: 15px;
        height: 16px;
        mask-image: url("../../../assets/img/nav-team-plan.svg");
        mask-size: 100% 100%;
      }
    }

    &.motivation {
      &::before {
        width: 15px;
        height: 16px;
        mask-image: url("../../../assets/img/nav-team-motivation.svg");
        mask-size: 100% 100%;
      }
    }

    &.action {
      &::before {
        width: 15px;
        height: 16px;
        mask-image: url("../../../assets/img/nav-team-actions.svg");
        mask-size: 100% 100%;
      }
    }

    &.products {
      &::before {
        width: 15px;
        height: 16px;
        mask-image: url("../../../assets/img/nav-products-catalog.svg");
        mask-size: 100% 100%;
      }
    }

    &.streams {
      &::before {
        width: 15px;
        height: 16px;
        mask-image: url("../../../assets/img/nav-products-streams.svg");
        mask-size: 100% 100%;
      }
    }
  }
}

@media (min-width: 1000px) {
  nav {
    grid-area: menu;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-areas: "menu-desktop submenu-desktop";
    width: max-content;
  }

  .menu {
    grid-area: menu-desktop;
    width: 70px;
    max-height: 100vh;

    &__company {
      display: grid;
      grid-template-columns: 70px 230px;
      grid-template-areas: "img description";
      height: 70px;
      padding: 0;
    }

    &__list {
      width: 100%;
      height: calc(100vh - 150px);
      overflow-x: hidden;

      &.open {
        overflow-x: visible;
      }
    }

    &__logout {
      min-height: 80px;
      height: 80px;
    }
  }

  .menu-company {
    &__open {
      display: none;
    }

    &__info {
      display: block;
      padding-left: 10px;
    }

    &__img {
      width: 70px;
      height: 70px;
      border-radius: 0;
    }

    &__title {
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      color: $black;
    }

    &__name {
      height: max-content;
      color: $menu-item;
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      margin-top: 7px;
    }
  }

  .submenu__list {
    grid-area: submenu-desktop;
    width: max-content;
  }

  .submenu-list {
    &__item {
      width: max-content;
      height: max-content;
    }
  }
}
