.menu {
  grid-area: menu;
  width: 100vw;
  overflow: hidden;
  max-height: 60px;
  box-shadow: 5px 0 25px rgba(7, 2, 14, 0.05);
  color: $menu-item;
  position: relative;
  z-index: 2;
  background-color: $white;

  &.open {
    max-height: 100vh;
  }

  &.overflowed {
    overflow: visible;
  }

  &__company {
    height: 60px;
    display: grid;
    grid-template-columns: 26px 30px;
    grid-template-areas: "btn img";
    align-content: center;
    justify-content: space-between;
    padding: 0 50px 0 60px;
    align-items: center;
  }

  &__selector {
    width: 100%;
    height: 1px;
    background-color: rgba(191, 192, 196, 0.3);
    transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
    opacity: 0;
  }

  &__list {
    width: 100%;
    height: calc(100vh - 150px);
    overflow-x: hidden;

    &.open {
      overflow-x: visible;
    }
  }

  &__logout {
    min-height: 80px;
    height: 80px;
  }

  &:hover {
    .menu__selector {
      opacity: 1;
    }
  }
}

.menu-open {
  &__row {
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: $black;
    transition: all 0.2s linear;

    &::after,
    &::before {
      content: "";
      display: inline-block;
      width: 100%;
      height: 3px;
      background-color: $black;
      position: absolute;
      transition: all 0.2s linear;
    }

    &::after {
      bottom: 0;
      right: 0;
    }

    &::before {
      top: 0;
      left: 0;
    }
  }
}

.menu-company {
  &__open {
    grid-area: btn;
    display: grid;
    width: 26px;
    height: 20px;
    align-content: center;
    position: relative;
    cursor: pointer;

    &.open {
      .menu-open__row {
        transform: rotate(45deg);

        &::before {
          transform: rotate(90deg);
        }
      }
    }
  }

  &__img {
    grid-area: img;
    height: 30px;
    width: 30px;
    border-radius: 100%;
  }

  &__info {
    display: none;
  }
}

.menu-item {
  width: 100%;

  &__link {
    display: flex;
    align-items: center;
    height: auto;
    width: 100%;
    color: $menu-item;
    transition: all 0.2s linear;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    white-space: nowrap;

    &::before {
      content: "";
      position: relative;
      display: inline-block;
      width: 70px;
      height: 50px;
      background-color: $menu-icon;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: 23px 22px;
      transition: all 0.2s linear;
      min-width: 70px;
    }

    &.dashboard {
      &::before {
        mask-image: url("../../../assets/img/nav-dashboard.svg");
      }
    }

    &.funnel {
      &::before {
        mask-image: url("../../../assets/img/nav-funnel.svg");
      }
    }

    &.crm {
      &::before {
        mask-image: url("../../../assets/img/nav-crm.svg");
        mask-size: 17px 22px;
      }
    }

    &.office {
      &::before {
        mask-image: url("../../../assets/img/nav-office.svg");
        mask-size: 22px 14px;
      }
    }

    &.finance {
      &::before {
        mask-image: url("../../../assets/img/nav-finance.svg");
      }
    }

    &.team {
      &::before {
        mask-image: url("../../../assets/img/nav-team.svg");
        mask-size: 22px 19px;
      }
    }

    &.products {
      &::before {
        mask-image: url("../../../assets/img/nav-products.svg");
        mask-size: 22px 22px;
      }
    }

    &.marketing {
      &::before {
        mask-image: url("../../../assets/img/nav-marketing.svg");
      }
    }

    &.control {
      &::before {
        mask-image: url("../../../assets/img/nav-control.svg");
      }
    }

    &.settings {
      &::before {
        mask-image: url("../../../assets/img/nav-settings.svg");
        mask-size: 21px 21px;
      }
    }

    &:hover {
      color: $black;

      &::before {
        background-color: $black;
      }
    }
  }

  &.active {
    .menu-item__link {
      color: $black;

      &::before {
        background-color: $black;
      }
    }
  }
}

.menu-logout {
  &__link {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    height: 100%;
    transition: all 0.2s linear;

    &::before {
      content: "";
      position: relative;
      display: inline-block;
      width: 70px;
      height: 70px;
      mask-image: url("../../../assets/img/nav-exit.svg");
      background-color: $menu-icon;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: 23px 22px;
      transition: all 0.2s linear;
      min-width: 70px;
    }

    &:hover {
      color: $black;

      &::before {
        background-color: $black;
      }
    }
  }
}

.sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  height: auto;
  min-height: 100vh;
  background-color: $black;
  width: 0;
  z-index: 1;
  overflow: hidden;

  &.open {
    transition: width 0.6s cubic-bezier(0.86, 0, 0.07, 1);
    width: 220px;
  }

  &.open_t0 {
    width: 220px;
    transition: none;
  }

  &.close {
    transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    width: 0;
  }

  &.open-mobile {
    position: relative;
    top: 0;
    left: 0;
    min-height: auto;
    width: 100vw;
    transition: none;
  }

  &__item {
    width: 100%;
    color: inherit;
  }

  &__link {
    width: 100%;
    color: inherit;
    white-space: nowrap;
    padding: 20px;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14px;

    &:hover {
      background-color: $hover-sub-menu-item;
    }
  }
}

@media (min-width: 1000px) {
  .menu {
    width: 70px;
    max-height: 100vh;
    transition: width 0.6s cubic-bezier(0.86, 0, 0.07, 1);

    &.open {
      width: 300px;
    }

    &__company {
      display: grid;
      grid-template-columns: 70px 230px;
      grid-template-areas: "img description";
      height: 70px;
      padding: 0;
    }

    &__list {
      width: 100%;
      height: calc(100vh - 150px);
      overflow-x: hidden;

      &.open {
        overflow-x: visible;
      }
    }

    &__logout {
      min-height: 80px;
      height: 80px;
    }
  }

  .menu-company {
    &__open {
      display: none;
    }

    &__info {
      display: block;
      padding-left: 10px;
    }

    &__img {
      width: 70px;
      height: 70px;
      border-radius: 0;
    }

    &__title {
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      color: $black;
    }

    &__name {
      height: max-content;
      color: $menu-item;
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      margin-top: 7px;
    }
  }
}
